<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="span5" id="logo">
      <%= link_to image_tag("reppio_logo_white.png"), root_url %>
    </div>
    <div class="span7" style="text-align:right;">
      <button class="rep-btn rep-btn-light-blue" href="#loginModal" role="button" data-toggle="modal">Login</button>&nbsp;&nbsp;&nbsp;
      <button class="rep-btn rep-btn-light-blue" href="#signUpModal" role="button" data-toggle="modal">Sign Up</button>&nbsp;&nbsp;&nbsp;

      <%= render(:partial=>"sessions/sign_up_modal") %>
      <%= render(:partial=>"sessions/log_in_modal") %>
      <span id="header-social-icons">
      <a href="https://www.facebook.com/Reppio" target="_blank"><%= image_tag "social_icons/facebook_s.png" %></a>
      &nbsp;&nbsp;
      <a href="https://twitter.com/reppio" target="_blank"><%= image_tag "social_icons/twitter_s.png" %></a>
         &nbsp;&nbsp;
      <a href="http://pinterest.com/reppio/" target="_blank"><%= image_tag "social_icons/pinterest_s.png" %></a>&nbsp;
     </span>
    </div>
  </div>
</div>