<% direct_to_page ||="" %>
<%= form_tag({:controller => 'sessions', :action => 'create'}, :class=>"login-form") do %>

    <fieldset>


      <div style="font-size:1.4em; font-weight:400;">Buy and sell with reputable people.</div>

       <div style="color:#000;margin-top:20px; margin-bottom: 10px;">
      <%= image_tag 'modal/meg-bubble.png', :class=>"meg-bubble" %><%= rep_meter_large(98, "rep-score-inline") %>
       </div>

      <div>
        <a class="fb-auth btn-facebook" style="color:white;" href="/auth/facebook?origin=<%= "http://#{request.host}#{request.fullpath}"%>" target='_blank'>Login
          with Facebook</a></div>
      <div class="or-with-line">
        <div>or</div>
      </div>
      <div style="text-align: left;
              margin-top: 20px;
              line-height: 50px;">
          <%= text_field_tag :email, params[:email], :placeholder=>"email" %>
          <%= password_field_tag :password, params[:password], :placeholder=>"password" %>
        <%= hidden_field_tag :direct_to_page, direct_to_page %>
            <%= submit_tag "Login", :class => "flat-btn-blue" %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="forgot" style="cursor:pointer;">Forgot Password?</a>
      </div>
    </fieldset>
<% end %>

<div class="forgot-password" style="display:none;">
  <form action="/reset_password/" method="post">
    Enter your email address to reset your password.<br><br>

      <%= text_field_tag :email, '', :placeholder=>"email" %>
      <%= submit_tag "Reset Password", :class => "flat-btn-blue" %>


</form>
</div>


<script type="text/javascript">
    function popupCenter(url, width, height, name) {
        var left = (screen.width / 2) - (width / 2);
        var top = (screen.height / 2) - (height / 2);
        return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",toolbar=no,left=" + left + ",top=" + top);
    }

    $("a.fb-auth").click(function (e) {
        popupCenter($(this).attr("href"), 420, 440, "authPopup");
        e.stopPropagation();
        return false;
    });
    $('a.forgot').click(function () {
        $('.login-form').slideUp();
        $('.forgot-password').slideDown();
    });
</script>