<div id="loginModal" class="modal hide fade sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
   <div class="reppio-modal-header"></div>
  <div class="reppio-modal-body">
    <%= render(:partial=>"sessions/loginForm")%>
  </div>
</div>
