<div id="signUpModal" class="modal hide fade sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="reppio-modal-header"></div>
  <div class="reppio-modal-body">
    <%= render(:partial=>"users/signUpForm")%>
  </div>
</div>
