<% title "Welcome to Reppio: Log In, Sign Up, or Learn More" %>

<div class="body-wrapper">

  <script type="text/javascript">
      window.opener.location = '<%= @redirect_url %>';
      window.close();
  </script>
  Thanks! You've successfully connected with Facebook. You can close this window now.
</div>