<% title "Welcome to Reppio: Log In, Sign Up, or Learn More" %>
<% content_for :blue_header_image_height, "400" %>

<div class="rep-container" style="left:0px; right:0px; margin:0 auto; text-align:center; width:400px; height:520px; padding:20px;margin-bottom:20px;">
  <br>
  <%= render(:partial => "loginForm", :locals => {:direct_to_page => @redirect_to}) %>
</div>



