<div class="row-fluid row-fluid-style">
  <div class="span12">
    <div class="rep_container" style="padding:20px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow: none;">
      <h2>Hi Jack!</h2>

      <hr style="border-bottom:0px;">

      <%= form_tag "jackterminal"%>
      <div class="row-fluid">
        <div class="span12">
          H: <%= text_field_tag :h %>  <br>
          S: <%= text_field_tag :s %>  <br>
          E: <%= text_field_tag :e %>  <br>
        </div>
      </div>
      <%= submit_tag "Submit", :class=>"btn btn-success btn-large" %>
      </form>
    </div>
  </div>
</div>