Hi  <%= @name %>!
<br /><br />
Your password was reset to:

<h3><%= @new_password %></h3>

Once you've logged in, you can change it at <%= link_to @set_password_link, @set_password_link %>.
<br>
<br>
Love,  <br>
The Rep Team