Hi <%= @first_name %>!
<br><br>
Welcome to Reppio. Click the button below to confirm
your email address. <br><br>

<div style="background-color:#e4e4e4;border-top:1px solid #989898;border-bottom:1px solid #989898;padding:10px;width:650px;text-align:center">
  <div style="background-color:#3b5997;border:1px solid #989898;padding:5px;width:150px;color:#ffffff;text-align:center; display:inline;">
    <%= link_to "Confirm Email Address", @link, :style => "color:#ffffff;text-decoration:none;", :target => "_blank" %>
  </div>
</div>
<br><br>
<br>
<br>
Love,
<br>The Rep Team
