Hi <%= @first_name %>,
<br><br>
For future correspondence on Reppio, your username and temporary password is listed below.

<h3>Username: <span style="font-weight:normal;"><%= @email %></span></h3>
<h3>Password: <span style="font-weight:normal;"><%= @password %></span></h3>

If this is a little hard to remember, you can change your password <a href="http://www.reppio.com/settings">here</a>.

<br><br>
Cheers!<br>
The Rep Team


