Hi <%= @first_name %>!

Welcome to Reppio. To activate your account, we need to confirm your email address.
Click the link below or copy and paste the url into your browser to confirm
your email address.

<%= @link %>

Love,
The Rep Team