Hi <%= @first_name %>,
<br><br>
Thanks for inquiring about "<b><%= @postingTitle %></b>".
<br><br>
We want to make sure you're not a robot <span style="font-size:1.3em">☺</span>
Please click the button below to verify your email address.
<br><br>
<div style="background-color:#e4e4e4;border-top:1px solid #989898;border-bottom:1px solid #989898;padding:10px;width:650px;text-align:center">
  <div style="background-color:#3b5997;border:1px solid #989898;padding:5px;width:150px;color:#ffffff;text-align:center; display:inline;">
    <%= link_to "Confirm Email Address", @link, :style => "color:#ffffff;text-decoration:none;", :target => "_blank" %>
  </div>
</div>
<br><br>
Happy Shopping!
<br>The Rep Team
