Hi <%= @first_name %>!

Welcome to Reppio.

We want to make sure you're not a robot. Please click
the link below or copy and paste the url
into your browser to confirm your email address.

<%= @link %>

To log on to Reppio again, your temporary password is:

<%= @password %>

Love,
The Rep Team