<table border="0" cellspacing="0" cellpadding="0" style="width:100%; font-family:'Helvetica Neue', 'Helvetica', sans-serif;">
  <tbody>
  <tr style="background-color: #37BBD2; width:100%;">
    <td height="80" colspan="3" align="center" style="width:100%;height:80px;">
      <a href="http://www.reppio.com/" target="_blank" style="text-decoration: none;">
        <img src="http://www.reppio.com/assets/reppio_logo_white.png" title="Reppio logo" alt="Reppio logo" border="0">
      </a>
    </td>
  </tr>
  <tr>
    <td style="background-color:#ebeae9;">

      <div style="margin:0 auto; width:550px; background-color:white;">
        <img src="http://www.reppio.com/assets/welcome_email/hello.png" title="Hello! Welcome to the always free Reppio marketplace" alt="Hello! Welcome to the always free Reppio marketplace" border="0">
      </div>
    </td>
  </tr>
  <tr>
    <td height="96" style="background: url('http://www.reppio.com/assets/welcome_email/banner.png') center center no-repeat, #ebeae9;text-align: center;">
     </td>
    </tr>
  <tr>
    <td style="background-color:#ebeae9;">

      <div style="margin:0 auto; width:550px; background-color:white;padding-top: 80px;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
          <tbody>
          <tr style="vertical-align:top;">
            <td>
              <img src="http://www.reppio.com/assets/welcome_email/discoveryicon.png" title="Discover" alt="Discover" border="0" style="margin-left:20px; margin-right:15px;">
            </td>
            <td style="color:#727272;font-family:'Helvetica Neue', 'Helvetica', sans-serif; padding-right:20px; padding-bottom: 80px;">
              <span style="font-size:20px;"><strong>1. Discover - </strong></span><span style="font-size:20px;"> Find unique local items</span>
              <br>
              <a href="http://www.reppio.com/search" target="_blank" style="text-decoration: none;">
                <div style="color:white; background-color:#f34328; width: 150px; text-align:center; height: 35px; font-size:20px;line-height: 35px;margin-top: 10px;margin-bottom: 30px;">Search
                  Now
                </div>
              </a>

            </td>
          </tr>
          <tr style="vertical-align:top;">
            <td>
              <img src="http://www.reppio.com/assets/welcome_email/sellicon.png" title="Sell" alt="Sell" border="0" style="margin-left:20px; margin-right:15px;">
            </td>
            <td style="color:#727272;font-family:'Helvetica Neue', 'Helvetica', sans-serif;padding-right:20px;padding-bottom:80px;">
              <span style="font-size:20px;"><strong>2. Sell in seconds - </strong></span><span style="font-size:20px;"> Earn some cash by creating beautiful postings in 30 seconds or less</span>
              <br>
              <a href="http://www.reppio.com/<%=@user_name%>/postings/new" target="_blank" style="text-decoration: none;">
                <div style="color:white; background-color:#f34328; width: 150px; text-align:center; height: 35px; font-size:20px;line-height: 35px;margin-top: 10px;margin-bottom: 30px;">Sell
                  Now
                </div>
              </a>
            </td>
          </tr>
          <tr style="vertical-align:top;">
            <td>
              <img src="http://www.reppio.com/assets/welcome_email/playicon.png" title="Learn More" alt="Learn More" border="0" style="margin-left:20px; margin-right:15px;">
            </td>
            <td style="color:#727272;font-family:'Helvetica Neue', 'Helvetica', sans-serif;padding-right:20px;padding-bottom:80px;">
              <span style="font-size:20px;"><strong>3. Learn More - </strong></span><span style="font-size:20px;">Watch our video</span>
              <br>
              <a href="http://www.reppio.com/about" target="_blank" style="text-decoration: none;">
                <div style="color:white; background-color:#f34328; width: 150px; text-align:center; height: 35px; font-size:20px;line-height: 35px;margin-top: 10px;margin-bottom: 30px;">Watch
                  Video
                </div>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div style="color:#727272;font-family:'Helvetica Neue', 'Helvetica', sans-serif; font-size:30px; text-align:center;">Show
          Some Love
        </div>
        <div style="text-align: center; width:100%;margin-top:20px; padding-bottom:20px;">
          <a href="https://www.facebook.com/Reppio" target="_blank" style="text-decoration: none;">
            <img src="http://www.reppio.com/assets/welcome_email/fbicon.png" title="Like us on Facebook" alt="Like us on Facebook" border="0" style="margin-right:10px;">
          </a>
          <a href="http://pinterest.com/reppio/" target="_blank" style="text-decoration: none;">
            <img src="http://www.reppio.com/assets/welcome_email/pinteresticon.png" title="Check out our Pinterest board" alt="Check out our Pinterest board" border="0" style="margin-left:10px;">
          </a>
        </div>
      </div>
    </td>
  </tr>
  <tr height="35" style="background-color: #37BBD2; height:35px; width:100%; color:white; text-align:center;">
    <td>
      &copy; 2013 Reppio- <em>Simple selling. Safe buying.</em>
    </td>
  </tr>
  </tbody>
</table>