function conversation_view_scripts(){
    if ($(".conversation-messages-container")[0] != undefined) {
        $(".conversation-messages-container").scrollTop($(".conversation-messages-container")[0].scrollHeight);


        $("#message-form").submit(function () {
            $('input[type=submit]').attr('disabled', true);
        });

        function buy_actions_active() {
            $('#messages-content').hide();
            $('#buy-actions-content').fadeIn();
            $('#buy-actions-tab').removeClass('tab').addClass('active-tab');
            $('#messages-tab').removeClass('active-tab').addClass("tab");
        }

        function messages_active() {
            $('#buy-actions-content').hide();
            $('#messages-content').fadeIn();
            $('#messages-tab').removeClass('tab').addClass('active-tab');
            $('#buy-actions-tab').removeClass('active-tab').addClass("tab");
            $(".conversation-messages-container").scrollTop($(".conversation-messages-container")[0].scrollHeight);
        }

        $('#buy-actions-tab').click(function () {
            buy_actions_active();
        });

        $('#messages-tab').click(function () {
            messages_active();
        });
        $('.hasTooltip').tooltip();


$('a[data-confirm]').click(function(ev) {
var href = $(this).attr('href');

if (!$('#dataConfirmModal').length) {
$('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">YES</a></div></div>');
}
$('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
$('#dataConfirmOK').attr('href', href);
$('#dataConfirmModal').modal({show:true});
return false;
});


    }
}
conversation_view_scripts();