<% if message.message_from_seller %>
    <div class="message" style="background-color:#e6ffd6; margin-left:20%; margin-top:5px; margin-bottom:10px; border-radius:10px; padding:10px" align="right">
      <i><%= time_ago_in_words(message.created_at).sub("about", "").sub("hour", "hr").sub("minute", "min").sub("ago", "") %>
        ago</i> | <b><%= sellerName %></b>
      <br>
      <div style="color:#535353"><%= simple_format h(message.message_body) %></div>
    </div>
<% else %>
    <div class="message" style="background-color:#e4e8fd; margin-right:20%; margin-top:5px; margin-bottom:10px; border-radius:10px; padding:10px" align="left">
      <i><%= time_ago_in_words(message.created_at).sub("about", "").sub("hour", "hr").sub("minute", "min").sub("ago", "") %>
        ago</i> | <b><%= buyerName %></b>
      <br>
      <div style="color:#535353"><%= simple_format h(message.message_body) %></div>
    </div>
<% end %>
