<div id="contactSellerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactSellerModalLabel" aria-hidden="true">
  <div class="modal-header">
    <div class="tabs">
      <div id="ask-a-question-tab" class="active-tab">Ask a question</div>
      <div id="make-an-offer-tab" class="tab">Make an offer</div>
    </div>

    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span>
    </button>

  </div>
  <div class="modal-body" style="text-align:left;">
    <div id="ask-a-question-content">
      <%= render(:partial => "conversations/message_box_form",
                 :locals => {:seller => seller, :posting => posting,
                             :conversation_already_exists => conversation_already_exists,
                             :offer => "no"}) %>
    </div>
    <div id="make-an-offer-content" style="display:none;">
      <%= render(:partial => "conversations/message_box_form",
                 :locals => {:seller => seller, :posting => posting,
                             :conversation_already_exists => conversation_already_exists,
                             :offer => "yes"}) %>
    </div>
  </div>
</div>

