<% if current_user.nil?
     sending_user=User.new
     sending_user.email_addresses.build %>
    <div style="line-height:2em;">
      <b>To:&nbsp;</b> <%= seller.first_name %>
      <br>
      <b>Subject:</b> <%= posting.title %>
    </div>

    <%= form_for sending_user, :url => message_from_new_user_url, :html=>{"data-validate"=>"true","novalidate"=>"novalidate"} do |f| %>
        <div class="input-prepend">
          <span class="add-on" style="width:120px;">First Name</span>
          <%= f.text_field :first_name, "data-validate"=>"true" %>
        </div>

        <div class="input-prepend">
          <span class="add-on" style="width:120px;">Email Address</span>
          <%= f.fields_for :email_addresses do |ef| %>
              <%= ef.text_field :email, "data-validate"=>"true" %>
              <%= ef.hidden_field :is_primary, :value => true %>
          <% end %>
        </div>


        <% if offer =="yes" %>
        Purchase as soon as possible at price:
        <div class="input-prepend inline <%= message_box_price_disable_class(posting.will_accept_other_offers) %>">
          <span class="add-on inline">$</span><input size="2" class="inline" type="text" name="offer[offer]" value="<%= number_with_precision(posting.price, :precision => 2) %>" <%= message_box_price_disable_state(posting.will_accept_other_offers) %> />
        </div>

            <% end %>

        <%= message_box_price_disable_text(posting.will_accept_other_offers)  %>


        <textarea name="message[message_body]" placeholder="<%= offer=="yes" ? "Write optional message..." : "Ask a question..." %>" rows="4" style="width:97%;"></textarea>

        <%= f.hidden_field :seller_id, :value => seller.id %>
        <%= f.hidden_field :posting_id, :value => posting.id %>
          <%= f.submit "Send", :class => "rep-btn rep-btn-orange" %>
    <%- end #the form    %>

<%- elsif seller == current_user %>
    You cannot send a message to yourself.

<% elsif conversation_already_exists %>
    You've <%= link_to "already started a conversation with #{seller.first_name}", manage_buying_url %>!
<% else %>
    <div style="line-height:2em;">
      <b>To:&nbsp;</b> <%= seller.first_name %>
      <br>
      <b>Subject:</b> <%= posting.title %>
    </div>
    <%= form_for Conversation.new, :url => "#{ offer=="yes" ? create_conversation_with_offer_url : conversations_url }" do |f| %>
        <% if offer =="yes" %>
            Purchase as soon as possible at price:
            <input id="posting_disable_state" type="hidden" value="<%= posting.will_accept_other_offers %>"/>
            <div class="input-prepend inline <%= message_box_price_disable_class(posting.will_accept_other_offers) %>">
              <span class="add-on inline">$</span><input size="2" class="inline" type="text" name="offer[offer]" value="<%= number_with_precision(posting.price, :precision => 2) %>" <%= message_box_price_disable_state(posting.will_accept_other_offers) %> />
            </div>
            <%= message_box_price_disable_text(posting.will_accept_other_offers) %>

        <% end %>

            <textarea name="message[message_body]" placeholder="<%= offer=="yes" ? "Write optional message..." : "Ask a question..." %>" rows="4" style="width:97%;"></textarea>

        <%= f.hidden_field :seller_id, :value => seller.id %>
        <%= f.hidden_field :posting_id, :value => posting.id %>
          <%= f.submit "Send", :class => "rep-btn rep-btn-orange" %>
    <%- end #the form    %>
<%- end   %>
