$("<%= escape_javascript(render(:partial => "conversations/message_box_modal",
:locals => {:posting => @posting, :seller => @seller,
:conversation_already_exists => @conversation_already_exists})) %>").modal('show').on('shown',function () {
            function ask_a_question_active() {
                $('#make-an-offer-content').hide();
                $('#ask-a-question-content').fadeIn();
                $('#ask-a-question-tab').removeClass('tab').addClass('active-tab');
                $('#make-an-offer-tab').removeClass('active-tab').addClass("tab");
            }

            function make_an_offer_active() {
                $('#ask-a-question-content').hide();
                $('#make-an-offer-content').fadeIn();
                $('#make-an-offer-tab').removeClass('tab').addClass('active-tab');
                $('#ask-a-question-tab').removeClass('active-tab').addClass("tab");
            }

            $('#ask-a-question-tab').click(function () {
                ask_a_question_active();
            });

            $('#make-an-offer-tab').click(function () {
                make_an_offer_active();
            });

            $("form").submit(function () {
                $('input[type=submit]').attr('disabled', true);
            });

            $('form[data-validate]').validate();

        }).on('hidden', function () {
            $(this).remove();
        });

