$('.conversation-messages-container').append("<%= escape_javascript(render(:partial => "conversations/message",
 :locals => {:message => @message, :buyerName => @potential_buyer.first_name, :sellerName => @seller.first_name})) %>");

$(".conversation-messages-container").scrollTop($(".conversation-messages-container")[0].scrollHeight);

$('#message-form input[type="text"], #message-form input[name="offer"], #message-form textarea').val('');

$('input[type=submit]').attr('disabled', false);