<p>
  Hi,
</p>
<p> <%= @personal_message %></p>
<p>
  I just found out about Reppio, a website where I can sell my stuff. It's like Craigslist, but safer and easier to use.
</p>

<p>
  Check it out:
</p>
<a href="<%= @invite_link %>"><%= @invite_link %></a>
<br><br>
-<%= @referrer_first_name %> <%= @referrer_last_name %>