Hi,

I just found out about Reppio, a website where I can sell my stuff. It's like Craigslist, but safer and easier to use.


Check it out:
<%= @invite_link %>

-<%= @referrer_first_name %> <%= @referrer_last_name %>