Hi,

  <%= @personal_message %>

-<%= @referrer_first_name %> <%= @referrer_last_name %>


Reppio is a local marketplace where one can transact safely. Help improve <%= @referrer_first_name %>'s reputation by writing a reference.
<%= @invite_link %>