<h2>
  Help improve <%= @referrer_first_name %>'s reputation by writing a reference on Reppio!
</h2>

<hr>

<p>
  Message from <%= @referrer_first_name%>:<br>
  <%= @personal_message %>
</p>

<p>
  <a href="<%= @invite_link %>">Click here to write a reference for <%= @referrer_first_name %>.</a>
</p>

<br><br>
<em>Reppio is a local marketplace where one can transact safely and conveniently with reputable people. You received this message because you are someone <%= @referrer_first_name %> knows and trusts.</em>
<br>
