<div style='border-color:red; width:900px; padding:20px;  margin:0 auto; border-style:solid; border-width: 2px; text-align:center; margin-top: 100px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande"'>
    <a href="http://www.reppio.com/"><img src="http://www.reppio.com/assets/reppio_logo.png" alt="Reppio logo" border="0"></a>
    <h1>Reppio is undergoing scheduled maintenance. </h1>
    <h2><em>Be back soon!</em></h2>
</div>
