<div id="groups-form">
<div style="margin-right:45px;">
    <h3 style="margin-top:0px;"><%= new_or_edit=="new" ? "Create a New Group" : "Edit Group: #{@group.long_name}" %></h3>
    You can create a group to bring together people with common interests, locations, or organizations. A group can be open to the public or require approval to join. Invite your friends and easily find out what they're selling!
    <hr>
</div>

<%= form_for @group, :validate => true do |f| %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div style="padding:20px; background:#f6f6f6; width:455px;">
    <div class="control-group">
      <%= f.label("Group Name", :class => "control-label") %>
      <div class="controls">
        <%= f.text_field :long_name, :maxlength => '50', :style=>"width:60%;", :placeholder=>"e.g. Hyde Park Pickup Basketball League"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:short_name, :class => "control-label") %>
      <div class="controls">
        <%= f.text_field :short_name, :maxlength => '20', :style=>"width:60%;", :id=>"short-name", :placeholder => "e.g. hpa" %>
      </div>
    </div>
    <div style="width:300px; background:#DDD; padding:5px 10px 5px 10px"><b>Your Reppio Group Website URL:</b>  http://www.reppio.com/groups/<span id="short-name-url"></span></div>
   </div>
     <br>

    <div class="control-group">
      <%= f.label("People that want to join this group", :class => "control-label") %>
      <div class="controls">
        <%= f.radio_button :may_join_without_admin_approval, false %>
        <label for="may_join_without_admin_approval_false" style="display:inline-block;">&nbsp;must be approved by the group owner &nbsp;&nbsp;&nbsp;&nbsp;</label>
       <%= f.radio_button :may_join_without_admin_approval, true %>
        <label for="may_join_without_admin_approval_true" style="display:inline-block;"> &nbsp;can join without approval</label>
      </div>
    </div>

      <div class="control-group">
        <%= f.label(:zip_code, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field :zip_code, :maxlength => '5', :style=>"width:80px;"%>
        </div>
      </div>
    <div class="control-group">
      <%= f.label("Group Website", :class => "control-label") %>
      <div class="controls">
        <%= f.text_field :external_url, :style=>"width:60%;", :placeholder=>"link to your group's website (optional)" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label("Picture URL", :class => "control-label") %>
      <div class="controls">
        <%= f.text_field :picture_url, :style=>"width:60%;", :placeholder=>"URL to your group's picture (optional)" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:description, :class => "control-label") %>
      <div class="controls">
        <%= f.text_area :description, :style=>"width:60%; height:100px;",  :placeholder => "description (optional)" %>
      </div>
    </div>


  <div class="actions">
    <%= f.submit "#{new_or_edit=="new" ? "Create" : "Edit"} Group", :class=>"rep-btn rep-btn-orange" %>
  </div>
<% end %>
</div>
