<div id="joinGroupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="joinGroupModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 style="margin-top:0;">Join <%= group.long_name %></h4>
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= form_for current_user, :url => add_autogroup_email_url, :html => {:multipart => true, :class => "form-horizontal"}, :remote => true do |f| %>
        <% pending_email=EmailAddress.where("user_id=? AND is_primary=false AND email_confirmed =false", current_user.id)
           if pending_email.blank?
             current_user.email_addresses.build %>
            <p> Please enter your <%= group.email_extension %> email address. </p>
            <input id="user_email_addresses_attributes_<%= current_user.email_addresses.length-1 %>_email" name="user[email_addresses_attributes][<%= current_user.email_addresses.length-1 %>][email]" size="30" type="text">
            <br><br>
            <%= submit_tag "Join", :class => "rep-btn rep-btn-orange" %>

        <% else %>
            You already have an email that needs verification. Please check your email
            at <%= pending_email[0].email %> to verify the address.<br><br>
            <%= link_to "Resend confirmation email", send_confirmation_secondary_email_url %>
            · <%= link_to "Cancel", cancel_secondary_email_confirmation_url %>
        <% end %>

    <% end %>
  </div>
</div>
