<% title "Reppio: Edit Group" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :activeManageSubMenu, params[:id] %>
<% content_for :center_content do %>
    <%= render(:partial=>'form', :locals=>{:new_or_edit=>"edit"}) %>

<% end %>

<%= render :template => "manage/manage" %>


