<% title "Reppio: All Groups" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :activeManageSubMenu, "browse_groups" %>
<% content_for :center_content do %>

    <h3>Groups near you</h3>
      <table class="table striped" style="width:700px;">
        <thead>
        <%= group_header_column("Name", "name", params[:order])  %>
        <%= group_header_column("Distance", "distance", params[:order])  %>
        <%= group_header_column("Members", "count", params[:order])  %>
        </thead>
        <tbody>
        <%degToR = Math::PI / 180
          @groups.each do |group| %>
            <tr>
              <td><%= link_to group.long_name, group %></td>
              <td><%= ::DistanceCalculations.distance_between(current_user.latitude*degToR,current_user.longitude*degToR, group.latitude*degToR, group.longitude*degToR).round(1)%> mi</td>
              <td><%= pluralize(group.members_count, "member") %></td>

              <td><% if group.may_join_without_admin_approval && group.email_extension.blank? %><i class="icon-globe"></i><% end %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br/>

<% end %>

<%= render :template => "manage/manage" %>

