<% title "Invite people to join #{@group.long_name}" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :center_content do %>
      <h1>Invite people to join <%= @group.long_name %></h1>
     <%= link_to image_tag("social_icons/facebook.png"), "http://www.facebook.com/sharer.php?u=http://www.reppio.com/groups/#{@group.short_name}", :target=>"_blank" %>
    <%= link_to image_tag("social_icons/twitter.png"), "https://twitter.com/share?url=http://www.reppio.com/groups/#{@group.short_name}&text=#{url_encode("Join my group on @reppio")}", :target=>"_blank" %>

    <% if @fb_ids && !@fb_ids.blank? %>
          <%= form_tag({:action => :invite_facebook_connections_to_group, :controller => :groups}, :method => "post") %>
          <%= hidden_field_tag :group_id, @group.id  %>
          <h3>Friends on Reppio</h3>
          <% @fb_ids.each_with_index do |fb_id, index|
            friend=User.find_by_facebook_id(fb_id) %>
            <div class="image-checkbox">
             <%= check_box_tag "user_ids[]", friend.id, false, :id=>"friend#{index}" %>
              <label class="checkbox" for="friend<%=index%>">
               <%= profile_pic_if_exists(size="thumb", friend) %>
              <br><br> <%= friend.first_name %>
              </label>
            </div>
           <% end %>
          <p><%= submit_tag "Invite", :class => "btn btn-primary" %></p>
          </form>
      <% end %>

     <br><br>
    <h3>Email</h3>
        <%= form_tag({:action => :send_email_to_invite_to_group, :controller => :groups}, :method => "post") %>
        <%= hidden_field_tag :group_id, @group.id  %>
        <br>

        <p><%= text_area_tag 'emails', nil, :rows => 3, :cols => 50, :placeholder => "jack@reppio.com, samir@gmail.com, ...", :style => "width:90%" %></p>

        <p>Personal Message
          (optional)<br><%= text_area_tag 'personal_message', nil, :rows => 4, :cols => 50, :style => "width:90%", :placeholder => "Join me on \"#{@group.long_name}\" group on Reppio, so that we can give each other first dibs or share our stuff." %>
        </p>

        <p><%= submit_tag "Invite", :class => "btn btn-primary" %></p>
        </form>

<% end %>

<%= render :template => "manage/manage" %>


