<% title "Reppio: New Group" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :activeManageSubMenu, "new_groups" %>
<% content_for :center_content do %>

    <%= render(:partial=>'form', :locals=>{:new_or_edit=>"new"}) %>

<% end %>

<%= render :template => "manage/manage" %>


