<% title "Reppio: All Groups" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :activeManageSubMenu, "notification_groups" %>
<% content_for :center_content do %>

    <h3>Pending notifications</h3>
    <p>Group owners may find notifications for activity within their groups here.</p>

    <% group_requests=GroupRequest.find_all_by_owner_id(current_user.id)
       if !group_requests.blank? %>

        <% group_requests.each do |group_request|
          user_that_wants_to_join=User.find(group_request.user_id)
          group=Group.find(group_request.group_id) %>
            <%= link_to user_that_wants_to_join.first_name, user_that_wants_to_join %> wants to join
            <%= link_to group.long_name, group %>
            <%= link_to "Approve Request", handle_request_url(:id => group_request, :status => "accept"), :class => "btn btn-success" %>
            <%= link_to "Ignore Request", handle_request_url(:id => group_request, :status => "ignore"), :class => "btn btn-danger" %>

        <% end
           end%>

<% end %>

<%= render :template => "manage/manage" %>