<style>
    .active {
        margin-left: 10px;
    }
</style>

<% title "Reppio: #{@group.long_name}" %>
<% content_for :activeManageMenu, "groups" %>
<% content_for :center_content do %>
    <% is_group_owner = (signed_in? && current_user.id==@group.owner_id)
       is_member = !@members.where("id=?", current_user.id).blank?
    %>
    <% @members.sample(10).each do |member| %>
        <%= link_to profile_pic_if_exists("thumb", member), member, :class=>"hasTooltip", :title=>member.first_name %>
    <% end %>


    <ul class="nav nav-tabs" style="margin-top:10px;width:730px;">
      <li class="active">
        <a href="#home" data-toggle="tab"><%= @group.long_name %></a>
      </li>
      <li><a href="#about" data-toggle="tab">About</a></li>
      <% if signed_in? %>
          <% if is_member %>
              <li><%= link_to "Invite others", invite_to_group_url(@group) %></li>
          <% end %>
          <% if is_group_owner %>
              <li><a href="#edit" data-toggle="tab">Edit Group</a></li>
              <% if !@group.may_join_without_admin_approval %>
                  <li><a href="#edit-members" data-toggle="tab">Edit Members</a></li>
              <% end %>
          <% elsif is_member # you cannot leave an auto-group, MUAHHAHAHAHA
               show_leave=true
          %>
          <% elsif not (group_request=GroupRequest.where("user_id=? AND group_id=?", current_user.id, @group.id)).blank? %>
              <li>
                <div style="padding:5px 10px 5px 10px; background-color:#f6f6f6;margin-left:20px;"><em>Requested to join
                  <%= time_ago_in_words(group_request[0].created_at) %> ago.</em></div>
              </li>
          <% elsif @group.may_join_without_admin_approval %>
              <% if @group.email_extension.blank? %>
                  <li><%= link_to "Join #{@group.long_name}", join_group_url(:id => @group) %></li>
              <% elsif !@group.email_extension.blank? && !is_member %>
                  <li><%= link_to "Join #{@group.long_name}", join_autogroup_modal_url(:id => @group), :remote => true %></li>
              <% end %>
          <% else %>
              <li><%= link_to "Join #{@group.long_name}", request_join_group_url(:id => @group) %></li>
          <% end %>
          <% if is_member %>
              <li class="dropdown pull-right">
                <a class="dropdown-toggle" id="group-drop" role="button" data-toggle="dropdown" href="#group-dropdown"><i class="icon-cog"></i>
                  <b class="caret"></b></a>
                <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="group-drop" style="margin-top:0px; border-radius:0px; margin-right:1px;">
                  <li><%= link_to "Invite others", invite_to_group_url(@group) %></li>
                  <% if is_group_owner %>
                      <li><%= link_to 'Edit', edit_group_path(@group) %> </li>
                      <li class="divider"></li>
                      <li><%= link_to 'Destroy', @group, confirm: 'Are you sure you want to delete this group?', method: :delete %></li>
                  <% elsif show_leave %>
                      <li class="divider"></li>
                      <li><%= link_to "Leave #{@group.long_name}", leave_group_url(:id => @group) %></li>
                  <% end %>
                </ul>

          <% end
             end %>
      </li>
    </ul>


    <div class="tab-content" style="width:730px; padding:10px;">
      <div class="tab-pane active" id="home">

        <% if is_group_owner %>
            <div>
              You are an administrator for <%= @group.long_name %>. Use your power for good, not evil!
              <br><br>

              <h3>Pending notifications</h3>

              <p>
                <% group_requests=GroupRequest.find_all_by_owner_id_and_group_id(current_user.id, @group.id).each do |group_request|
                  user_that_wants_to_join=User.find(group_request.user_id) %>
                    <%= link_to user_that_wants_to_join.first_name, user_that_wants_to_join %>
                    <%= link_to "Approve Request", handle_request_url(:id => group_request, :status => "accept"), :class => "btn btn-success" %>
                    <%= link_to "Ignore Request", handle_request_url(:id => group_request, :status => "ignore"), :class => "btn btn-danger" %>
                    <br>
                <% end %>
                <%= "You have no pending notifications." if group_requests.blank? %>
              </p>
            </div>
        <% end %>

        <div id="list-of-group-postings">
          <% if is_member || (@group.may_join_without_admin_approval && @group.email_extension.blank?)  %>
              <span class="search-within-group">
                Search within <%= @group.long_name %> group. <%=  link_to "click here", search_url(:group=>@group.id) %>
              </span>

              <h3>Newest Listings</h3>
              <% @group_postings.each do |posting| %>
                  <%= render(:partial => "postings/pic_and_price_square", :locals => {:posting => posting, :seller_name => User.find(posting.user_id).user_name}) %>
              <% end %>


              <%= will_paginate @group_postings %>
              <%= "No one in this group has posted anything." if @group_postings.blank? %>
          <% else %>
              This is a private group. You must be a member to see the postings in this group.
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="about">

        <% if @group.picture_url != "" %>
            <p>
              <%= image_tag @group.picture_url %>
            </p>
        <% end %>

        <% if not @group.external_url.blank? %>
            <p>
              <b>Website:</b> <%= @group.external_url %>
            </p>
        <% end %>

        <% if current_user.latitude %>
            <p>
              <% degToR = Math::PI / 180 %>
              <b>Distance: </b>About <%= ::DistanceCalculations.distance_between(current_user.latitude*degToR, current_user.longitude*degToR, @group.latitude*degToR, @group.longitude*degToR).round(1) %>
              miles away
            </p>
        <% end %>

        <p><%= simple_format h(@group.description) %> </p>
      </div>


      <div class="tab-pane" id="edit">
        <%= render(:partial => 'form', :locals => {:new_or_edit => "edit"}) %>
      </div>
      <% if is_group_owner && !@group.may_join_without_admin_approval %>
          <div class="tab-pane" id="edit-members">
            <table class="table striped" style="width:700px;">
              <% (@members.reject { |member| member.id==@group.owner_id }).each do |member| %>
                  <tr id="member<%= member.id %>">
                    <td><%= "#{member.first_name} #{member.last_name}" %></td>
                    <td><%= link_to "x", remove_from_group_url(:id => @group.short_name, :user_id => member.id), :confirm => "Are you sure you want to remove #{member.first_name}?", :remote => true %></td>
                  </tr>
              <% end %>
            </table>
          </div>
      <% end %>

    </div>








<% end %>

<%= render :template => "manage/manage" %>

