<% content_for :feedback_active, "true" %>

<div class="row-fluid row-fluid-style">
  <div class="span12">
    <div class="rep_container" style="padding:20px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow: none;">
      <h2>Please provide any feedback below.</h2>
      <hr style="border-bottom:0px;">

      <%= form_for current_user do |f| %>
          <div class="row-fluid">
            <div class="span12">
              <b>What browser are you using?</b>
              <br>
              <%= f.text_area :feedback_manage, :rows=>1, :style=>"width:300px", :placeholder=>"e.g. Firefox, Internet Explorer 7, Chrome" %>
              <br>

              <b>What page(s) are you commenting on?</b><br>
              <%= f.text_area :feedback_create, :rows=>1, :style=>"width:300px", :placeholder=>"e.g. Search and manage page" %>
              <br>

              <b>General feedback</b>
              <br>
              <%= f.text_area :feedback_search, :rows=>10, :style=>"width:500px", :placeholder=>"Reppio is awesome, but (1) blah blah blah, and (2) yadda yadda yadda, would make it even better!" %>

              <br>
            </div>
          </div>
          <%= submit_tag "Save and submit feedback", :class=>"btn btn-success btn-large" %>
          <br><br>
          Thanks again! You can always come back and add to or change this form.
      <% end %>
    </div>
  </div>
</div>