<div style="font-size:1.4em; font-weight:400;">Buy and sell with reputable people.</div>
  <div style="color:#000;margin-top:20px; margin-bottom: 10px;">
    <%= image_tag 'modal/meg-bubble.png', :class=>"meg-bubble" %><%= rep_meter_large(98, "rep-score-inline") %>
  </div>

  <div id="fbSignup" style="font-size:1.1em; line-height:1.3em; text-align:center;">
    <div style="margin-bottom:10px;">
      <br>
      <a class="fb-auth btn-facebook" style="color:white;" href="/auth/facebook?origin=<%= "http://#{request.host}#{request.fullpath}" %>" target = '_blank'>Sign up with Facebook</a>
      <br><br>
      <span style="color:#777777; font-size:0.9em;"><i class="icon-lock" style="font-size:1.3em;"></i> We'll never post without your permission.</span>
    </div>
    <hr style="border-bottom:0px;">
    <a id="emailSignupLink"><i class="icon-envelope"></i>&nbsp;&nbsp;Sign up without Facebook</a>
  </div>

  <div id="emailSignup" style="display:none; text-align:center;margin-top:20px;">

    <%= form_for new_user_from_modal=User.new, :url => email_sign_up_path, :validate => true do |f| %>
            <% new_user_from_modal.email_addresses.build%>
            <%= f.fields_for :email_addresses do |ef| %>
                <span class="controls">
                  <%= ef.text_field :email, :placeholder=>"email", :id=>"email" %>
                  <%= ef.hidden_field :is_primary, :value => true %>
                </span>
            <% end %>
              <%= f.text_field :first_name, :placeholder=>"first name"  %>
              <%= f.text_field :last_name, :placeholder=>"last name" %>

              <%= f.password_field :password, :placeholder=>"password", :id=>"password" %>

          <%= f.hidden_field :origin_if_facebook_sign_up, :value => request.referer %>

          <br>
          <%= f.submit "Sign Up", :class => "rep-btn rep-btn-orange" %>
          <br><br>

          <a class="fb-auth blue-link" href="/auth/facebook?origin=<%= "http://#{request.host}#{request.fullpath}" %>" data-width="420" data-height="440">Sign
            up with Facebook instead.</a>
    <% end %>
  </div>


<script type="text/javascript">
        function popupCenter(url, width, height, name) {
            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (height / 2);
            return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",toolbar=no,left=" + left + ",top=" + top);
        }

        $("a.fb-auth").click(function (e) {
            popupCenter($(this).attr("href"), 420, 440, "authPopup");
            e.stopPropagation();
            return false;
        });
        $('#emailSignupLink').click(function() {
            $('#fbSignup').hide();
            $('#emailSignup').fadeIn();
        });
</script>