<div class="row-fluid row-fluid-style">
<div class="rep_container" style="padding:20px;">
  <h4>
<% if @confirmation_success %>

      Hi <%= @user.first_name %>! You have successfully verified your email address. Log in from the top menu to get started.

  <% else %>

      Hi
      <% if !current_user.nil? %> <%= current_user.first_name %>
      <% end %>! Unfortunately, there was an error in the email confirmation code and
      your email address could not be verified. After logging in from the top menu, click "Send Email to Confirm Email Address" (accessible from the dropdown on the top menu) to try again.

  <% end %>
</h4>
</div>
    </div>