<% content_for :headContent do -%>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" %>
<% end %>


<% title "Reppio: Edit Profile" %>
<% content_for :center_content do %>

    <h3>
      Edit Your Profile
    </h3>

          <div class="row">
              <div class="span4">
                <div class="well">
                  <h4>Drag and drop images below</h4>
                  <%= render :partial => "fileupload/main", :locals => {:upload => @upload} %>
                </div>
              </div>

              <div class="span5">
                <%= form_for @user, :html => {:multipart => true, :class => "form-horizontal primaryForm edit-user-form"}, :validate => true do |f| %>

                    <% if current_user.errors.any? %>
                        <div id="error_explanation">
                          <h2 class="alert alert-error"><%= pluralize(current_user.errors.count, "error") %> prevented this user from
                            being saved:</h2>

                          <% current_user.errors.full_messages.each do |msg| %>
                              <p><span class="label label-primary">Error:</span> <%= msg %> </p>
                          <% end %>
                        </div>
                    <% end %>
                    <div class="control-group">
                      <%= f.label :first_name, :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :first_name, :style => "width:100%" %>
                      </div>
                    </div>


                    <div class="control-group">
                      <%= f.label :last_name, :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :last_name, :style => "width:100%" %>
                      </div>
                    </div>


                    <div class="<%= params[:highlight] ? "paypal-highlight" : "" %>">
                    <div class="control-group">
                      <%= f.label :email, :class => "control-label" %>
                      <div class="controls">
                        <input id="disabledInput" class="input-large disabled" type="text" disabled="" placeholder="<%= current_user.email %>" style="width:100%">
                        <% @non_primary_validated_emails.each do |email| %>
                            <input id="disabledInput" class="input-large disabled" type="text" disabled="" placeholder="<%= email.email %>" style="width:100%">
                            <br>
                        <% end %>
                        <% if @pending_email.blank? %>
                            <div>
                              <a id="add-email-link" class="blue-link" style="cursor:pointer;">add another email address</a>
                            </div>

                        <% else %>
                            <div style=" border-style:solid; padding: 20px;margin-top: 20px;width:80%; background-color: #FFE2E2;">
                              Please check your email at <%= @pending_email[0].email %> to verify the address.<br><br>
                              <%= link_to "Resend confirmation email", send_confirmation_secondary_email_url, :class => "blue-link" %>
                              · <%= link_to "Cancel", cancel_secondary_email_confirmation_url, :class => "blue-link" %>
                            </div>
                        <% end %>
                        <label class="checkbox inline small-text" for="user_email_private">
                          <%= f.check_box :email_private, {:checked => current_user.email_private?} %>
                          Private
                        </label>
                      </div>
                    </div>

                    <div class="control-group">
                      <%= f.label :paypal_email, :class => "control-label" %>
                      <div class="controls">
                        <% if current_user.paypal_email.blank?
                           potential_emails = @non_primary_validated_emails.collect(&:email)<<current_user.email<< ''
                        else
                          potential_emails = @non_primary_validated_emails.collect(&:email)<<current_user.email
                        end%>
                        <%= f.select :paypal_email, potential_emails.reverse, {:default => current_user.paypal_email}, :style => "width:100%" %>
                      </div>
                    </div>
                    </div>

                    <div class="control-group">

                      <%= f.label :phone, :class => "control-label" %>

                      <div class="controls">
          <span class="hasTooltip" title="If you change your cellphone number, you need to reverify it.">
            <%= f.text_field :phone_number, :class => "phone-number", :style => "width:100%" %>
          </span>
                        <label class="checkbox inline small-text" for="user_phone_number_private">
                          <%= f.check_box :phone_number_private, {:checked => current_user.phone_number_private?} %>
                          Private
                        </label>
                        <% if current_user.cell_phone_verified %>
                            <h6>VERIFIED</h6>
                        <% end %>
                      </div>
                    </div>

                    <div class="control-group">
                      <%= f.label(:about_me, :class => "control-label") %>
                      <div class="controls">
                        <%= f.text_area :about_me, :class => "input-large", :rows => 3, :style => "width:100%" %>
                      </div>
                    </div>


                    <div class="control-group">
                      <%= f.label :education, :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :education, :style => "width:100%" %>
                        <label class="checkbox inline small-text" for="user_education_private">
                          <%= f.check_box :education_private, {:checked => current_user.education_private?} %>
                          Private
                        </label>
                      </div>
                    </div>

                    <div class="control-group">
                      <%= f.label :employer, :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :employer, :style => "width:100%" %>
                        <label class="checkbox inline small-text" for="user_email_private">
                          <%= f.check_box :employer_private, {:checked => current_user.employer_private?} %>
                          Private
                        </label>
                      </div>
                    </div>


                    <div class="control-group">
                      <%= f.label(:zip_code, :class => "control-label") %>
                      <div class="controls">
          <span class="hasTooltip" title="Only the city and state will be made public.">
            <%= f.hidden_field :street_address, :class => "street-address" %>
            <%= f.hidden_field :city, :class => "city" %>
            <%= f.hidden_field :state, :class => "state" %>
            <%= f.text_field :zip_code, :class => "zip-code", :id => 'searchTextField', :style => "width:100%" %>
          </span>
                      </div>
                    </div>
                    <% if !@sortedPictures.empty? %>
                        <div class="control-group">
                          <%= f.label :pictures, :class => "control-label" %>
                          <div class="controls">


                            <ul id="pictures">
                              <% @sortedPictures.each do |pictureObj| %>
                                  <li id="p<%= pictureObj[1] %>" class="ui-state-default">
                                    <div class="closeButton" title="Close"></div>
                                    <%= image_tag pictureObj[0].photo.url(:thumb) %>
                                  </li>
                              <% end %>
                            </ul>

                          </div>
                        </div>
                    <% end %>
                    <%= f.hidden_field :uploaded_pictures, :id => "uploaded_pictures", :value => "" %>
                    <%= f.hidden_field :picture_display_order, :class => "picture_display_order" %>

                    <%= submit_tag "Update your profile", :class => "rep-btn rep-btn-orange" %>
                    <br><br>
                <% end %>
              </div>
            </div>

<% end %>

<%= render :template => "manage/manage" %>




<%= google_maps_script %>


<script type="text/javascript">
    $(".hasTooltip").tooltip();

    $('#add-email-link').click(function () {
        $(this).replaceWith('<input data-validate="true" id="user_email_addresses_attributes_<%= current_user.email_addresses.length-1 %>_email" name="user[email_addresses_attributes][<%= current_user.email_addresses.length-1 %>][email]" size="30" style="width:100%" type="text">');
        window['edit_user_<%= current_user.id%>']["validators"]["user[email_addresses_attributes][<%= current_user.email_addresses.length-1 %>][email]"] = {"format":{"message":"not a valid email", "with":/^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$/i}, "uniqueness":{"message":"has already been taken", "case_sensitive":false}};
    });
</script>

<%= javascript_include_tag 'zipCodeMinimum' %>