<div class="row-fluid row-fluid-style">
  <div class="span4"></div>
  <div class="span4">
    <div>

      <%= form_for @user, :url => email_sign_up_path, :validate => true do |f| %>

          <div class="rep_container" style="padding:20px;">
            <h2>Sign up manually</h2>
            <hr style="border-bottom:0px;">
            <div class="control-group">
              <label class="control-label">Email</label>
              <%= f.fields_for :email_addresses do |ef| %>
                  <div class="controls">
                    <%= ef.text_field :email %>
                    <%= ef.hidden_field :is_primary, :value => true %>
                  </div>
              <% end %>
            </div>
            <div class="control-group">
              <label class="control-label">First Name</label>

              <div class="controls"><%= f.text_field :first_name %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Last Name</label>

              <div class="controls"><%= f.text_field :last_name %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password</label>

              <div class="controls"><%= f.password_field :password %>
              </div>
            </div>

            <%= f.hidden_field :origin_if_facebook_sign_up, :value => request.referer %>
            <%= f.submit "Sign Up", :class => "btn" %>

            <br><br>

            <a class="fb-auth small-text" href="/auth/facebook?origin=<%= "http://#{request.host}#{request.fullpath}" %>" data-width="420" data-height="440">Sign
              up with Facebook instead.</a>


          </div>
      <% end %>
    </div>
  </div>
  <div class="span4"></div>
</div>
