// REP IT
// <%= params[:u] %>


// parseUri 1.2.2
// (c) Steven Levithan <stevenlevithan.com>
// MIT License

function parseUri(str) {
    var o = parseUri.options,
            m = o.parser[o.strictMode ? "strict" : "loose"].exec(str),
            uri = {},
            i = 14;

    while (i--) uri[o.key[i]] = m[i] || "";

    uri[o.q.name] = {};
    uri[o.key[12]].replace(o.q.parser, function ($0, $1, $2) {
        if ($1) uri[o.q.name][$1] = $2;
    });

    return uri;
}

parseUri.options = {
    strictMode:false,
    key:["source", "protocol", "authority", "userInfo", "user", "password", "host", "port", "relative", "path", "directory", "file", "query", "anchor"],
    q:{
        name:"queryKey",
        parser:/(?:^|&)([^&=]*)=?([^&]*)/g
    },
    parser:{
        strict:/^(?:([^:\/?#]+):)?(?:\/\/((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?))?((((?:[^?#\/]*\/)*)([^?#]*))(?:\?([^#]*))?(?:#(.*))?)/,
        loose:/^(?:(?![^:@]+:[^:@\/]*@)([^:\/?#.]+):)?(?:\/\/)?((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?)(((\/(?:[^?#](?![^?#\/]*\.[^?#\/.]+(?:[?#]|$)))*\/?)?([^?#\/]*))(?:\?([^#]*))?(?:#(.*))?)/
    }
};


// head.js
(function (a, w) {
    function f(a) {
        p[p.length] = a
    }

    function m(a) {
        q.className = q.className.replace(RegExp("\\b" + a + "\\b"), "")
    }

    function k(a, d) {
        for (var b = 0, c = a.length; b < c; b++)d.call(a, a[b], b)
    }

    function s() {
        q.className = q.className.replace(/ (w-|eq-|gt-|gte-|lt-|lte-|portrait|no-portrait|landscape|no-landscape)\d+/g, "");
        var b = a.innerWidth || q.clientWidth, d = a.outerWidth || a.screen.width;
        h.screen.innerWidth = b;
        h.screen.outerWidth = d;
        f("w-" + b);
        k(c.screens, function (a) {
            b > a ? (c.screensCss.gt && f("gt-" + a), c.screensCss.gte && f("gte-" +
                    a)) : b < a ? (c.screensCss.lt && f("lt-" + a), c.screensCss.lte && f("lte-" + a)) : b === a && (c.screensCss.lte && f("lte-" + a), c.screensCss.eq && f("e-q" + a), c.screensCss.gte && f("gte-" + a))
        });
        var d = a.innerHeight || q.clientHeight, g = a.outerHeight || a.screen.height;
        h.screen.innerHeight = d;
        h.screen.outerHeight = g;
        h.feature("portrait", d > b);
        h.feature("landscape", d < b)
    }

    function r() {
        a.clearTimeout(u);
        u = a.setTimeout(s, 100)
    }

    var n = a.document, g = a.navigator, t = a.location, q = n.documentElement, p = [], c = {screens:[240, 320, 480, 640, 768, 800, 1024, 1280,
        1440, 1680, 1920], screensCss:{gt:!0, gte:!1, lt:!0, lte:!1, eq:!1}, browsers:[
        {ie:{min:6, max:10}}
    ], browserCss:{gt:!0, gte:!1, lt:!0, lte:!1, eq:!0}, section:"-section", page:"-page", head:"head"};
    if (a.head_conf)for (var b in a.head_conf)a.head_conf[b] !== w && (c[b] = a.head_conf[b]);
    var h = a[c.head] = function () {
        h.ready.apply(null, arguments)
    };
    h.feature = function (a, b, c) {
        if (!a)return q.className += " " + p.join(" "), p = [], h;
        "[object Function]" === Object.prototype.toString.call(b) && (b = b.call());
        f((b ? "" : "no-") + a);
        h[a] = !!b;
        c || (m("no-" +
                a), m(a), h.feature());
        return h
    };
    h.feature("js", !0);
    b = g.userAgent.toLowerCase();
    g = /mobile|midp/.test(b);
    h.feature("mobile", g, !0);
    h.feature("desktop", !g, !0);
    b = /(chrome|firefox)[ \/]([\w.]+)/.exec(b) || /(iphone|ipad|ipod)(?:.*version)?[ \/]([\w.]+)/.exec(b) || /(android)(?:.*version)?[ \/]([\w.]+)/.exec(b) || /(webkit|opera)(?:.*version)?[ \/]([\w.]+)/.exec(b) || /(msie) ([\w.]+)/.exec(b) || [];
    g = b[1];
    b = parseFloat(b[2]);
    switch (g) {
        case "msie":
            g = "ie";
            b = n.documentMode || b;
            break;
        case "firefox":
            g = "ff";
            break;
        case "ipod":
        case "ipad":
        case "iphone":
            g =
                    "ios";
            break;
        case "webkit":
            g = "safari"
    }
    h.browser = {name:g, version:b};
    h.browser[g] = !0;
    for (var v = 0, x = c.browsers.length; v < x; v++)for (var i in c.browsers[v])if (g === i) {
        f(i);
        for (var A = c.browsers[v][i].max, l = c.browsers[v][i].min; l <= A; l++)b > l ? (c.browserCss.gt && f("gt-" + i + l), c.browserCss.gte && f("gte-" + i + l)) : b < l ? (c.browserCss.lt && f("lt-" + i + l), c.browserCss.lte && f("lte-" + i + l)) : b === l && (c.browserCss.lte && f("lte-" + i + l), c.browserCss.eq && f("eq-" + i + l), c.browserCss.gte && f("gte-" + i + l))
    } else f("no-" + i);
    "ie" === g && 9 > b && k("abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary time video".split(" "),
            function (a) {
                n.createElement(a)
            });
    k(t.pathname.split("/"), function (a, b) {
        if (2 < this.length && this[b + 1] !== w)b && f(this.slice(1, b + 1).join("-").toLowerCase() + c.section); else {
            var g = a || "index", h = g.indexOf(".");
            0 < h && (g = g.substring(0, h));
            q.id = g.toLowerCase() + c.page;
            b || f("root" + c.section)
        }
    });
    h.screen = {height:a.screen.height, width:a.screen.width};
    s();
    var u = 0;
    a.addEventListener ? a.addEventListener("resize", r, !1) : a.attachEvent("onresize", r)
})(window);
(function (a, w) {
    function f(a) {
        var f = a.charAt(0).toUpperCase() + a.substr(1), a = (a + " " + r.join(f + " ") + f).split(" "), c;
        a:{
            for (c in a)if (k[a[c]] !== w) {
                c = !0;
                break a
            }
            c = !1
        }
        return!!c
    }

    var m = a.document.createElement("i"), k = m.style, s = " -o- -moz- -ms- -webkit- -khtml- ".split(" "), r = ["Webkit", "Moz", "O", "ms", "Khtml"], n = a[a.head_conf && a.head_conf.head || "head"], g = {gradient:function () {
        k.cssText = ("background-image:" + s.join("gradient(linear,left top,right bottom,from(#9f9),to(#fff));background-image:") + s.join("linear-gradient(left top,#eee,#fff);background-image:")).slice(0,
                -17);
        return!!k.backgroundImage
    }, rgba:function () {
        k.cssText = "background-color:rgba(0,0,0,0.5)";
        return!!k.backgroundColor
    }, opacity:function () {
        return"" === m.style.opacity
    }, textshadow:function () {
        return"" === k.textShadow
    }, multiplebgs:function () {
        k.cssText = "background:url(//:),url(//:),red url(//:)";
        return/(url\s*\(.*?){3}/.test(k.background)
    }, boxshadow:function () {
        return f("boxShadow")
    }, borderimage:function () {
        return f("borderImage")
    }, borderradius:function () {
        return f("borderRadius")
    }, cssreflections:function () {
        return f("boxReflect")
    },
        csstransforms:function () {
            return f("transform")
        }, csstransitions:function () {
            return f("transition")
        }, touch:function () {
            return"ontouchstart"in a
        }, retina:function () {
            return 1 < a.devicePixelRatio
        }, fontface:function () {
            var a = n.browser.version;
            switch (n.browser.name) {
                case "ie":
                    return 9 <= a;
                case "chrome":
                    return 13 <= a;
                case "ff":
                    return 6 <= a;
                case "ios":
                    return 5 <= a;
                case "android":
                    return!1;
                case "webkit":
                    return 5.1 <= a;
                case "opera":
                    return 10 <= a;
                default:
                    return!1
            }
        }}, t;
    for (t in g)g[t] && n.feature(t, g[t].call(), !0);
    n.feature()
})(window);
(function (a, w) {
    function f() {
    }

    function m(j, a) {
        if (j) {
            "object" === typeof j && (j = [].slice.call(j));
            for (var b = 0, c = j.length; b < c; b++)a.call(j, j[b], b)
        }
    }

    function k(a, b) {
        var e = Object.prototype.toString.call(b).slice(8, -1);
        return b !== w && null !== b && e === a
    }

    function s(a) {
        return k("Function", a)
    }

    function r(a) {
        a = a || f;
        a._done || (a(), a._done = 1)
    }

    function n(a) {
        var b = {};
        if ("object" === typeof a)for (var e in a)a[e] && (b = {name:e, url:a[e]}); else b = a.split("/"), b = b[b.length - 1], e = b.indexOf("?"), b = {name:-1 !== e ? b.substring(0, e) : b, url:a};
        return(a = i[b.name]) && a.url === b.url ? a : i[b.name] = b
    }

    function g(a) {
        var a = a || i, b;
        for (b in a)if (a.hasOwnProperty(b) && a[b].state !== y)return!1;
        return!0
    }

    function t(a, b) {
        b = b || f;
        a.state === y ? b() : a.state === D ? d.ready(a.name, b) : a.state === C ? a.onpreload.push(function () {
            t(a, b)
        }) : (a.state = D, q(a, function () {
            a.state = y;
            b();
            m(x[a.name], function (a) {
                r(a)
            });
            u && g() && m(x.ALL, function (a) {
                r(a)
            })
        }))
    }

    function q(j, c) {
        var c = c || f, e;
        /\.css[^\.]*$/.test(j.url) ? (e = b.createElement("link"), e.type = "text/" + (j.type || "css"), e.rel = "stylesheet",
                e.href = j.url) : (e = b.createElement("script"), e.type = "text/" + (j.type || "javascript"), e.src = j.url);
        e.onload = e.onreadystatechange = function (j) {
            j = j || a.event;
            if ("load" === j.type || /loaded|complete/.test(e.readyState) && (!b.documentMode || 9 > b.documentMode))e.onload = e.onreadystatechange = e.onerror = null, c()
        };
        e.onerror = function () {
            e.onload = e.onreadystatechange = e.onerror = null;
            c()
        };
        e.async = !1;
        e.defer = !1;
        var d = b.head || b.getElementsByTagName("head")[0];
        d.insertBefore(e, d.lastChild)
    }

    function p() {
        b.body ? u || (u = !0, m(h, function (a) {
            r(a)
        })) :
                (a.clearTimeout(d.readyTimeout), d.readyTimeout = a.setTimeout(p, 50))
    }

    function c() {
        b.addEventListener ? (b.removeEventListener("DOMContentLoaded", c, !1), p()) : "complete" === b.readyState && (b.detachEvent("onreadystatechange", c), p())
    }

    var b = a.document, h = [], v = [], x = {}, i = {}, A = "async"in b.createElement("script") || "MozAppearance"in b.documentElement.style || a.opera, l, u, B = a.head_conf && a.head_conf.head || "head", d = a[B] = a[B] || function () {
        d.ready.apply(null, arguments)
    }, C = 1, D = 3, y = 4;
    d.load = A ? function () {
        var a = arguments, b = a[a.length -
                1], e = {};
        s(b) || (b = null);
        m(a, function (c, d) {
            c !== b && (c = n(c), e[c.name] = c, t(c, b && d === a.length - 2 ? function () {
                g(e) && r(b)
            } : null))
        });
        return d
    } : function () {
        var a = arguments, b = [].slice.call(a, 1), c = b[0];
        if (!l)return v.push(function () {
            d.load.apply(null, a)
        }), d;
        c ? (m(b, function (a) {
            if (!s(a)) {
                var b = n(a);
                b.state === w && (b.state = C, b.onpreload = [], q({url:b.url, type:"cache"}, function () {
                    b.state = 2;
                    m(b.onpreload, function (a) {
                        a.call()
                    })
                }))
            }
        }), t(n(a[0]), s(c) ? c : function () {
            d.load.apply(null, b)
        })) : t(n(a[0]));
        return d
    };
    d.js = d.load;
    d.test =
            function (a, b, c, g) {
                a = "object" === typeof a ? a : {test:a, success:b ? k("Array", b) ? b : [b] : !1, failure:c ? k("Array", c) ? c : [c] : !1, callback:g || f};
                (b = !!a.test) && a.success ? (a.success.push(a.callback), d.load.apply(null, a.success)) : !b && a.failure ? (a.failure.push(a.callback), d.load.apply(null, a.failure)) : g();
                return d
            };
    d.ready = function (a, c) {
        if (a === b)return u ? r(c) : h.push(c), d;
        s(a) && (c = a, a = "ALL");
        if ("string" !== typeof a || !s(c))return d;
        var e = i[a];
        if (e && e.state === y || "ALL" === a && g() && u)return r(c), d;
        (e = x[a]) ? e.push(c) : x[a] = [c];
        return d
    };
    d.ready(b, function () {
        g() && m(x.ALL, function (a) {
            r(a)
        });
        d.feature && d.feature("domloaded", !0)
    });
    if ("complete" === b.readyState)p(); else if (b.addEventListener)b.addEventListener("DOMContentLoaded", c, !1), a.addEventListener("load", p, !1); else {
        b.attachEvent("onreadystatechange", c);
        a.attachEvent("onload", p);
        var z = !1;
        try {
            z = null == a.frameElement && b.documentElement
        } catch (F) {
        }
        z && z.doScroll && function E() {
            if (!u) {
                try {
                    z.doScroll("left")
                } catch (b) {
                    a.clearTimeout(d.readyTimeout);
                    d.readyTimeout = a.setTimeout(E, 50);
                    return
                }
                p()
            }
        }()
    }
    setTimeout(function () {
        l = !0;
        m(v, function (a) {
            a()
        })
    }, 300)
})(window);
// ###########################



function add_to_ebay_description(el, temp_desc) {

    var temp_desc_text = temp_desc;
    el.find('a').remove();
    el.find("#readFull").remove();
    var hidden = el.find('#hiddenContent');

    if (hidden.length) {
        hidden.css('display', 'inline');
        var hidden_text = jQuery.trim(hidden.text());
        hidden.html(hidden_text).replaceWith(hidden.contents());
    }

    el.html(jQuery.trim(el.html().replace(/<!--[\s\S]*?-->/g, "").replace(/<br>/g, '').replace(/ +(?= )/g, '')));
    var desc_text = jQuery.trim(el.text());

    if (el.is('td')) temp_desc_text += desc_text + "<br>";
    else if (el.is('th')) temp_desc_text += desc_text + " ";

    return temp_desc_text;
}





function parseCurrentWebsite() {
    // bookmark and jquery ui styles
    var css = document.createElement("link");
    css.setAttribute("href", "<%= asset_path "bookmark/bookmark.css.erb" %>");
    css.setAttribute("rel", "stylesheet");
    css.setAttribute("type", "text/css");
    document.getElementsByTagName("head")[0].appendChild(css);

    var css = document.createElement("link");
    css.setAttribute("href", " http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css");
    css.setAttribute("rel", "stylesheet");
    css.setAttribute("type", "text/css");
    document.getElementsByTagName("head")[0].appendChild(css);


    // ADD loader
    var loader = document.createElement("div");
    loader.id = "bookmark-loader";
    loader.innerHTML = '<%= image_tag 'squares-circle-loader.gif' %><br>Creating Reppio Listing...';
    document.getElementsByTagName("body")[0].appendChild(loader);

    var posting_source = '';

    var parsed_url = parseUri(window.location.href);

    if (window.location.href.match(/^https?:\/\/.*?\.?etsy\.com\//))
        posting_source = "etsy";
    else if (parsed_url.host.indexOf(".craigslist.") != -1) {
        posting_source = "craigslist";
    }
    else if (parsed_url.host.indexOf(".ebay.") != -1)
        posting_source = "ebay";
    else if (parsed_url.host.indexOf(".reppio.") != -1) {
        $('#bookmark-loader').hide();
        alert("Dude, you can't make a Reppio posting from a Reppio posting. Use it on a different site.");
        return;
    }
    else {
        $('#bookmark-loader').hide();
        alert("We don't support this site right now. Send an email to team@reppio.com and we will get to it.");
        return;
    }


    var title = '';
    var description = '';
    var price = 0;
    var image_urls = [];
    var image_urls_string = '';
    var location = '';

    switch (posting_source) {
        case 'etsy':
            var content = $('#content');

            title = $('h1', content).text();
            description = $('div[id*="description"] div:first-child', content).html();

            location = $('.location:first', content).text();

            // price
            if ($('meta[name*="price_value"]').length > 0) {
                price = $('meta[name*="price_value"]').attr('content');
            } else {
                var priceText = $('.item-amount:first', content).text();
                price = priceText.replace(/[^\d\,\.-]/g, '');
            }

            // image urls
            var imgs = $("#item-thumbs a");
            if (imgs.length > 0) {
                imgs.each(function () {
                    var img = $(this).find("img");
                    var imgsrc = img.attr("src").replace("il_75x75", "il_fullxfull");
                    image_urls.push(imgsrc);
                });
            } else if ($("#fullimage_link1 a").length > 0) {
                var imgsrc = $("#fullimage_link1 a").attr("href");
                image_urls.push(imgsrc);
            }

            break;

        case 'craigslist':
            title = $('h2').text();

            description = $('#postingbody').clone();
            description.children().remove();
            description = description.text();

            var imgs = $('.userbody img');
            if (imgs.length > 0) {
                imgs.each(function () {
                    var imgsrc = $(this).attr("src");
                    if (imgsrc.indexOf("/thumb") !== -1) {
                        image_urls.push(imgsrc.replace('/thumb', ''));
                    }

                });
            }

            break;

        case 'ebay':

            if ($('h1').length > 0) title = $('h1').text();

            // price

            var priceText = '';

            if ($('span[itemprop^="price"]', $('#vi-tTbl')).length > 0) {
                var el = $('span[itemprop^="price"]', $('#vi-tTbl')).text();
            } else if ($('div.vi-price').length > 0) {
                var priceText = $('div.vi-price:first').text();
            }

            price = priceText.replace(/[^\d\,\.-]/g, '');

            var meta_desc = $('meta[name*="description"]');
            var meta_key = $('meta[name*="keywords"]');
            var meta_image = $('meta[property*="image"]');


            if ($("#EBdescription").length > 0) description = $("#EBdescription").text();
            else if ($('.vi-iw:visible').find('td.vi-ia-attrColPadding:first').length > 0) {
                var temp_desc = $('.vi-iw:visible').find('th, td.vi-ia-attrColPadding');
                var temp_desc_text = '';
                temp_desc.each(function () {
                    temp_desc_text = add_to_ebay_description($(this), temp_desc_text);
                })
                description = title + " <br><br>" + temp_desc_text;
            }
            else if ($('.itemAttr:visible').find('table:first').length > 0) {
                var temp_desc = $('.itemAttr:visible').find('table:first').find('th, td');
                var temp_desc_text = '';
                temp_desc.each(function () {
                    temp_desc_text = add_to_ebay_description($(this), temp_desc_text);
                })
                description = title + " <br><br>" + temp_desc_text;
            }
            else if (meta_desc.length > 0) description = meta_desc.attr('content');


            // imgs
            var imgs = $("img:visible");

            if (imgs.length > 0) {
                imgs.each(function () {
                    var img = $(this);
                    if (img.height() > 220) image_urls.push(img.attr("src"));
                });
            } else if (meta_image.length > 0) {
                image_urls.push(meta_image.attr('content'));
            }

            break;

    }


    if (title === undefined) {
        title = '';
    }
    if (description === undefined) {
        description = '';
    }
    if (price === undefined) {
        price = 1;
    }
    if (image_urls_string === undefined) {
        image_urls_string = '';
    }
    if (location === undefined) {
        location = '';
    }

    var MAXTITLE = 50;


    // clean up location
    location = location.replace(/^\s+|\s+$/g, '');

    // clean up title
    title = title.replace(/^\s+|\s+$/g, '');
    if (title.length > MAXTITLE) title = title.substr(0, MAXTITLE - 3) + '...';

    // desc - remove p, a inside the content
    description = description.replace(/^\s+|\s+$/g, '');
    description = description.replace(/<br>/g, '\n');
    description = description.replace(/<a\b[^>]*>/g, "");
    description = description.replace(/<\/a>/g, "");
    description = description.replace(/<p\b[^>]*>/g, "");
    description = description.replace(/<\/p>/g, "");
    description = description.replace(/<!--[\s\S]*?-->/g, "");

    // clean up imgs
    if (image_urls.length > 0) {
        if (image_urls.length > 6) {
            var smallImgs = image_urls.splice(0, 6);
            image_urls_string = smallImgs.join('|');
        } else image_urls_string = image_urls.join('|');

    } else image_urls_string = '<%= asset_path 'default_profile_picture2.png' %>';


    $('#bookmark-loader').hide();


    var reppio_window = document.createElement("div");
    reppio_window.id = "reppio_window";
    document.getElementsByTagName("body")[0].appendChild(reppio_window);

    var reppio_header = document.createElement("div");
    reppio_header.id = "reppio-modal-header";
    document.getElementById("reppio_window").appendChild(reppio_header);


    var category_selector = document.createElement("div");
    category_selector.id = "bookmark-category-selector";
    category_selector.innerHTML = "<%= escape_javascript( render(:partial => "postings/bookmark_selector", :locals=>{:u=>params[:u]})) %>";
    document.getElementById("reppio_window").appendChild(category_selector);


    $('a[data-remote=true]').click(function () {
        $.ajax({
            url:$(this).data('url'),
            crossDomain:true,
            dataType:'jsonp',
            jsonp:false,
            jsonpCallback:'createForm',
            error:function (xhr, status, error) {
                alert(xhr);
                alert(status);
                alert(error);
            },
            success:function (data) {
                var listingForm = document.createElement("div");
                listingForm.id = "listingForm";
                listingForm.innerHTML = "<%= escape_javascript( render(:partial => "postings/bookmark_form", :locals=>{:user_name=>@user.user_name})) %>";


                $("#bookmark-category-selector").html(listingForm);
                $('#titleTextField').val(title);
                $('#priceField').val(price);
                $('#descriptionField').val(description);

                if (location == '') {
                    $('#searchTextField').val(data["address"]);
                    $(".lat").val(data["latitude"]);
                    $(".long").val(data["longitude"]);
                }
                else {
                    $('#searchTextField').val(location);
                }

                $('#posting_category_name').val(data["category"]);
                $('#category-goes-here').html(data["category"]);
                var image_urls_array = image_urls_string.split('|');
                $('#pictures').val(image_urls_string);

                var image;
                var image_container;
                for (var i = 0; i < image_urls_array.length; i++) {
                    image_container = document.createElement("div");
                    image_container.className = "image-container";
                    image = document.createElement('img');
                    image.src = image_urls_array[i];
                    image.className = "listing-photo";
                    image_container.appendChild(image);
                    document.getElementById("picture-container").appendChild(image_container);
                }


//                ADD CUSTOM FIELDS
                var field_counter = 1;
                var control_group;

                if (data["text_fields"]) {
                    var text_fields_array = data["text_fields"]
                    for (var i = 0; i < text_fields_array.length; i++) {
                        control_group = document.createElement("div");
                        control_group.innerHTML = '<div class="control-group">' +
                                '<label class="control-label">' + text_fields_array[i] + '</label>' +
                                '<div class="controls">' +
                                '<input id="custom_field' + field_counter.toString() + '_label" name="custom_field' + field_counter.toString() + '][label]" type="hidden" value="' +
                                text_fields_array[i] + '" /><input id="custom_field' + field_counter.toString() + '_value" name="custom_field' + field_counter.toString() + '][value]" size="30" type="text" />' +
                                '</div></div>';
                        document.getElementById("custom-field-section").appendChild(control_group);
                        field_counter += 1;
                    }
                }

                var label = '';

                if (data["sliders"]) {
                    var default_value = 0;
                    var min = 0;
                    var max = 0;
                    var step = 0;
                    var list_of_sliders = data["sliders"];
                    var slider;
                    var slider_css='';
                    var slider_id='';
                    for (var i = 0; i < list_of_sliders.length - 1; i++) {
                        slider = list_of_sliders[i]["slider"];
                        label = slider[0];
                        default_value = slider[1];
                        min = slider[2];
                        max = slider[3];
                        step = slider[4];


                        control_group = document.createElement("div");
                        control_group.innerHTML = '<div class="control-group"><label class="control-label">' + label +
                                '</label><div class="controls"><input id="custom_field' + field_counter.toString() +
                                '_label" name="custom_field' + field_counter.toString() + '][label]" type="hidden" value="' + label + '" />' +
                                '<p><input class="slider' + field_counter.toString() + '" id="amount' + field_counter.toString() +
                                '" name="custom_field' + field_counter.toString() +
                                '][value]" size="30" style="color:#f6931f; font-weight:bold;" type="text" /></p><div id="slider' + field_counter.toString() +
                                '"></div></div></div>';
                        document.getElementById("custom-field-section").appendChild(control_group);


                         slider_css="amount" + field_counter.toString();
                        $("#slider" + field_counter.toString()).slider({
                            value:default_value,
                            min:min,
                            max:max,
                            step:step,
                            slide:function (event, ui) {
                                document.getElementById(slider_css).value=ui.value;
                            }
                        });
                        $("#amount" + field_counter.toString()).val($("#slider" + field_counter.toString()).slider("value"));
                        field_counter += 1;
                    }
                }

                if (data["drop_down_menus"]) {
                    var drop_down_menus = data["drop_down_menus"];
                    var drop_down_menu_array;
                    var innerHTML = '';
                    var option = '';
                    for (var i = 0; i < drop_down_menus.length - 1; i++) {
                        drop_down_menu_array = drop_down_menus[i]["drop_down_menu"];
                        label = drop_down_menu_array[0];

                        control_group = document.createElement("div");
                        innerHTML = '<div class="control-group"><label class="control-label">' +
                                label + '</label><div class="controls"><input id="custom_field' +
                                field_counter.toString() + '_label" name="custom_field' + field_counter.toString() +
                                '][label]" type="hidden" value="' + label + '" /><select id="custom_field'
                                + field_counter.toString() + '_value" name="custom_field' + field_counter.toString()
                                + '][value]">';
                        for (var j = 1; j < drop_down_menu_array.length; j++) {
                            option = drop_down_menu_array[j];
                            innerHTML += '<option value="' + option + '">' + option + '</option>';
                        }
                        innerHTML += '</select></div></div>';
                        control_group.innerHTML = innerHTML;
                        document.getElementById("custom-field-section").appendChild(control_group);
                        field_counter += 1;
                    }
                }


//                 END CUSTOM FIELDS


                var cityAndStateSetIfAvailable = false;

                // when you submit the form, run these things
                $(".primaryForm").submit(function () {

                    if (cityAndStateSetIfAvailable == true) {
//                        $(".primaryForm .submit-form").attr('disabled', 'disabled');
                        $('#reppio_window').hide();
                        $('#bookmark-loader').show();
                        $.ajax({
                            url: $(".primaryForm").attr('action') + "&" + $(".primaryForm").serialize(),
                            type:'POST',
                            crossDomain:true,
                            dataType:'jsonp',
                            jsonp:false,
                            jsonpCallback:'formResponse',
                            error:function (xhr, status, error) {
                                alert(xhr);
                                alert(status);
                                alert(error);
                            },
                            success:function (data) {
                                if (data["status"]=="success")
                                {
                                    $('#bookmark-loader').hide();
                                    $("#bookmark-category-selector").html("<div style='font-size: 100px;line-height: 200px;text-align: center;'>Your listing was created.</div>");
                                    $('#reppio_window').fadeIn("fast").delay(3000).fadeOut("slow"); ;
                                }
                                else if (data["status"]=="fields"){
                                    alert('All fields must be filled out.');
                                    $('#reppio_window').show();
                                    $('#bookmark-loader').hide();
                                }
                                else{
                                    alert('A new version of the Rep It bookmark has been made. Please go to #{rep_it_url} to re-install it.');
                                }
                            }
                            });

                        return false;
                    }

                    var geocoder = new google.maps.Geocoder();

                    var address = $('#searchTextField').val();

                    geocoder.geocode({ 'address':address}, function (results, status) {

                        if (status == google.maps.GeocoderStatus.OK) {
                            $(".lat").val(results[0].geometry.location.lat() * Math.PI / 180);
                            $(".long").val(results[0].geometry.location.lng() * Math.PI / 180);
                            $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));


                            var arrayAddress = results[0].address_components;
                            for (var i = 0, length = arrayAddress.length; i < length; i++) {
                                address_component = arrayAddress[i];
                                if (address_component.types[0] == "locality") {
                                    $('.city').val(address_component.short_name); //set city
                                }

                                if (address_component.types[0] == "administrative_area_level_1") {
                                    $('.state').val(address_component.short_name); //set state abbreviation
                                }
                                if (address_component.types[0] == "postal_code") {
                                    $('.zip-code').val(address_component.short_name); //set zip code
                                }
                            }


                            cityAndStateSetIfAvailable = true;
                            $(".primaryForm").submit(); //re-submit form with fixed fields, will succeed because  boolean was set to true
                        }
                        else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                            alert("Location is not valid.");
                        }

                    });
                    return false; // do not send form that was called that did not have attempt to get city, state, address
                });


                var map;
                var circle;
                var geocoder = new google.maps.Geocoder();

                function isValidStreetAddress(geoLocatorResultAddressComponents) {
                    var isValidStreetAddress = false;
                    var arrayAddress = geoLocatorResultAddressComponents;
                    for (var i = 0; i < arrayAddress.length; i++) {
                        address_component = arrayAddress[i];
                        if (address_component.types[0] == "street_number") {
                            isValidStreetAddress = true;
                        }
                    }
                    return isValidStreetAddress;
                }

                function updateAfterAddressWasChanged() {
                    var boo = '<span style="color:red; font-size:1.5em;">&#x2718;</span>';
                    var yay = '<span style="color:green; font-size:1.5em;">&#x2714;</span>';
                    var address = $('#searchTextField').val();
                    geocoder.geocode({ 'address':address}, function (results, status) {
                        if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                            $('#good-bad-address').html(boo);
                        }
                        else if (status == google.maps.GeocoderStatus.OK) {
                            var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                            if (isValidStreetAddress(results[0].address_components)) {
                                $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));
                                $('#good-bad-address').html(yay);
                            }
                            else { //say the address is for chicago, il... then reverse geocode the latlng to a street address

                                geocoder.geocode({'latLng':latlng}, function (results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        if (isValidStreetAddress(results[0].address_components)) {
                                            latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

                                            $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));
                                            $('#good-bad-address').html(yay);
                                        }
                                        else {
                                            $('#good-bad-address').html(boo);
                                        }
                                    }
                                    else {
                                        $('#good-bad-address').html(boo);
                                    }
                                });
                            }

                            circle.setCenter(latlng);
                            map.setCenter(latlng);
                            map.fitBounds(circle.getBounds());
                        }
                    });
                }

                //    INITIALIZE MAP
                var styles = [
                    {
                        "featureType":"water",
                        "stylers":[
                            { "lightness":4 },
                            { "gamma":0.93 },
                            { "saturation":-41 },
                            { "hue":"#002bff" }
                        ]
                    },
                    {
                        "featureType":"road",
                        "stylers":[
                            { "gamma":0.98 },
                            { "hue":"#00a1ff" },
                            { "saturation":-51 },
                            { "lightness":-9 }
                        ]
                    },
                    {
                        "elementType":"labels.text.stroke",
                        "stylers":[
                            { "color":"#ffffff" },
                            { "weight":5 }
                        ] }
                ];
                var radius = 100;
                var latlng = new google.maps.LatLng(<%=@user.latitude%>, <%=@user.longitude %>);
                var myOptions = {
                    zoom:10,
                    center:latlng,
                    mapTypeId:google.maps.MapTypeId.ROADMAP,
                    scrollwheel:false,
                    streetViewControl:false,
                    mapTypeControl:false,
                    styles:styles
                };
                map = new google.maps.Map(document.getElementById("map_canvas"),
                        myOptions);

                var options = {
                    strokeWeight:0,
                    fillOpacity:0.5,
                    fillColor:'#FF7A4A',
                    map:map,
                    center:latlng,
                    radius:radius
                };
                circle = new google.maps.Circle(options);
                map.fitBounds(circle.getBounds());


                $('.primaryForm input:not(textarea)').keypress(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                    }
                });

                var input = document.getElementById('searchTextField');
                var options = {
                    componentRestrictions:{country:'us'}
                };
                var autocomplete = new google.maps.places.Autocomplete(input, options);

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    if (place.geometry) {
                        var thelat = place.geometry.location.lat();
                        var thelng = place.geometry.location.lng();
                        $(".lat").val(thelat);
                        $(".long").val(thelng);
                        var address = '';
                        if (place.address_components) {
                            address = [(place.address_components[0] &&
                                    place.address_components[0].short_name || ''),
                                (place.address_components[1] &&
                                        place.address_components[1].short_name || ''),
                                (place.address_components[2] &&
                                        place.address_components[2].short_name || '')
                            ].join(' ');
                        }
                        updateAfterAddressWasChanged();
                    }
                });

                $('#searchTextField').change(function () {
                    updateAfterAddressWasChanged();
                });

                $('#save-as-draft').mouseup(function () {
                    var input = $("<input>").attr("type", "hidden").attr("name", "draft").val("true");
                    $('.primaryForm').append($(input));
                });

            }
        });

        return false;
    });
}



head.js("http://code.jquery.com/jquery-latest.min.js",
        "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js",
        "https://maps.googleapis.com/maps/api/js?key=AIzaSyA5uvuOfvOix5eUwSZSEEDqjuvKslbxghA&sensor=false&libraries=places&callback=parseCurrentWebsite", function () {

        });


