<div class="row">
  <div class="span2 offset"></div>
  <div class="span8">
    <div class="rep-container container" style="padding:20px;">
      <h1>WOW! Publish posts from Etsy, eBay, and Craigslist instantly! </h1>

      <p>Introducing the ‘Rep it’ button. Once installed (within seconds), this magical button allows you to instantly publish your posts from other websites to Reppio with one simple click. Seriously, give it a try, you'll freak at how cool it is.
        </p>
      <h2>It's free. It's easy. Why not?  </h2>
      <% if current_user %>

            <a title="Rep it!" class="rep-it-button" onclick="window.alert('To install the \'Rep it\' button, drag it to your bookmark bar. Or right-click and choose \'Add to Favorites.\'');return false;" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src', '<%= rep_it_bookmark_url(:u => current_user.rep_it_token) %>');document.body.appendChild(e)})());">Rep
              it</a>   Drag me into your bookmark toolbar.
      <% else %>
          You must be logged in to use the Rep it! button.
      <% end %>

      <hr>
     <h3> Get started</h3>
      <p>
      You must sign in to activate your personalized button. If you're not already a member, join for free. It's easy and only takes a few seconds. You can even join with Facebook.
      </p>
      <h3> Grab it </h3>

      Drag the "Rep it" button to your browser bookmark bar. On some browsers, you may need to right-click and choose "Add to Favorites." Remember, if you're not signed in, it won't work!
      <h3>  Rep it </h3>

      Navigate to your item on Etsy, Craigslist, or eBay and click the 'Rep it' button. Magically, all your info — title, description, price, location, photos — will be copied. Click "Publish" (or "save as draft") and you're done!
      <h3>Repeat it </h3>

      Do it again and again for all your other items. It's so quick and easy. Just don't get carried away and start listing other peoples' stuff!
       <hr>
      <h2>FAQ</h2>

      <h3>Where does it work?</h3>

      The button was designed to work on Etsy, Craigslist, and eBay. If you have a suggestion for another website it should support, let us know at team@reppio.com.
      <h3>Am I breaking the 'Terms of Use' of the other website?</h3>

      Nope. As long as the text and photos are yours, everything is kosher.

      <h3>Do I have to be signed into Reppio to use the button? </h3>

      No. We only need you to be signed in when you install the button. Once it is installed, it carries an account access token that is unique to you.
      <h3>Is it secure?</h3>

      Yes. We take security seriously at Reppio. Just remember, if you install it on a computer that is not yours (Internet cafe or friend's computer), you'll want to uninstall it when you're done. You can do this by dragging it off the Bookmark Bar.
      <h3>It's not working!</h3>

      Let us know at team@reppio.com. Please include the URL of the post you are trying to list and what browser/operating system you are using.

    </div>
  </div>

</div>



