<% content_for :bodyID, "user-settings" %>
<% content_for :blue_header_image_height, "400" %>

<div class="row-fluid row-fluid-style">
  <div class="span12">
    <div class="rep-container" style="padding:20px;">
      <%= form_for current_user, :html => {:class => "form-horizontal"} do |f| %>

          <% if current_user.errors.any? %>
              <div id="error_explanation">
                <h2 class="alert alert-error"><%= pluralize(user.errors.count, "error") %> prevented this user from
                  being
                  saved:</h2>

                <% current_user.errors.full_messages.each do |msg| %>
                    <p><span class="label label-warning">Error:</span> <%= msg %> </p>
                <% end %>
              </div>
          <% end %>

          <div class="well">
            <legend>Locale Settings</legend>
            <%= f.label :time_zone, "Time Zone", :class => "inline" %>
            <%= time_zone_select("user", "time_zone", ActiveSupport::TimeZone.us_zones, {:default => "Central Time (US & Canada)"}, :style => "width:500px;") %>
          </div>

          <div class="well" style="margin-top:20px;">
            <legend>Promotion Settings</legend>
            <label class="checkbox" for="user_promote_postings_to_facebook">
              <%= check_box("user", "promote_postings_to_facebook", :checked => current_user.promote_postings_to_facebook) %>
              Automatically promote my listings on my Facebook timeline.
            </label>
          </div>

          <div class="well" style="margin-top:20px;">
            <legend>Privacy Settings</legend>
            <label class="checkbox" for="user_receive_email_notifications" id="receiveEmail">
              <%= check_box("user", "receive_email_notifications", :checked => current_user.receive_email_notifications) %>
              Receive email notifications
              <span class="help-inline small-text">(Notifications will be sent whenever other users message you, review you, or try to set up appointments with you.)</span>
            </label>
          </div>

          <div class="well" style="margin-top:20px;">
            <legend>Password Settings</legend>
            <p class="help small-text">(All fields must be filled out in order for your password to be
              successfully
              changed.)</p>
            <% if current_user.email_confirmation_code.nil? %>

                <div class="control-group">
                  <label class="control-label" for="user_new_password">New Reppio password</label>

                  <div class="controls">
                    <%= password_field_tag :new_password %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="user_new_password_confirm">Confirm new password</label>

                  <div class="controls">
                    <%= password_field_tag :new_password_confirm %>
                  </div>
                </div>
            <% else %>

                <div class="control-group">
                  <label class="control-label" for="user_old_password">Old Reppio password</label>

                  <div class="controls">
                    <%= password_field_tag :old_password %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="user_new_password">New Reppio password</label>

                  <div class="controls">
                    <%= password_field_tag :new_password %>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="user_new_password_confirm">Confirm new password</label>

                  <div class="controls">
                    <%= password_field_tag :new_password_confirm %>
                  </div>
                </div>

            <% end %>
          </div>

          <br><br>

          <div class="pull-left"><%= f.submit "Update Settings", :class => "btn btn-success" %></div>
      <% end %>
      <%= link_to "Deactivate Account", {:controller => :users, :action => :deactivate}, {:class => "small-text pull-right", :id => "deactivate-link"} %>
    </div>
  </div>
</div>


<div class="modal hide" id="deactivate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are you sure?</h3>
  </div>
  <div class="modal-body">
    <p>If you think you are receiving too many email notifications, you can uncheck the box for "Receive email
      notifications". </p>

    <p>If you deactivate your account, your postings will not be searchable, and your profile will be hidden. Your
      account will be deactivated until the next time you log in. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to "Deactivate Account", {:controller => :users, :action => :deactivate}, {:class => "btn btn-danger", :method => :post} %>

  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#deactivate-link').attr('href', "#deactivate-modal")
        $("#deactivate-link").click(function () {
            $('#deactivate-modal').modal('show');
        });
    });
</script>