<% content_for :bodyID, "user-show" %>
<% title @user.first_name+"'s Profile" %>


<div class="row">

  <div class="span12 rep-container" style="overflow:hidden;">
    <div class="span8" style="padding-bottom:9999px; margin-bottom:-9999px; height:inherit; border-radius:0px 10px 10px 0px; box-shadow:2px 0px 2px rgba(0,0,0,0.2);">
      <div id="user_left" style="padding:20px;">
        <h4>About <%= @user.first_name %></h4>
        <% if !(@user.about_me.nil? || @user.about_me.blank?) %>
            <div>
              <p><%= @user.about_me %></p>
            </div>
        <% else %>
            <%= @user.first_name %> has not filled out their profile yet.<br>
        <% end %>


        <br>

        <% if not (@userdata.facebook_friends_on_reppio_list.nil? || @userdata.facebook_friends_on_reppio_list.empty? || @fb_ids.length <= 1) %>
            <h4>Rep Connections</h4>

            <p>

            <div>
              <% @fb_ids[0, 8].each do |fb_id|
                friend=User.find_by_facebook_id(fb_id)
                 if friend
                    friend_url=friend.user_name.nil? ? "#" : user_url(:user_name => friend.user_name)
              %>
                      <%= link_to friend_url do %>
                  <img class="hasTooltip" src="http://graph.facebook.com/<%= fb_id %>/picture" style="border-radius:3px; margin-bottom:3px;" title="<%= "#{friend.first_name} #{friend.last_name[0]}." %>">
                      <% end %>
              <% end
                 end %>

              <% if @fb_ids.length <= 8 %>
              <% else %>
              <span id="fbMoreFriendsLink" style="cursor:pointer; color:#666;">
                <a>&nbsp;&nbsp;See all <%= @fb_ids.length %> connections</a>
              </span>

                  <% @fb_ids[8, @fb_ids.length].each do |fb_id|
                    friend=User.find_by_facebook_id(fb_id)
                  if friend
                    friend_url=friend.user_name.nil? ? "#" : user_url(:user_name => friend.user_name)
                  %>
                          <%= link_to friend_url do %>
                      <img class="hasTooltip hiddenFbImage" src="http://graph.facebook.com/<%= fb_id %>/picture" style="display:none;border-radius:3px; margin-bottom:3px;" title="<%= "#{friend.first_name} #{friend.last_name[0]}." %>">
                  <% end
                     end
                     end %>
              <% end %>

            </div>
            </p>

            <br>

        <% end %>

        <div id="user_references">
          <h4>References</h4>

          <div class="reviewsPublic">
            <%= render(:partial => "references/reference_as_for_profile", :locals => {:user => @user}) %>
          </div>
        </div>

        <br>

        <div id="user_reviews">
          <h4>Reviews</h4>

          <div class="reviewsPublic">
            <%= render(:partial => "reviews/review_as_for_profile", :locals => {:user => @user, :reviews => @reviews}) %>
          </div>
        </div>

        <br>

        <div id="user_other_listings">
          <h4><%= @user.first_name+'\'s ' %> Marketplace Listings</h4>
          <%= render(:partial => "postings/postings_list", :locals => {:polaroid => "true", :postings => @postings}) %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div id="user_right">
        <div id="user_pictures" style="padding:20px;">
          <% if !(firstPicture = @sortedPicturesNoIndices.first).nil? %>
              <%= image_tag(firstPicture.photo.url(:medium), :id => "mainProfilePicture") %>
              <% if @sortedPicturesNoIndices.length > 1 %>
                  <div id="user-thumbnails">
                    <img src="<%= @sortedPicturesNoIndices.first.photo.url(:thumb) %>" data-href="<%= @sortedPicturesNoIndices.first.photo.url(:medium) %>" class="thumbEvent highlightCarouselThumb"/>

                    <% @sortedPicturesNoIndices.last(@sortedPicturesNoIndices.length-1).each do |picture| %>
                        <img src="<%= picture.photo.url(:thumb) %>" data-href="<%= picture.photo.url(:medium) %>" class="thumbEvent"/>
                    <% end %>
                  </div>
              <% end %>
          <% else %>
              <!--(User did not upload a picture.)-->
          <% end %>
        </div>

        <div style="text-align:center;">
          <h3><%= @user.first_name %></h3>
          <%= (@user.city && @user.state) ? @user.city+', '+@user.state : "" %>
          <br>
          <i>Member Since <%= @user.created_at.strftime("%b '%y") %></i>
          <br><br>
        </div>

        <div class="posting-user-area">
          <div class="row">
            <div class="span1"><%= rep_meter_large(@userdata.repscore, "rep-score-inline") %></div>
            <div class="colorful-reputation-info">
              <div style="color:#005c82;"><%= @userdata.facebook_friends_on_reppio ? @userdata.facebook_friends_on_reppio : 0 %> rep connections<br></div>
              <div style="color:#4f8200;"><%= @userdata.positive_reviews %> positive reviews<br></div>
              <div style="color:#FF3300;"><%= @userdata.negative_reviews %> negative reviews</div>
            </div>
          </div>
        </div>

        <div class="fade-to-white dark-grain-background" align="center" style="padding:40px; padding-top:40px; border:none; margin-left:2px;">
          <div style="text-align:left;">
            <h4><%= @user.first_name %>'s Verifications</h4>

            <p>

            <div style="margin-top:5px;">
              <% if !@user.facebook_id.blank? %>
                  <%= image_tag("verification_icons/facebook-icon.png", :style => "width:20px; height:20px; border:0px #000 solid; border-radius:3px") %>
                  &nbsp;&nbsp;&nbsp;<%= @userdata.fb_friends %> friends <br>
              <% end %>
              <% if @userdata.linked_twitter %>
                  <%= image_tag("verification_icons/twitter-icon.png", :style => "width:20px; height:20px; border:0px #000 solid; border-radius:3px") %>
                  &nbsp;&nbsp;&nbsp;<%= @userdata.twitter_number_of_followers %> followers <br>
              <% end %>
              <% if @userdata.linked_linkedin %>
                  <%= image_tag("verification_icons/linkedin-icon.png", :style => "width:20px; height:20px; border:0px #000 solid; border-radius:3px") %>
                  &nbsp;&nbsp;&nbsp;<%= @userdata.linkedin_number_of_connections %> connections <br>
              <% end %>
            </div>
            <% if @user.cell_phone_verified? %>
                <div style="margin-top:5px;">
                  <%= image_tag("verification_icons/phone-icon.png", :style => "width:20px; height:20px; border:0px #000 solid; border-radius:3px") %>
                  &nbsp;&nbsp;&nbsp;xxx-xxx-xx<%= @user.phone_number[8, 9] %>
                </div>
            <% end %>

            <% if !@user.email_private %>
                <p>
                <h4>Email</h4>
                <%= @user.email %>
                </p>
            <% end %>



            <p>

            </p>

            <p>
              <% if !@user.street_address_private %>
                <h4>Location</h4>
                <%= @user.street_address %>
            <% end %>
            </p>



            <% if !@user.phone_number_private %>
                <p>
                <h4>Phone Number</h4>
                <%= @user.phone_number %>
                </p>
            <% end %>



            <% if !@user.education_private %>
                <p>
                <h4> Education </h4>
                <%= @user.education %>
                </p>
            <% end %>



            <% if !@user.employer_private %>
                <p>
                <h4> Employer </h4>
                <%= @user.employer %>
                </p>
            <% end %>
          </div>
        </div>

        <div style="text-align:center; margin-bottom:40px;">
          <% if signed_in? %>
              <div id="user_flag">
                <%= render(:partial => "flags/dropdown", :locals => {:content_creator_user_id => @user.id}) %>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.hasTooltip').tooltip();
    $("#fbMoreFriendsLink").click(function () {
        $("#fbMoreFriendsLink").hide();
        $('.hiddenFbImage').fadeIn();
    });
    $('.thumbEvent').click(function () {
        $('.thumbEvent').removeClass('highlightCarouselThumb');
        $(this).addClass('highlightCarouselThumb');
        $('#mainProfilePicture').attr('src', $('.highlightCarouselThumb').attr("data-href"));
    });

</script>





