<div id="current_student_form">
  <%= form_tag({:controller => 'manage', :action => 'add_student_email'}, :remote => true, :style=>"margin-bottom:0px;") do %>

      <h3>Current Students</h3>

      <%= image_tag "student.png", :style=>"height:100px; width:auto;" %>

      <p style="color:black; margin-top:10px;">
        Add your school email address, and you can buy and sell amongst your friends!
      </p>

      <fieldset>

        <%= text_field_tag :email, params[:email], :placeholder=>"email", :style=>"margin-top:10px; height:30px; width:58%;" %>

        <%= submit_tag "Add", :id => "submit_button", :class => "flat-btn-orange", :style=>"width:25%;" %>

      </fieldset>

  <% end %>

  <div id="skip-button" class="flat-btn-blue" style="width:100%; cursor:pointer;">Skip</div>
</div>

<div id="interests_form" style="display:none;">
  <h3>Select Your Interests</h3>
  
  <% @categories_pictures.each do |category, picture_url| %>
  <div class="interests-checkbox" data-url="<%=toggle_interest_url(:category=>category)%>">
    <input id="interests_<%=category%>" type="checkbox" value="<%=category%>" <%= (current_user.interests.include? category) ? "checked" : "" %> />
    <label for="interests_<%=category%>" class="checkbox" style="line-height:10px;">
      <%= image_tag "verification_icons/check.jpg", :class=>"interests-checked" %>
      <%= image_tag picture_url %><br><br><%= category %>
    </label>
  </div>
  <% end%>

</div>

<script type="text/javascript">
  $('#skip-button').click(function() {
    $('#add_student_email_modal').modal('hide');
    // $('#current_student_form').hide();
    // $('#interests_form').show();
  });
</script>