<%
   seller = User.find(posting.user_id)

   potential_buyer=User.find(conversation.potential_buyer_id)

   if posting.for_sale
     if role=="selling"
       if posting.user_id_with_permission_to_buy==0
         payment_situation=1 #Request payment
       elsif conversation.potential_buyer_id==posting.user_id_with_permission_to_buy
         if posting.sold_on_paypal
           payment_situation=7  # Payment was received
         else
             payment_situation=2 # Payment was requested from this potential buyer
         end
       else
         payment_situation=3 # Payment was requested from a different potential buyer
       end
     elsif role=="buying"
       if current_user.id==posting.user_id_with_permission_to_buy
         if posting.sold_on_paypal
           payment_situation=4 # Buyer has already purchased
         else
           payment_situation=5 #Buyer can purchase
         end
       else
         payment_situation=6 # Seller has not requested this buyer to buy
       end
     end
   end
%>

<div class="light-gray-gradient conversation-container<%= " buying-conversation-container" if role=="buying"%>">

  <div class="top-gray-bar">
    <div class="tabs">
      <div id="messages-tab" class="active-tab">Messages</div>
      <div id="buy-actions-tab" class="tab">
        <%= payment_label(payment_situation) %>
        <% if payment_situation ==5 %><div class="badge" id="buy-now-badge">1</div><% end %>
      </div>
    </div>
    <% if completed_posting=="in-progress" %>
        <%= link_to(remove_conversation_url(:id => conversation.id, :asRole => role), :confirm => "Are you sure you want to remove this conversation?", :class => "remove-conversation-button") do %>
            <button type="button" class="x-button"><span class="x">&times;</span>
            </button>
        <% end %>
    <% else %>
    <%= link_to(remove_completed_posting_url(:id => posting.id), :confirm => "Are you sure you want to remove your posting, '#{posting.title}', and all associated conversations?", :class => "remove-conversation-button") do %>
        <button type="button" class="x-button"><span class="x">&times;</span>
        </button>
    <% end %>
    <% end %>
  </div>
  <div id="messages-content">
    <div class="conversation-messages-container">
      <% conversation.messages.each do |message| %>
          <%= render(:partial => "conversations/message", :locals => {:message => message, :buyerName => potential_buyer.first_name, :sellerName => seller.first_name}) %>
      <% end %>
    </div>
    <%= form_for conversation, :remote => true, :html => {:id => "message-form"} do |f| %>
        <%= f.fields_for :message do |af| %>
            <%= af.text_area :message_body, :placeholder => "Write your message here...", :style => "height:60px; margin-bottom:10px; width:97%;", :class => "reply-box", :id => "message-box" %>
        <% end %>
        <input name="offer" placeholder="and make an offer (optional)" class="price-text-field options-text-field span4"/>
        <%= f.submit "Send", :class => "rep-btn rep-btn-orange inline span4", :style => "width:200px;" %>
    <% end %>

  </div>

  <div id="buy-actions-content" style="display:none;">
    <% case payment_situation
         when 1 #request payment   %>
        <% if current_user.paypal_email.blank?
             non_primary_emails=EmailAddress.where("user_id=? AND is_primary=false", current_user.id)
             pending_email=non_primary_emails.where("email_confirmed =false")
             non_primary_validated_emails=non_primary_emails - pending_email%>
            Before you can request payment, you need to specify your Paypal email address.

            <%= form_for current_user, :html => {:multipart => true, :class => "form-horizontal primaryForm edit-user-form"}, :validate => true do |f| %>

             Select an existing email address: <br><br><br>
                <% if current_user.paypal_email.blank?
                     potential_emails = non_primary_validated_emails.collect(&:email)<<current_user.email<< ''
                   else
                     potential_emails = non_primary_validated_emails.collect(&:email)<<current_user.email
                   end%>
                <%= f.select :paypal_email, potential_emails.reverse, {:default => current_user.paypal_email}, :style => "width:100%" %>
                <%= hidden_field_tag :from_conversation_paypal_email, 'true' %>

                <br>
                <br>
                <p><%=  link_to "... or add a new email address.", edit_user_url(:user_name=>current_user.user_name, :highlight=>"paypal") %>  </p>
<br>
                <br>
                <%= submit_tag "DONE", :class => "rep-btn rep-btn-orange" %>

  <% end %>
  <% else %>
        <%= form_tag request_payment_url(:posting_id => posting.id, :user_id => conversation.potential_buyer_id) %>
        <div>
          <h4 style="margin-top:15px;">Payments</h4>

          <p>Use Paypal to complete your transaction! Now you don't need to accept sketchy checks or carry around stacks
            of Benjamins wherever you go. Request payment and instantly see funds flow into your Paypal account. </p>
          <a class="hasTooltip" style="cursor:pointer;" data-placement="right" title="Paypal is not only one of the safest ways to pay, it also allows the added convenience of letting your buyer pay using credit card.">Why
            pay using Paypal?</a>
          <hr>
          <p style="vertical-align: bottom;">I want to sell my item for: &nbsp;&nbsp;

          <div class="input-prepend">
            <span class="add-on" style="display:inline-block;padding:4px 0px;">$</span>
            $<%= text_field_tag :requested_price, posting.price, :style => "width:90px;", :min => "1", :max => "100000" %>
            .
            <input type="submit" class="btn btn-primary" style="border-radius:5px;margin-left:10px;" value="Continue">
          </div>

        </div>

        </form>
            <% end %>
    <% when 2 # Payment was requested from this potential buyer  %>
        <h4 style="margin-top:15px;">Payment Pending!</h4>
        You requested <%= number_to_currency(posting.requested_price, :precision => 0) %> to be paid to you. <%= link_to "Cancel", cancel_request_payment_url(:id=>posting.id), :confirm=>"Are you sure you want to cancel?"%>

        <%= form_tag request_payment_url(:posting_id => posting.id) %>

        <p style="vertical-align: bottom;">Change amount requested to
                                  <span class="input-prepend">
                                    <span class="add-on" style="display:inline-block;padding:4px 0px;">$</span>
                                       $<%= text_field_tag :requested_price, posting.price, :style => "width:90px;", :min => "1", :max => "100000" %>
                                    .
                                      </span>
        </p>


        <input type="submit" class="btn btn-primary" value="Continue">

        </form>
    <% when 3
         user_requested_payment_from=User.find(posting.user_id_with_permission_to_buy) %>

        <h3 style="margin-top:15px;">Payment already requested!</h3>

        You already requested  <%= number_to_currency(posting.requested_price, :precision => 0) %>
        from <%= link_to user_requested_payment_from.first_name, user_requested_payment_from %>.
        <%= link_to "Cancel", cancel_request_payment_url(:id=>posting.id), :confirm=>"Are you sure you want to cancel?"%>

    <% when 4 %>
        You already paid.
    <% when 5 %>
        <h3>You can buy now, but wait!</h3>

        <p><b>We strongly recommend</b> that you only pay while receiving the item. Note that if you pay with a credit
          card,
          there will be a convenience charge.</p>
        <p><%= seller.first_name %> has requested <%= number_to_currency(posting.requested_price, :precision => 0)%>.</p>
        <br><br>


        <a class="btn btn-primary" href="<%= buy_url(:posting_id => posting.id, :c => "n") %>">Buy with
          Paypal Balance</a>
        <a class="btn btn-warning" href="<%= buy_url(:posting_id => posting.id, :c => "y") %>">Buy with
          Credit Card</a>

    <% when 6 %>
        <h3 style="margin-top:15px;">Hold on there, cowboy!</h3>

        <p><b>We highly recommend payment steps be taken in person!</b> The seller needs to request payment before you
          can buy this item. This means you are only able to buy items that a seller is seriously considering selling to
          you.</p>
    <% when 7
         user_requested_payment_from=User.find(posting.user_id_with_permission_to_buy) %>

        <h3 style="margin-top:15px;">Payment already received!</h3>

        You received  <%= number_to_currency(posting.requested_price, :precision => 0) %>
        from <%= link_to user_requested_payment_from.first_name, user_requested_payment_from %>. Check your Paypal account.

  <% end %>
  </div>


</div>

