<div class="conversation-summary-and-messages-container" id="conversation<%=conversation.id%>">
<%
   conversation_page= content_for(:activeManageSubMenu)=="completed" ? completed_selling_posting_conversation_url(:id=>posting.id, :buyer_id=>buyer.id) : selling_posting_conversation_url(:id=>posting.id, :buyer_id=>buyer.id)
%>
<div class="shadow light-gray-gradient list-td conversation-summary">
  <%=  link_to(conversation_page, :class=>"messages-link") do %>
  <div class="conversation-icon">
    <%= badge(seller_unread_message) %>
  </div>
  <% end %>

  <%=  link_to(buyer) do %>
  <div class="buyer-pic">
   <%= image_tag(link_to_user_profile_thumb(buyer)) %>
  </div>
      <% end %>


  <%= rep_meter_small(buyer.repscore, "rep-score-conversation-list") %>

  <div class="offer-summary">
    <%= last_offer_from_buyer_message(posting, buyer, conversation_page) %>
  </div>

</div>

</div>