<div id="conversation-summary-list">
<%
   conversations.each do |conversation|
  buyer=User.find(conversation.potential_buyer_id)%>
    <%= render(:partial => "manage/conversation_summary",
               :locals => {:conversation=>conversation, :buyer=>buyer,
                           :seller_unread_message=>(conversation.unread_by_seller ? 1 : 0),
                           :posting=>posting}) %>
<% end %>
</div>
