<div class="result-row">
  <div id="<%= posting.id %>" class="result-td shadow light-gray-gradient list-td" style="width:755px;">
    <div class="list-item-picture shadow">
      <%= image_tag(picture_url.gsub("large_thumb", "medium")) %>
    </div>

    <div class="list-title"><%= link_to posting.title, user_posting_url(:user_name => seller.user_name, :id => posting.id) %>
    </div>



    <div class="orange-price-label"></div>


    <div class="list-dollar-sign list-manage-dollar-sign-pos">$
    </div>

    <% if posting.price>1000
         large_price=posting.price/1000.to_i
         price_string=posting.price.to_s
         remainder=price_string[large_price.to_s.length, price_string.length]

    %>
        <div class="list-price list-manage-price-pos">
          <%= large_price %>,
        </div>
        <div class="list-remainder list-manage-remainder-pos"><%= remainder %></div>
    <% else %>
        <div class="list-price list-manage-price-pos">
          <%= posting.price %>
        </div>
    <% end %>


    <div class="list-posting-and-time">
      <br><i class="icon-map-marker" style="color:#767676;"></i>
      <%= number_with_precision(::DistanceCalculations.distance_between(current_user.latitude/180*Math::PI,current_user.longitude/180*Math::PI, posting.latitude, posting.longitude), :precision=>1) %>
      miles    <%= ::DistanceCalculations.compass_bearing(current_user.latitude,current_user.longitude, posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI).downcase %>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <icon class="icon-time" style="color:#767676;"></icon> <%= time_ago_in_words(posting.updated_at).sub("about", "").sub("hour", "hr").sub("minute", "min").sub("ago", "").sub("less than", "") %>

    </div>

    <div class="seller-name">
      <%= link_to seller.first_name, seller %>
    </div>


    <div class="seller-pic">
      <%= link_to(seller) do %>    <%= image_tag(profile_picture_url) %>
      <% end %>
    </div>

    <div class="list-rep">
      REP
    </div>
    <div class="list-rep-score">
      <%= sellerRepscore %>
    </div>
  </div>
</div>