<% userdata = Userdata.find_by_user_id(current_user.id)
   verifs_complete = Utils::addBooleans(!current_user.facebook_id.blank?, userdata.linked_twitter, userdata.linked_linkedin, userdata.phone_number_complete)
%>

<div id="manage-rep-partial" class="row">
	<div class="span2">
		<%= link_to manage_url do %>
        <div class="manage-rep-partial-left">
          <i style="font-size:20px;" class="icon-envelope-alt"></i>&nbsp;&nbsp;Interactions
		</div>
        <% end %>
	</div>
	<div class="span7">
      <%= link_to edit_user_url(:user_name=>current_user.user_name) do %>
		<div class="manage-rep-partial-middle">
			&nbsp;&nbsp;&nbsp;
                <span class="manage-rep-partial-middle-profile-pic"><%= profile_pic_if_exists("thumb",current_user) %></span>&nbsp;&nbsp;<%= truncate(current_user.first_name, :length => 10) %>
			&nbsp;&nbsp;&nbsp;
                <%= rep_meter_small(userdata.repscore, "rep-score-inline") %>
            &nbsp;&nbsp;&nbsp;

			<%=image_tag "rep/thumbs-up.png"%>&nbsp;&nbsp;<%= userdata.positive_reviews %>
			&nbsp;&nbsp;&nbsp;
          <%=image_tag "rep/thumbs-down.png"%></i>&nbsp;&nbsp;<%= userdata.negative_reviews %>

			&nbsp;&nbsp;&nbsp;
			    <i style="font-size:20px;" class="icon-th-large"></i>&nbsp;&nbsp;<%= userdata.facebook_friends_on_reppio %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= verifs_complete %>/4 Verifications
			&nbsp;&nbsp;&nbsp;
		</div>
      <% end %>
	</div>
	<div class="span3">
        <%= link_to rep_center_url do %>
		<div class="manage-rep-partial-right">
			<i style="font-size:20px;" class="icon-trophy"></i>&nbsp;&nbsp;Reputation Center
		</div>
        <% end %>
	</div>
</div>