<script type="text/javascript">
    <%= render :partial=>"conversations/conversation_view_scripts"%>


    // buying conversation page
    function buying_page_script() {
        if ($('.buying-conversation-container')[0] != undefined) {
            conversation_view_scripts();
        }
    }

    function scripts_on_new_manage_page() {
        $('.hasTooltip').tooltip();

        $(".result-row a").click(function (e) {

            e.stopPropagation();
            return true;
        })


        $('#manage-menu-left').pjax('a', {
                    container:'#manage-menu-and-content',
                    fragment:'#manage-menu-and-content',
                    timeout:5000 }
        );


        $('.result-row').click(function () {
            var url = $(this).data('url');
            $.pjax({
                container:'#manage-menu-and-content',
                fragment:'#manage-menu-and-content',
                url:url,
                timeout:5000
            });
            buying_page_script()
        });


        $('.delist-link, .promote-link').click(function () {
            $.ajax({
                url:$(this).attr('href'),
                type:'GET'
            });
            return false;
        });

//        selling conversation summary page
        if ($('#conversation-summary-list')[0] != undefined) {
            function toggle_summary(summary_and_messages_container, messages_container_visible, messages_url) {
                if (messages_container_visible)
                    $('.conversation-container').slideUp("normal", function () {
                        $(this).remove();
                    });
                else {
                    if ($('.conversation-container')[0] != undefined) {
                        $('.conversation-container').slideUp("normal", function () {
                            $(this).remove();
                            $.getScript(messages_url);
                        });

                    }
                    else {
                        $.getScript(messages_url);
                    }
                }
            }

            $('a.messages-link').click(function () {
                var messages_url = $(this).attr('href');
                var summary_and_messages_container = $(this).closest('.conversation-summary-and-messages-container');
                var messages_container_visible = summary_and_messages_container.find('.conversation-container')[0] != undefined;
                toggle_summary(summary_and_messages_container, messages_container_visible, messages_url);
                return false;
            });
        }

        //  interests scripts
        if ($('#interests')[0] != undefined) {
            $('.interests-checkbox').click(function () {
                var image_path = $(this).find('img').attr("src");
                if (image_path.indexOf("1-") !== -1)
                    $(this).find('img').attr("src", image_path.replace("1-", "2-"));
                else
                    $(this).find('img').attr("src", image_path.replace("2-", "1-"));

                $.ajax({
                    url:$(this).data('url')
                });
                return false;
            })
        }


        //   group show page
        if ($('#list-of-group-postings')[0] != undefined) {
            $.getScript("<%= asset_path "jquery.infinitescroll.min.js"%>", function () {
                $('#list-of-group-postings').infinitescroll({
                    navSelector:".pagination",
                    nextSelector:".pagination a[rel='next']",
                    itemSelector:".square-listing-link",
                    loading:{
                        finishedMsg:"<em>There are no more postings for this group.</em>",
                        msgText:"<em>Loading more postings...</em>"
                    }
                });
            });

        }
        //        create group form page
        if ($("#groups-form")[0] != undefined) {
            $('#short-name-url').html($('#short-name').val());

            var alphanumeric_regex = new RegExp('^[a-z0-9]+$', "i");

            $('#short-name').keyup(function () {
                var shortName = $('#short-name').val();
                if (shortName == '' || alphanumeric_regex.test(shortName)) {
                    $('#short-name-url').html($('#short-name').val());
                } else {
                    $('#short-name').val($('#short-name-url').html());
                }
            });
        }


        buying_page_script();


        $('a[data-remote=true]').click(function () {
            $.ajax({
                url:$(this).data('url')
            });
        });
    }

    scripts_on_new_manage_page();
    $.pjax.defaults.scrollTo = false;
    $(document).on('pjax:beforeSend',function () {
        $('#listings-loader').show();
    }).on('pjax:success', function () {
                $('#listings-loader').hide();
                scripts_on_new_manage_page();
            });


</script>