<div id="manage-menu-left">
  <div class="manage-menu">
    <%= link_to manage_buying_url do %>
    <div class="manage-menu-header" id="manage-buy">
      Buying
      <%= badge(unread_buying_count)%>
    </div>
        <% end %>
    <%= link_to manage_buying_url do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="buying" && content_for(:activeManageSubMenu)=="in-progress" ? "manage-menu-subitem-active" : "" %>" id="manage-buy-inprogress-link">
        In-Progress <%= badge(unread_buying_in_progress_count)%>
        </div>
    <% end %>
    <%= link_to manage_completed_buying_url do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="buying" && content_for(:activeManageSubMenu)=="completed" ? "manage-menu-subitem-active" : "" %>" id="manage-buy-purchased-link">
          Completed  <%= badge(unread_buying_completed_count)%>
        </div>
    <% end %>
  </div>
  <div class="manage-menu">
    <%= link_to manage_selling_url do %>
    <div class="manage-menu-header" id="manage-sell">
      Selling
        <%= badge(unread_selling_count) %>
    </div>
        <% end %>
    <%= link_to manage_selling_url do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="selling" && content_for(:activeManageSubMenu)=="in-progress" ? "manage-menu-subitem-active" : "" %>" id="manage-sell-inprogress-link">
          In-Progress <%= badge(unread_selling_in_progress_count)%>
        </div>
    <% end %>
    <%= link_to manage_completed_selling_url do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="selling" && content_for(:activeManageSubMenu)=="completed" ? "manage-menu-subitem-active" : "" %>" id="manage-sell-complete-link">
          Completed  <%= badge(unread_selling_completed_count)%>
        </div>
    <% end %>
    <%= link_to manage_drafts_selling_url do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="selling"&& content_for(:activeManageSubMenu)=="drafts" ? "manage-menu-subitem-active" : "" %>" id="manage-sell-drafts-link">
        Drafts
        </div>
    <% end %>
  </div>
  <%= link_to interests_url do %>
      <div id="manage-interests" class="manage-menu">
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="interests" ? " manage-menu-header-active" : '' %>" id="manage-interests-link">
          Interests
        </div>
      </div>
  <% end %>

  <div id="manage-groups" class="manage-menu">
    <%= link_to groups_path do %>
    <div class="manage-menu-header" id="manage-groups-link">
      Groups
      <%= badge(current_user.groups_badge_count) %>
    </div>
        <% end %>
    <% current_user.groups.each do |group| %>
        <%= link_to group do %>
            <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="groups" || content_for(:activeManageMenu)=="browse_groups" || content_for(:activeManageMenu)=="new_groups" ? (params[:id] == group.short_name ? "manage-menu-subitem-active" : '') : "" %>">
              &nbsp;&nbsp;"<%= group.long_name %>"
            </div>
        <% end %>
    <% end %>
    <%= link_to groups_path do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="groups" ? (content_for(:activeManageSubMenu) == "browse_groups" ? "manage-menu-subitem-active" : '') : "" %>">
          <i class="icon-globe"></i>&nbsp;Browse Groups
        </div>
    <% end %>
    <%= link_to groups_notifications_path do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="groups" ? (content_for(:activeManageSubMenu) == "notification_groups" ? "manage-menu-subitem-active" : '') : "" %>">
          <i class="icon-warning-sign"></i>&nbsp;Notifications
        </div>
    <% end %>
    <%= link_to new_group_path do %>
        <div class="manage-menu-subitem <%= content_for(:activeManageMenu)=="groups" ? (content_for(:activeManageSubMenu) == "new_groups" ? "manage-menu-subitem-active" : '') : "" %>">
          <i class="icon-plus"></i>&nbsp;Create Group
        </div>
    <% end %>

  </div>


  <br><br><br><br>
</div>

