<%
   type ||=""
   seller=User.find(posting.user_id)
   posting_link = user_posting_url(:user_name => seller.user_name, :id => posting.id)
   edit_posting_link = edit_user_posting_url(:user_name => seller.user_name, :id => posting.id)
%>

<div class="result-row" data-url="<%= posting_row_link(content_for(:activeManageMenu), content_for(:activeManageSubMenu), posting.id) %>">
  <div id="<%= posting.id %>" class="result-td shadow light-gray-gradient list-td" style="width:755px;">
    <div class="list-item-picture shadow">
      <%= link_to posting_link do%><%= image_tag(posting.first_picture_url.gsub("large_thumb", "medium")) %><% end %>
    </div>

    <div class="list-title">
      <% if type=="drafts_selling" %>
          <%= link_to truncate(posting.title, :length=>40), edit_posting_link %>
      <% else %>
          <%= link_to truncate(posting.title, :length=>40), posting_link %>
      <% end %>
    </div>

    <div style="position:absolute;left:140px; top:35px; width:370px; font-size:12px;">
        <%= truncate(posting.description, :length=>100, :separator=>"...") %>
    </div>

    <div class="orange-price-label"></div>


    <div class="text-price list-manage-price-pos">
      $<%= formatted_price(posting.price) %>
    </div>

    <% if type=="completed_selling" %>
        <div class="list-completed-reason">
          <% if posting.sold_on_paypal  %><span style="color:red;">PAYMENT RECEIVED</span><% end %>&nbsp;&nbsp;&nbsp;&nbsp; <%= print_posting_delisted_reason(posting) %> &nbsp;&nbsp; <%= link_to "List a similar item", relist_posting_copy_url(:user_name=>seller.user_name, :id => posting.id) %>
        </div>
    <% end %>

    <% if type=="completed_buying" %>
        <div class="list-completed-reason">
          <% if posting.sold_on_paypal  %><span style="color:red;">PAID</span><% end %>
        </div>
    <% end %>


    <% if type=="buying" %>
        <div class="list-posting-and-time">
          <i class="icon-map-marker" style="color:#767676;"></i>
          <%= number_with_precision(::DistanceCalculations.distance_between(current_user.latitude/180*Math::PI, current_user.longitude/180*Math::PI, posting.latitude, posting.longitude), :precision => 1) %>
          miles    <%= ::DistanceCalculations.compass_bearing(current_user.latitude, current_user.longitude, posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI) %>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <icon class="icon-time" style="color:#767676;"></icon> <%= time_ago_in_words(posting.updated_at).sub("about", "").sub("hour", "hr").sub("minute", "min").sub("ago", "").sub("less than", "") %>

        </div>


        <div class="seller-name">
          <%= link_to seller.first_name, seller %>
        </div>


        <div class="seller-pic">
          <%= link_to image_tag(posting.first_user_url), seller %>
        </div>

        <%= rep_meter_small(seller.repscore, "rep-score-posting-row-search") %>


    <% elsif type=="selling"%>
        <div class="list-posting-and-time">
          <i class="icon-eye-open"></i>&nbsp;<%= posting.view_count %> views
          &nbsp;&nbsp;<i class="icon-comment"></i>&nbsp;<%= posting.conversation_counts %> inquiries
          &nbsp;&nbsp;<a href="<%= edit_posting_link %>">
          <i class="icon-pencil"></i>&nbsp;Edit listing</a>
          &nbsp;&nbsp;  <a href="<%= load_promote_modal_url(:user_name => current_user.user_name, :id => posting.id) %>" class="promote-link">
          <i class="icon-bullhorn"></i>&nbsp;Promote to Craigslist</a>
          &nbsp;&nbsp;  <a href="<%= load_delist_modal_url(:user_name => current_user.user_name, :id => posting.id) %>" class="delist-link">
          <i class="icon-ban-circle"></i>&nbsp;Delist
        </a>
        </div>
    <%end %>


    <% if type=="buying" || type=="completed_buying" %>
        <div class="hasTooltip conversation-icon" title="Click here to view conversations" data-placement="left">
          <%= badge(buyer_actions_count(posting)) %>
        </div>
        <% end %>

    <% if type=="selling" || type=="completed_selling" %>
        <div class="hasTooltip conversation-icon" title="Click here to view conversations" data-placement="left">
          <%= badge(seller_actions_count(posting)) %>
        </div>
    <% end %>

    <% if type=="bookmark" %>
        <%= link_to 'Remove', bookmarks_url(:posting_id => posting.id, :source=>"bookmarks_page"), :remote=>true, :method=>:post, :class=>"remove-bookmark-button rep-btn rep-btn-orange"%>
        <% end %>


    <% if type=="drafts_selling" %>
        <div class="list-posting-and-time">
          <a href="<%= edit_posting_link %>">
          <i class="icon-pencil"></i>&nbsp;Edit listing</a>
        </div>
    <% end %>


  </div>
</div>