<div id="rep-center-menu-left">
  <div class="manage-menu">
    <%= link_to verifications_url do %>
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="verifications" ? " manage-menu-header-active" : '' %>">
          Verifications
        </div>
    <% end %>

    <%= link_to rep_center_url do %>
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="reviews" ? " manage-menu-header-active" : '' %>">
          Reviews
        </div>
    <% end %>

    <%= link_to rep_center_references_url do %>
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="references" ? " manage-menu-header-active" : '' %>">
          Vouch
        </div>
    <% end %>


    <%= link_to rep_center_referrals_url do %>
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="referrals" ? " manage-menu-header-active" : '' %>">
          Referrals
        </div>
    <% end %>

    <%= link_to reputation_explained_url do %>
        <div class="manage-menu-header<%= content_for(:activeManageMenu)=="reputation_explained" ? " manage-menu-header-active" : '' %>">
          Reputation Explained
        </div>
    <% end %>
  </div>
</div>

