<h4 style="padding-right:15px;padding-left:15px;">You haven't initiated any conversations regarding buying an item. Get started by <%= link_to 'searching for whatever you\'d like', search_url, :class=>"blue-link" %> today!</h4>
<hr style="border-bottom:0px;">
<div class="sample-content">
  <div class="posting" style="padding: 0px; margin-left:20px; margin-right:60px;">
    <div class="row-fluid postingRow" style="padding-top:5px">
      <div class="span12" style="position:relative;">
        <div class="sample-watermark"></div>
        <div class="postingPicture" style="position:relative; padding: 5px 15px 5px 0px;">
          <a><img src="<%= asset_path('large_thumb_sample0.jpg')%>" alt="Picture of iPad"></a></div>

        <h3 style="font-size:1.2em; margin-top:5px;" class="postingTitle"><a>Sample Posting</a></h3>
        <p class="inquiries" style="margin-top:5px;">
          <span><b>Description</b>: This is a sample description.</span>
          <br><br>
        </p>


        <p></p>
      </div>
    </div>

    <div>
      <div class="has_conversations">


        <div class="row-fluid conversation alert
                                  asBuyer
                                  " id="conversation1" name="conversation1">
          <div class="badgeWrapper"><span class="badge read-status-fake" title="Read status">✓</span></div>
          <div class="row-fluid">
            <div class="span2">

              <a class="hasTooltip clearConversationButtonFake" data-original-title="Remove conversation"><i class="icon-remove"></i></a>

              <div class="profilePicture">
                <a><img src="<%= asset_path 'default_profile_picture2.png'%>" style="max-width:230px;" alt="Bob's picture"></a>
                <h5>
                  <span class="messageRecipient" style="font-size:1.2em; line-height:1.2em;"><a>Seller</a></span><br>
                  <span class="label">Rep 28</span>
                </h5>
              </div>
            </div>

            <div class="span2" style="margin-left:10px;padding-right:10px;">
              <ul class="unstyled">
                <li style="margin-bottom:10px; font-size:0.9em;">
                  <a class="btn conversation-center-button">Reply</a>
                </li>
                <li style="margin-bottom:10px; font-size:0.9em;">
                  <a class="btn conversation-center-button">Negotiate</a>
                </li>
              </ul>
            </div>
            <div class="span8">
              <div class="conversationBoxWrapper">
                <div class="conversationHeader" style="overflow:hidden; cursor:pointer">
                  <b>Your Activity Summary with Seller</b><br>
                  <hr style="border-bottom:0px;">
                  <i class="icon-tag"></i>
                  No current offer<br>
                  <br><br>
                  <p align="center" style="font-size:1em; margin-bottom:0px; padding:0px; color:#828282;"><span class="expand-close"><i class="icon-arrow-up"></i>&nbsp;Click to hide conversation.</span></p>

                </div>
                <div class="styleConversationMessages">
                  <div class="message" style="background-color:#e6ffd6; margin-left:40%; margin-top:5px; margin-bottom:10px; border-radius:10px; padding:10px" align="right">
                    <i>2 mins
                      ago</i> | <b>Seller</b>
                    <br>
                    <div style="color:#535353">I bought a newer widget, so I don't need this one anymore.</div>
                  </div>
                  <div class="message" style="background-color:#e4e8fd; margin-right:40%; margin-top:5px; margin-bottom:10px; border-radius:10px; padding:10px" align="left">
                    <i>8 mins
                      ago</i> | <b>Me</b>
                    <br>
                    <div style="color:#535353">Why are you selling this widget? From the pictures it looks like it is new.</div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>


    </div>

  </div>
</div>