$('#add_student_email_modal .reppio-modal-body').html('<h2>Sweet!</h2><img src="/assets/sweet.png" style="width:100px; height:auto;text-align:center;"><p style="color:black; margin-top:10px;">You successfully added your email! Please check your inbox to verify it and you\'re good to go!</p>');
setTimeout(function(){ $('#add_student_email_modal').modal('hide');}, 7000);

$('#next-button').click(function() {
	
});