<% title "Reppio Manage: Buying" %>
<% content_for :activeManageMenu, "buying" %>
<% content_for :activeManageSubMenu, "in-progress" %>
<% content_for :center_content do %>
    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @asBuyerPostings, :type=>"buying"}) %>
<% end %>

<%= render :template => "manage/manage" %>
