<% title "Reppio Manage: Buying" %>
<% content_for :activeManageMenu, "buying" %>
<% content_for :activeManageSubMenu, "in-progress" %>
<% content_for :center_content do %>
    <%= render(:partial => "manage/posting_row", :locals => {:posting => @posting, :type=>"buying"}) %>
    <%= render(:partial => "manage/conversation_view", :locals => {:posting => @posting, :conversation => @conversation,
    :role=>content_for(:activeManageMenu), :completed_posting=>content_for(:activeManageSubMenu)}) %>
<% end %>

<%= render :template => "manage/manage" %>
