<% title "Reppio Manage: Completed" %>
<% content_for :activeManageMenu, "selling" %>
<% content_for :activeManageSubMenu, "completed" %>
<% content_for :center_content do %>
    <%= render(:partial => "manage/posting_row", :locals => {:posting => @posting}) %>
    <%= render(:partial => "manage/conversation_summary",
               :locals => {:conversation => @conversation, :buyer => User.find(@conversation.potential_buyer_id),
                           :seller_unread_message => (@conversation.unread_by_seller ? 1 : 0),
                           :posting => @posting}) %>
    <%= render(:partial => "manage/conversation_view", :locals => {:posting => @posting, :conversation => @conversation,
                                                                   :role=>content_for(:activeManageMenu), :completed_posting=>content_for(:activeManageSubMenu)}) %>
<% end %>

<%= render :template => "manage/manage" %>

