<% title "Reppio Manage: Completed" %>
<% content_for :activeManageMenu, "selling" %>
<% content_for :activeManageSubMenu, "completed" %>


<% content_for :center_content do %>
    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @completedPostingsSelling, :type=>"completed_selling"}) %>
    <% if @completedPostingsSelling.empty? %>
        <%= render "manage/sample_manage_selling" %>
    <% end %>
<% end %>


<%= render :template => "manage/manage" %>