<% title "Reppio Manage: Completed" %>
<% content_for :activeManageMenu, "buying" %>
<% content_for :activeManageSubMenu, "completed" %>

<% content_for :center_content do %>
    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @completedPostingsBuying, :type=>"completed_buying"}) %>

    <% if @completedPostingsBuying.empty? %>
        <%= render "manage/sample_manage_selling" %>
    <% end %>
<% end %>


<%= render :template => "manage/manage" %>