<% title "Reppio Manage: Drafts" %>
<% content_for :activeManageMenu, "selling" %>
<% content_for :activeManageSubMenu, "drafts" %>


<% content_for :center_content do %>
    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @draftsPostings, :type=>"drafts_selling"}) %>
    <% if @draftsPostings.empty? %>
        <%= render "manage/sample_manage_selling" %>
    <% end %>
<% end %>


<%= render :template => "manage/manage" %>