<% title "Reppio Manage: Choose Interests" %>
<% content_for :activeManageMenu, "interests" %>

<% content_for :center_content do %>
<div id="interests">

  <h1>Select your interests</h1>
  <h4>(so we can find items that you will love!)</h4>
  <br><br>
  <% @categories_pictures.each do |category, picture_url|
  picture_url=current_user.interests.include?(category) ? picture_url.gsub("1.png", "2.png") : picture_url %>
  <div class="interests-checkbox" data-url="<%=toggle_interest_url(:category=>category)%>">
    <input id="interests_<%=category%>" type="checkbox" value="<%=category%>" <%= (current_user.interests.include? category) ? "checked" : "" %> />
    <label style="line-height:10px;" for="interests_<%=category%>" class="checkbox">
      <%= image_tag picture_url %><br><br><%= category %>
    </label>
  </div>
  <% end%>
  <br><br>
</div>

<% if @add_student_email %>

  <style>
    .modal.fade.in {
      left:55%;
    }
  </style>

    <div id="add_student_email_modal" class="modal hide fade sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="reppio-modal-header"></div>
      <div class="reppio-modal-body">
        <%= render(:partial=>"manage/add_student_email_modal")%>
      </div>
    </div>

    <script>
      $('#add_student_email_modal').modal("show");
    </script>

<% end %>

<% end %>


<%= render :template => "manage/manage" %>

