<% content_for :manage_active, "true" %>
<% content_for :blue_header_image_height, "400" %>

<div id='listings-loader'>
  <%= image_tag 'squares-circle-loader.gif' %>
</div>

<div class="rep-container">
  <%= render(:partial => "manage/manage_rep_partial") %>

  <div class="row">
    <div class="span12 rep-container" id="manage-menu-and-content">
      <div class="span2 equal-height-column dark-grain-background">
        <%= render(:partial => "manage/manage_menu") %>
      </div>
      <div class="span10">
        <div class="rep-container equal-height-column" id="manage-content">
          <%= yield :center_content %>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render "manage/manage_scripts" %>
