<% content_for :manage_active, "true" %>
<% content_for :blue_header_image_height, "400" %>

<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function popupCenter(url, width, height, name) {
            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (height / 2);
            return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",toolbar=no,left=" + left + ",top=" + top);
        }

//        FB.init({
//            appId  : '275614615869605',
//            frictionlessRequests: true
//        });
        $(".socialInvite").click(function (e) {
            popupCenter($(this).attr("href"), "400", "400", "authPopup");
            e.stopPropagation();
            return false;
        });
        $("a#showEmailReviewRequest").live('click', function() {
            $('.get-email-contacts').attr({style: 'display:none'});
            $('.emailReviewRequest').attr({style: 'display:block'});
        });
        $("a#showFacebookReviewRequest").live('click', function() {
            FB.ui({
                method: "send",
                picture: "http://www.reppio.com/assets/reppio_small.png",
                name: "Write <%= current_user.first_name %> a review on Reppio",
                link: "http://www.reppio.com/?fbr=<%= current_user.id %>",
                description: "Fed up with Craigslist? Reppio is a reputable local marketplace where one can transact safely. Help improve <%= current_user.first_name %>'s reputation by writing a reference!"
            }, function(response) {
                if (response && response.post_id) {
                    $.achtung({
                        timeout: 20, // Seconds
                        className: 'achtungSuccess',
                        message:  "Your reference request has been sent successfully!"
                    });
                }
            });
        });
    });
</script>


<div id='listings-loader'>
  <%= image_tag 'squares-circle-loader.gif' %>
</div>

<div class="rep-container">
  <%= render(:partial => "manage_rep_partial") %>

  <div class="row">
    <div class="span12 rep-container" id="manage-menu-and-content">
      <div class="span2 equal-height-column dark-grain-background">
        <%= render(:partial => "rep_center_menu") %>
      </div>
      <div class="span10">
        <div class="rep-container equal-height-column" id="manage-content">
          <%= yield :center_content %>
        </div>
      </div>
    </div>
  </div>
</div>