<% title "Reppio Rep Center: References" %>
<% content_for :activeManageMenu, "references" %>

<% content_for :center_content do %>

    <div style="padding-right:40px;">
      <h4>References</h4>
      You can boost your Rep Score by asking friends or family to vouch for you with a reference.
      <br><br>
    </div>



    <%= render(:partial => "references/pending",
               :locals => {:pending => @pendingReferences}) %>

    <%= render(:partial => "references/approval") %>



    <div class="row">
     <h4>Request a Reference</h4>
      <div class="span4 emailReviewRequest">
        <div class="left-gray-box">
          <h5>Use email...</h5>
          <%= form_tag({:action => :send_references_given_email_list, :controller => :references}, :method => "post", :remote=>true) %>
          <br>
          <p><%= text_area_tag 'emails', nil, :rows => 3, :cols => 50, :placeholder=>"jack@reppio.com, samir@gmail.com, ...", :style=>"width:90%" %></p>
          <p>Personal Message (optional)<br><%= text_area_tag 'personal_message', nil, :rows =>4, :cols=>50, :style=>"width:90%", :placeholder=>"Hey friend, join me on Reppio! And write me a reference while you're at it." %></p>
          <p><%= submit_tag "Invite", :class => "btn btn-primary" %></p>
          </form>
        </div>
      </div>

      <div class="span4">
        <div style="padding: 20px 20px 20px 30px; background:#f0f6f0; margin-left:30px;">
          <h5>...or social media.</h5>
          <br>
          <div id="fb-root"></div>
          <a id="showFacebookReviewRequest" class="btn btn-primary" >
              Share with Facebook
          </a>
        </div>
      </div>
    </div>


<% end %>

<%= render :template => "manage/rep_center" %>
