<% title "Reppio Rep Center: Referrals" %>
<% content_for :activeManageMenu, "referrals" %>

<% content_for :center_content do %>

    <div style="padding-right:40px;">
      <h4>Referrals</h4>
      We can't be a marketplace without the support and loyalty of our users. If you like what you see here at Reppio, spread the word and invite your friends and family! Inviting others also assures us you're legitimate and increases your reputation on the site.
      <br><br>
    </div>

    <div class="row">
      <div class="span4 emailReviewRequest">
        <div class="left-gray-box">
          <h5>Use email...</h5>
          <%= form_tag({:action => :send_invites_list, :controller => :references}, :method => "post", :remote=>true) %>
          <br>
          <p><%= text_area_tag 'emails', nil, :rows => 3, :cols => 50, :placeholder=>"jonjones@hotmail.com, samir@gmail.com, ...", :style=>"width:90%" %></p>
          <p>Personal Message (optional)<br><%= text_area_tag 'personal_message', nil, :rows =>4, :cols=>50, :style=>"width:90%", :placeholder=>"Hey man, join Reppio! It's an awesome site that's better than Craigslist." %></p>
          <p><%= submit_tag "Invite", :class => "btn btn-primary" %></p>
          </form>
        </div>
      </div>

      <div class="span4">
        <div style="padding: 20px 20px 20px 30px; background:#f0f6f0; margin-left:30px;">
          <h5>...or social media.</h5>
          <br>

          <%= link_to "http://www.facebook.com/sharer.php?u=http://www.reppio.com/?r=#{current_user.id}", :class=>"socialInvite btn btn-primary" do %>
              Share with Facebook
          <% end %>
          <br><br>
          <a class="socialInvite btn btn-primary" target="_blank" href="https://twitter.com/share?url=<%= "http://www.reppio.com/?r=#{current_user.id}" %>&text=<%= url_encode("Join Reppio! The world's first reputation-based marketplace.") %>">
            Share with Twitter
          </a>
        </div>
      </div>
    </div>

<% end %>

<%= render :template => "manage/rep_center" %>
