<% title "Reppio Rep Center: Reputation Explained" %>
<% content_for :activeManageMenu, "reputation_explained" %>

<% content_for :center_content do %>

    <div style="float:left;">
      <%= image_tag "tammy.png", :style=>"width:200px; height:auto; margin-right:30px; margin-top:10px; border:1px solid #333;" %>
    </div>

    <div style="float:left; width:500px;">
      <h4>Reputation in a nutshell</h4>
        <p>Reppio users establish a <b>Reputation Score</b> by using their
          existing web footprint, even before buying or selling any items.
        </p>
        <p>In order to increase your Rep Score, fill out your profile, confirm your
          phone number, and link accounts (Facebook, Twitter, LinkedIn). Receiving positive reviews
          after buying or selling items also increases your score.

          Finally, we have found that the more people users know on Reppio, the more reputable they are.
          Invite your friends to join and help make Reppio a better marketplace for all!</p>
    </div>

<% end %>

<%= render :template => "manage/rep_center" %>
