<script type="text/javascript">
    $(document).ready(function() {
        $('.hasTooltip').tooltip();
    });
</script>

<% title "Reppio Rep Center: Reviews" %>
<% content_for :activeManageMenu, "reviews" %>

<% content_for :center_content do %>

    <div style="padding-right:40px;">
    <h4>Reviews</h4>
    When you have completed a transaction, reviews will automatically pop up below. They are used by the Reppio marketplace team as part of our proprietary Rep Score. <a style="cursor:pointer;" class="hasTooltip" data-placement="right" title="We take reviews seriously into consideration when determining reputability. Rewarding good behavior on Reppio makes it easier for us to keep the marketplace secure.">Why review?</a>
    <br><br>
    </div>

    <%= render(:partial => "reviews/pending",
               :locals => {:pending => @pendingReviews}) %>

<% end %>

<%= render :template => "manage/rep_center" %>