<% title "Reppio Manage: Selling" %>
<% content_for :activeManageMenu, "selling" %>
<% content_for :activeManageSubMenu, "in-progress" %>
<% content_for :center_content do %>
    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @asSellerPostings, :type=>"selling"}) %>

	<% if @asSellerPostings.empty? %>
        <%= render "manage/sample_manage_selling" %>
    <% end %>
<% end %>

<%= render :template => "manage/manage" %>

