<% title "Reppio Manage: Selling" %>
<% content_for :activeManageMenu, "selling" %>
<% content_for :activeManageSubMenu, "in-progress" %>
<% content_for :center_content do %>
    <%= render(:partial => "manage/posting_row", :locals => {:posting => @posting}) %>
    <%= render(:partial => "manage/conversation_summary_list", :locals => {:posting => @posting, :conversations=>@conversations}) %>

<% end %>

<%= render :template => "manage/manage" %>

