$("<div style='display:none;'><%= escape_javascript(render(:partial => "manage/conversation_view",
:locals => {:posting => @posting, :conversation => @conversation, :role=>"selling", :completed_posting=>"in-progress"})) %></div>").appendTo('.conversation-summary-and-messages-container[id="conversation<%=@conversation.id%>"]').slideDown(
        400,  function(){
            <%= render :partial =>  "conversations/conversation_view_scripts"%>
        }
);

