<% title "Reppio Rep Center: Verifications" %>
<% content_for :activeManageMenu, "verifications" %>

<% content_for :center_content do %>

    <div style="padding-right:40px;">
      <h3>Verifications</h3>
          <p>By verifying your account on other platforms, you indicate to others that you are a legitimate user.</p>
      <hr>
            <div>
            <% if current_user.facebook_id.blank? %>
                <%= image_tag("verification_icons/x.png", :size => "20x20") %>
                <b>&nbsp;&nbsp; Facebook</b>
                <br><%= link_to "Link Facebook", "/auth/facebook", :class => "auth", :style => "margin-left:30px;" %>
            <% else %>
                <%= image_tag("verification_icons/check.jpg", :size => "20x20") %> <b>&nbsp; Facebook Verified</b>

                <p style="margin-left:30px;"><%= @user_data.fb_friends %> friends</p>
            <% end %>
            </div>
          <br>
           <div>
            <% if @user_data.linked_twitter %>
                <%= image_tag("verification_icons/check.jpg", :size => "20x20") %> <b>&nbsp;Twitter Verified</b>

                <p style="margin-left:30px;"><%= @user_data.twitter_number_of_followers %> followers</p>
            <% else %>
                <%= image_tag("verification_icons/x.png", :size => "20x20") %>
                <b>&nbsp; Twitter</b><br>
                <%= link_to "Link Twitter", "/auth/twitter", :class => "auth", :style => "margin-left:30px;" %>
            <% end %>
           </div>
          <br>
            <div>
            <% if @user_data.linked_linkedin %>
                <%= image_tag("verification_icons/check.jpg", :size => "20x20") %> <b>&nbsp;LinkedIn Verified</b>

                <p style="margin-left:30px;"><%= @user_data.linkedin_number_of_connections %> connections</p>
            <% else %>

                <%= image_tag("verification_icons/x.png", :size => "20x20") %>
                <b>&nbsp;&nbsp; Linkedin</b>
                <br><%= link_to "Link LinkedIn", "/auth/linkedin", :class => "auth", :style => "margin-left:30px;" %>

            <% end %>
            </div>
          <br>
             <div id="verify-phone-section">
            <% if current_user.cell_phone_verified %>
                <%= image_tag("verification_icons/check.jpg", :size => "20x20") %>
                <b>&nbsp;&nbsp;Phone Verified</b>

            <% else %>

                <%= image_tag("verification_icons/x.png", :size => "20x20") %>
                <b>&nbsp; Verify Phone</b>&nbsp;<%= current_user.phone_number %>

                <% if current_user.phone_number.nil? || current_user.phone_number =="" %>
                    <p style="margin-left:30px;">Please add your cell phone number to your profile. </p>
                <% else %>
                    <br>
                    <%= link_to 'Send Text', {:controller=>:users, :action => :send_cell_phone_verification_text}, :class => "blue-link", :style => "margin-left:30px;", :method => "post", :remote => true %>
                    <span id="text-sent"></span>

                    <%= form_tag({:controller=>:users, :action => :verify_cell_phone_number}, :class => 'phone-confirmation-form form-inline', :method => "post", :remote=>true) %>
                    <br>Enter your confirmation code:
                    <div>
                      <br><%= text_field_tag :c, '', :placeholder => "Confirmation code", :style=>"display: inline-block; width: 120px;"%>
                      <%= submit_tag "Confirm", :class => "rep-btn rep-btn-orange", :style=>"padding: 10px;" %>
                    </div>
                    </form>
                <% end %>
            <% end %>
             </div>

          </div>
    <br><br>
<% end %>

<%= render :template => "manage/rep_center" %>


<script type="text/javascript">

    function popupCenter(url, width, height, name) {
        var left = (screen.width / 2) - (width / 2);
        var top = (screen.height / 2) - (height / 2);
        return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",toolbar=no,left=" + left + ",top=" + top);
    }
    $("a.auth").click(function (e) {
        popupCenter($(this).attr("href"), 700, 500, "authPopup");
        e.stopPropagation();
        return false;
    });
</script>

