<%= indent(indentation) %> <%= category %> <br>
<% Posting.immediate_children_of_category(category).each { |child|
  if Posting.is_leaf?(child) %>
        <%= render(:partial => "postings/bookmark_selector_leaf", :locals => {:category => child,
                                                                              :u => u, :indentation => indentation+1}) %>
    <% else %>
        <%= render(:partial => "postings/bookmark_selector_not_leaf", :locals => {:category => child,
                                                                                  :u => u, :indentation => indentation+1}) %>
    <% end } %>
