

<h2>Basic Details</h2>

  <form accept-charset="UTF-8" action="<%= post_from_bookmark_url(:u=>params[:u])%>" class="form-horizontal primaryForm" enctype="multipart/form-data" id="new_posting" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>

    <span style="margin-top:15px"><input id="titleTextField" maxlength="50" name="posting[title]" placeholder="Title" size="50" style="width:97%; line-height:40px; border:1px solid #CCC; padding:5px; font-size:1.5em !important;" type="text" /></span>

    <div style="margin-top:15px; font-size:1.5em;">
      $&nbsp;<input id="priceField" name="posting[price]" size="30" type="text" />
    </div>

    <div style="margin-top:10px;">
      <label class="checkbox"><input name="posting[will_accept_other_offers]" type="hidden" value="0" /><input id="posting_will_accept_other_offers" name="posting[will_accept_other_offers]" type="checkbox" value="1" />
        I am willing to negotiate.</label>
    </div>

    <div style="margin-left:0px; margin-top:5px">
      <div class="form-for-category">
        <div style="background-color:#eee; padding:20px; margin-top:10px; margin-bottom:20px;">
          <div class="control-group">
            <label class="control-label" for="posting_Street Address">Street address</label>
            <div class="controls">
              <input class="lat" id="posting_latitude" name="posting[latitude]" type="hidden" value="0.732167" />
              <input class="long" id="posting_longitude" name="posting[longitude]" type="hidden" value="-1.5298" />
              <input class="zip-code" id="posting_zip_code" name="posting[zip_code]" type="hidden" value="" />
              <input class="state" id="posting_state" name="posting[state]" type="hidden" value="" />
              <input class="city" id="posting_city" name="posting[city]" type="hidden" value="" />
              <input class="address" id="searchTextField" name="posting[address]" size="30" type="text" value="835 West Bradley Place, Chicago, IL 60613" />
              <div style="display:inline;" id="good-bad-address"></div>
            </div>
          </div>

          <div id="map_canvas" style="display:block; width:100%; height:200px;">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="pictures">Pictures</label>
          <div class="controls" id="picture-container">
            <input class="pictures" id="pictures" name="pictures" type="hidden" value="" />
          </div>
        </div>




        <div class="control-group">
          <label class="control-label" for="posting_condition">Condition</label>
          <div class="controls">
            <select id="posting_condition" name="posting[condition]"><option value="New">New</option>
              <option value="Like New">Like New</option>
              <option value="Normal Wear">Normal Wear</option>
              <option value="Minor Damage">Minor Damage</option>
              <option value="Major Damage">Major Damage</option>
              <option value="Not Working">Not Working</option></select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Category</label>

          <div class="controls" style="padding-top: 7px;">
            <span id="category-goes-here"></span>
            <input id="posting_category_name" name="posting[category_name]" type="hidden" value="" />
          </div>
        </div>

        <div id="custom-field-section">

        </div>
        <div class="control-group">
          <label class="control-label" for="posting_description">Description</label>
          <div class="controls">
            <textarea cols="40" id="descriptionField" name="posting[description]" rows="20" style="padding:5px; width:80%; height:200px; margin-top:10px">
            </textarea>
          </div>
        </div>
        <br>
      </div>
    </div>

    <input class="bookmark-flat-btn-blue" name="commit" type="submit" value="Publish!" />
    <input class="bookmark-flat-btn-blue" id="save-as-draft" name="commit" type="submit" value="Save as Draft" />
  </form>
