<h1>Select a Category</h1>

  <%top_level_categories=Posting.top_level_categories   %>
<div class="bookmark-category-column">
    <% top_level_categories[0..8].each { |top_level_category|
      if Posting.is_leaf?(top_level_category) %>
          <%= render(:partial=>"postings/bookmark_selector_leaf", :locals=>{:category=>top_level_category,
                                                             :u=>u, :indentation=>0})%>
      <%  else  %>
          <%= render(:partial=>"postings/bookmark_selector_not_leaf", :locals=>{:category=>top_level_category,
                                                                                :u=>u,:indentation=>0})%>
      <%  end }   %>
    </div>
<div class="bookmark-category-column">
<% top_level_categories[9..10].each { |top_level_category|
  if Posting.is_leaf?(top_level_category) %>
        <%= render(:partial=>"postings/bookmark_selector_leaf", :locals=>{:category=>top_level_category,
                                                                          :u=>u,  :indentation=>0})%>
    <%  else  %>
        <%= render(:partial=>"postings/bookmark_selector_not_leaf", :locals=>{:category=>top_level_category,
                                                                              :u=>u,   :indentation=>0})%>
    <%  end }   %>
</div>

<div class="bookmark-category-column">
  <% top_level_categories[11..top_level_categories.length-1].each { |top_level_category|
    if Posting.is_leaf?(top_level_category) %>
          <%= render(:partial=>"postings/bookmark_selector_leaf", :locals=>{:category=>top_level_category,
                                                                            :u=>u,   :indentation=>0})%>
      <%  else  %>
          <%= render(:partial=>"postings/bookmark_selector_not_leaf", :locals=>{:category=>top_level_category,
                                                                                :u=>u,     :indentation=>0})%>
      <%  end }   %>
</div>
