<li class="dropdown-submenu">
  <a><%= category %></a>
  <ul class="dropdown-menu">
    <% Posting.immediate_children_of_category(category).each do |child|
      if Posting.is_leaf?(child) %>
            <%= render(:partial=>"postings/category_menu_leaf", :locals=>{:category=>child})%>
      <%else %>
            <%= render(:partial=>"postings/category_menu_not_leaf", :locals=>{:category=>child})%>
    <% end
    end %>
  </ul>
</li>
