<div class="unstyled dropdown" id="change-category-selector" style="display:inline-block;">
  <div class="dropdown-toggle" data-toggle="dropdown">
    <a class="blue-link" id="change-category" style="cursor:pointer;">(change category)</a>
  </div>

    <ul class="dropdown-menu">
      <% Posting.top_level_categories.sort.each do |top_level_category|
        if Posting.is_leaf?(top_level_category) %>
              <%= render(:partial=>"postings/category_menu_leaf", :locals=>{:category=>top_level_category})%>
          <% else %>
              <%= render(:partial=>"postings/category_menu_not_leaf", :locals=>{:category=>top_level_category})%>
          <% end %>
      <% end %>
    </ul>
</div>