<% if possible_category.nil? %>
    <div style="font-size:20px;">In category:</div>
<% else %>
    <div id="correct-or-wrong-mapping">
      <div style="font-size:20px;margin-bottom:10px;">In category:</div>
        <span style="font-size:20px;color:#AAA; margin:20px;">
        <% ancestry_line.each { |ancestor| %> <%= ancestor %> >
              <% } %><%= possible_category %>

          <%= link_to(new_posting_form_for_category_path(:c => possible_category), :method => "post", :remote => true) do %>
              <button class="small-text" id="correct-map"><i class="icon-ok"></i></button>
          <% end %>

          <button class="small-text" id="wrong-map"><i class="icon-remove"></i></button>

        </span>
    </div>
<% end %>
<br>

<div id="manual-select" <%= "style=\"display:none; margin-left:20px;text-align:left;\"".html_safe if possible_category %>>
  <%= render(:partial => "postings/print_menu_selector") %>
</div>

