<% category_fields=Posting.category_fields
   (text_fields=category_fields[category_name][:text_fields]) rescue nil
(sliders=category_fields[category_name][:sliders]) rescue nil
(drop_down_menus=category_fields[category_name][:drop_down_menus]) rescue nil
%>
<input id="posting_category_name" name="posting[category_name]" type="hidden" value="<%= category_name %>" />

<% field_counter=1
   unless text_fields.nil?
     text_fields.each do |field| %>
        <div class="control-group">
          <label class="control-label"><%= field %></label>
              <div class="controls">
                <input id="posting_custom_field<%= field_counter %>_label" name="posting[custom_field<%= field_counter %>][label]" type="hidden" value="<%= field %>" />
                <input id="posting_custom_field<%= field_counter %>_value" name="posting[custom_field<%= field_counter %>][value]" size="30" type="text" />
              </div>
        </div>
    <% field_counter+=1
       end
       end %>



<% unless sliders.nil?
     sliders.each_pair do |slider_label, slider_values| %>
        <div class="control-group">
          <label class="control-label"><%= slider_label %></label>
              <div class="controls">
                <input id="posting_custom_field<%=field_counter%>_label" name="posting[custom_field<%=field_counter%>][label]" type="hidden" value="<%=slider_label%>" />
                <script type="text/javascript">
                    $(function () {
                        $("#slider<%=field_counter%>").slider({
                            value:<%=slider_values[0]%>,
                            min: <%=slider_values[1]%>,
                            max: <%=slider_values[2]%>,
                            step: <%=slider_values[3]%>,
                            slide:function (event, ui) {
                                $("#amount<%=field_counter%>").val(ui.value);
                            }
                        });
                        $("#amount<%=field_counter%>").val($("#slider<%=field_counter%>").slider("value"));
                    });
                </script>
                <p>

                  <input class="slider<%=field_counter%>" id="amount<%=field_counter%>" name="posting[custom_field<%=field_counter%>][value]" size="30" style="color:#f6931f; font-weight:bold;" type="text" />

                </p>

                <p>

                <div id="slider<%= field_counter %>"></div>
                </p>
              </div>

              </div>


        <%
           field_counter+=1
           end
           end %>


<% unless drop_down_menus.nil?
     drop_down_menus.each_pair do |drop_down_menu_label, drop_down_menu_options| %>
        <div class="control-group">
          <label class="control-label"><%= drop_down_menu_label %></label>
              <div class="controls">

                <input id="posting_custom_field<%= field_counter %>_label" name="posting[custom_field<%= field_counter %>][label]" type="hidden" value="<%= drop_down_menu_label%>" />
                <select id="posting_custom_field<%= field_counter %>_value" name="posting[custom_field<%= field_counter %>][value]">
                <% drop_down_menu_options.each do |option| %>
                  <option value="<%=option%>"><%=option%></option>
                  <% end %>
                </select>

              </div>
        </div>

    <% field_counter+=1 end
       end  %>
