<div id="delistPostingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delistPostingModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 style="margin-top:0px;">Delist item</h4>
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span></button>
  </div>
  <div class="modal-body delist-posting" style="text-align:left;height:550px;">
        <p>Tell us why you're delisting your item - it'll improve your Rep Score. <a class="hasTooltip" title="Delisting helps keep our marketplace current by flushing out items users no longer want to sell.">Why delist?</a></p>

        <hr style="border-bottom:0px;">

        <%= form_for "posting", :url=>delist_posting_url(:user_name=>current_user.user_name, :id=>@posting.id), :remote=>true do |f| %>

            <label class="radio" for="posting_delisted_reason_soldhere">
              <%= radio_button("posting","delisted_reason","soldHere", :class => "delisted_reason_choice") %>
              Sold on Reppio</label>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;
            <select class="inline" name="posting[possible_buyers]" id="posting_possible_buyers">
              <%  possibleBuyerIds = Conversation.where("posting_id = ?", posting.id).collect(&:potential_buyer_id)
                  possibleBuyers = possibleBuyerIds.map{ |id| User.find(id) }
                  if possibleBuyers.empty?%>

                  <option value="0">(no records found!)</option>
                  <% else
                  possibleBuyers.each do |buyer|%>
                 <option value="<%=buyer.id%>"> <%= buyer.first_name %> (<%=buyer.user_name%>)</option>');
                 <% end
                 end%>
            </select>
                <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;&nbsp;&nbsp;

        <input name="posting[actual_price]" value="" class="inline price-text-field options-text-field shadow"/>

            <div style="margin:5px; display:none;" id="shareDelistingOnFacebook">
              &nbsp;&nbsp;&nbsp;<input type="checkbox" checked="true" name="shareFacebook" style="margin-bottom:8px;">
              <div style="display:inline-block;" >&nbsp;&nbsp;Share this on Facebook</div>
            </div>

        <br>

            <label class="radio" for="posting_delisted_reason_soldelsewhere">
              <%= radio_button("posting","delisted_reason","soldElsewhere", :class => "delisted_reason_choice") %>
              Sold elsewhere
            </label>
            <label class="radio" for="posting_delisted_reason_couldntsell">
              <%= radio_button("posting","delisted_reason","couldntSell", :class => "delisted_reason_choice") %>
              Unable to find a buyer
            </label>
            <label class="radio" for="posting_delisted_reason_dontwanttosell">
              <%= radio_button("posting","delisted_reason","dontWantToSell", :class => "delisted_reason_choice") %>
              No longer want to sell
            </label>

            <%= f.submit "Close listing", :class => "rep-btn rep-btn-orange", :disabled=>"disabled", :style=>"margin-top:20px;" %>
        <% end %>


  </div>
</div>