<div id="shareEmailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareEmailModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 style="margin-top:0px;">Email This</h4>
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span></button>
  </div>
  <div class="modal-body" style="text-align:left; min-height:530px;">
    <%= form_tag(promote_posting_by_email_url(:id => @posting.id), :remote=>true) %>
    <label>Recipient's Email Address <span style="color:#aaa;">(Separate multiple address with commas)</span> </label>
    <%= text_area_tag 'emails', nil, :placeholder => "jack@reppio.com, darth@vader.com, ..." %>
    <br><br>
    <label>Your Email Address</label>
    <% if current_user %>
        <%= current_user.email %>
        <% else %>
    <%= text_field_tag 'sender_email', nil, :placeholder => "required" %>
        <% end %>
    <br><br>
    <label>Message <span style="color:#aaa;">(Optional)</span> </label>
    <%= text_area_tag 'message', nil, :placeholder => "(optional)" %>
    <br><br>
    <input type="checkbox" checked="true" name="email_copy" id="email_copy">
      <label for="email_copy" class="checkbox inline">Email me a copy</label>

<div id="check-for-robots"></div>
    <br>
    <%= submit_tag "Email", :class => "rep-btn rep-btn-orange" %>
    </form>

  </div>
</div>

