<div class="facebook-preview">
  <div class="facebook-image">
    <img class="insert-facebook-image" src="<%= posting.first_picture_url%>" alt="Facebook preview image">
  </div>
  <div class="facebook-title">
    Take a look at my listing: <%= posting.title %>
  </div>
  <div class="facebook-subtitle">http://www.reppio.com/<%= current_user.user_name %>/postin...</div>
  <div class="facebook-description">
   <%= truncate(posting.description, :limit=>150, :separator=>"...") %>
  </div>
</div>