<h2 id="wp1">2. Basic Details</h2>

<% category_fields = Posting.category_fields %>

<%= form_for ([current_user, posting]), :html => {:multipart => true, :class => "form-horizontal primaryForm #{new_or_edit=='new' ? 'edit-posting-form' : ''}", :method => "#{new_or_edit=='new' ? 'post' : 'put'}", :style => "margin:0px"}, :validate => true do |f| %>

    <span style="margin-top:15px"><%= f.text_field :title, :maxlength => '50', :id => "titleTextField", :placeholder => "Title", :style => "width:97%; line-height:40px; border:1px solid #CCC; padding:5px; font-size:1.5em !important;" %></span>

    <div style="margin-top:15px; font-size:1.5em;">
      $&nbsp;<%= f.text_field :price, :value => number_with_precision(posting.price, :precision => 0) %>
    </div>

    <div style="margin-top:10px;">
      <label class="checkbox"><%= f.check_box :will_accept_other_offers, :checked => posting.will_accept_other_offers %>
        I'm willing to negotiate.</label>
    </div>

    <% if posting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(posting.errors.count, "error") %> prohibited this posting from being saved:</h2>
          <ul>
            <% posting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div style="margin-left:0px; margin-top:5px">
      <div class="form-for-category">

        <% if new_or_edit=="edit" && !sorted_pictures.empty? %>
            <div class="control-group">
              <%= f.label :pictures, :class => "control-label" %>
              <div class="controls">


                <ul id="pictures">
                  <% sorted_pictures.each do |pictureObj| %>
                      <li id="p<%= pictureObj[1] %>" class="ui-state-default">
                        <div class="closeButton" title="Close"></div>
                        <%= image_tag pictureObj[0].photo.url(:thumb) %>
                      </li>
                  <% end %>
                </ul>

              </div>
            </div>
        <% end %>



        <div style="background-color:#eee; padding:20px; margin-top:10px; margin-bottom:20px;">
          <div class="control-group">
            <%= f.label "Street Address", :class => "control-label" %>
            <div class="controls">
              <%= f.hidden_field :latitude, :class => "lat" %>
              <%= f.hidden_field :longitude, :class => "long" %>
              <%= f.hidden_field :zip_code, :class => "zip-code" %>
              <%= f.hidden_field :state, :class => "state" %>
              <%= f.hidden_field :city, :class => "city" %>
              <%= f.text_field :address, :id => "searchTextField", :class => "address" %>
              <div style="display:inline;" id="good-bad-address"></div>
            </div>
          </div>

          <div id="map_canvas" style="display:block; width:100%; height:200px;">
          </div>

          <p style="margin-top:10px;">
            <i class="icon-eye-close" style="font-size:1.4em"></i>&nbsp;&nbsp;Your address is always private.
            <a id="privacyBoxLink" href="#privacyModal" data-toggle="modal">&nbsp;What does this mean?</a>
          </p>
        </div>


        <div class="control-group">
          <%= f.label :condition, :class => "control-label" %>
          <div class="controls">
            <%= f.select :condition, ["New", "Like New", "Normal Wear", "Minor Damage", "Major Damage", "Not Working"] %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Category</label>

          <div class="controls" style="padding-top: 5px;">
                      <span id="category-section-label">
                      <%= new_or_edit=="new" ? category_name : posting.category_name %>
                      </span>
            &nbsp;&nbsp; <%= render(:partial => "postings/category_menu") %>


          </div>
        </div>
        <%= hidden_field_tag "picture_ids", '', :id => 'picture-ids' %>
        <div id="custom-field-section">
          <% if new_or_edit=="new" %>
              <%= render(:partial => 'postings/custom_fields', :locals => {:category_name => category_name}) %>
          <% else %>


              <% if category_fields.has_key?(posting.category_name)
                   category_fields=category_fields[posting.category_name]
                   field_counter=0 %>
                  <%= f.fields_for :custom_fields do |custom_field| %>
                      <div class="control-group">
                        <label class="control-label"><%= custom_field.object.label %></label>

                        <div class="controls">
                          <% if !!category_fields[:sliders] && category_fields[:sliders].has_key?(custom_field.object.label)
                               field=category_fields[:sliders][custom_field.object.label] %>
                              <script type="text/javascript">
                                  $(function () {
                                      $("#slider<%=field_counter%>").slider({
                                          value:<%=custom_field.object.value%>,
                                          min: <%=field[1]%>,
                                          max: <%=field[2]%>,
                                          step: <%=field[3]%>,
                                          slide:function (event, ui) {
                                              $("#amount<%=field_counter%>").val(ui.value);
                                          }
                                      });
                                      $("#amount<%=field_counter%>").val($("#slider<%=field_counter%>").slider("value"));
                                  });
                              </script>

                              <p>
                                <%= custom_field.text_field :value, :id => "amount#{field_counter}", :class => "slider"+field_counter.to_s,
                                                            :style => "border:0; color:#f6931f; font-weight:bold;" %>
                              </p>

                              <p>

                              <div id="slider<%= field_counter %>"></div>
                              </p>
                          <% elsif !!category_fields[:drop_down_menus] && category_fields[:drop_down_menus].has_key?(custom_field.object.label) %>

                              <%= custom_field.select(:value, category_fields[:drop_down_menus][custom_field.object.label], :selected => custom_field.object.value) %>

                          <% else # text field if not a slider, drop-down menu, or if label of custom field not found                 %>
                              <%= custom_field.text_field :value %>
                          <% end %>
                        </div>
                      </div>
                  <% field_counter+=1
                     end
                     end
                     end %>
        </div>
        <div class="control-group">
          <%= f.label(:description, :class => "control-label", :id => "wp2") %>
          <div class="controls">
            <%= f.text_area :description, :id=>"posting-form-description" %>
          </div>
        </div>
        <br>

        <div class="control-group" style="background:#EEE;">
          <% if (groups=current_user.groups).length==0 %>
              <%= hidden_field_tag "posting[group_ids][]", [1] %>
          <% else %>
              <%= f.label("Searchable by", :class => "control-label", :style=>"font-weight:bold;") %>
              <div class="controls" id="group-checkboxes">
                <label class="checkbox"><%= check_box_tag "posting[group_ids][]", 1, ids_of_groups_posting_is_in.include?(1), :class => 'everyone-group' %>
                  Everyone on Reppio</label>
                <br><i>...or only within these groups you're in:</i><br><br>
                <% groups.each do |group| %>
                    <label class="checkbox"><%= check_box_tag "posting[group_ids][]", group.id, ids_of_groups_posting_is_in.include?(group.id), :class => 'specific-group' %>
                      <%= group.long_name %></label>
                <% end %>
              </div>
          <% end %>

        </div>

      </div>
    </div>

    <%= f.hidden_field :uploaded_pictures, :id => "uploaded_pictures", :value => "" %>
    <%= f.hidden_field :picture_display_order, :class => "picture_display_order" %>

    <%= submit_tag "#{new_or_edit=="new" || !posting.is_updated ? "Publish!" : "Update Posting"}", :class => "btn btn-large btn-success submit-form" %>
    <%= submit_tag "Save as Draft", :class => "btn btn-large blue-link submit-form", :id => "save-as-draft" %>
<% end %>
<%= render "postings/privacy_modal" %>




<script type="text/javascript">
    var wp1 = $('#wp1').position().top;
    var wp2 = $('#wp2').position().top;

    var hasBeenTrigged = false;
    $(window).scroll(function () {
        if ($(this).scrollTop() == 0) {
            $('.posting-instructions').attr('style', 'position:relative;padding:20px;').hide();
            $('#posting-second-instructions').show();
        }
        if ($(this).scrollTop() > 0 && $(this).scrollTop() < 180) {
            //when scrolling past 180px, we need to fix the position of the info box and change the text to be that
            //of the photoupload
            $('.posting-instructions').attr('style', 'position:relative;padding:20px;').hide();
            $('#posting-second-instructions').show();
        }

        if ($(this).scrollTop() >= 180 && $(this).scrollTop() < wp1) {
            $('.posting-instructions').attr('style', 'position:fixed;width:250px;margin-left:20px; margin-top:-170px;').hide();
            $('#posting-second-instructions').show();
        }

        if ($(this).scrollTop() >= wp1 && $(this).scrollTop() < wp2) {
            $('.posting-instructions').attr('style', 'position:fixed;width:250px;margin-left:20px; margin-top:-170px;').hide();
            $('#posting-third-instructions').show();
        }
    });



</script>

<%= render(:partial => "posting_scripts", :locals => {:posting => posting}) %>
