<%= link_to user_posting_url(:user_name => seller_name, :id => posting.id), :class=>"square-listing-link" do %>
<div class="pic-and-price-square">
  <%= posting_pic_if_exists("medium", posting) %>

  <div class="pic-and-price-square-price"></div>

  <div class="pic-and-price-square-price-text">$<%= formatted_price(posting.price) %></div>
  <div class="square-blue"><%= truncate(posting.title, :length => 24, :separator => "...")%>
  </div>
</div>
<% end %>