<script type="text/javascript">
    // form must have class name "primaryForm"
    // geolocation functionality: latitude, longitude, city, state, zipcode for autocomplete
    //     textbox with id "searchTextField"
    // picture order
function setPictureDisplayOrder() {
    var sortOrderAsString = $("#pictures").sortable('toArray');
    var sortOrder = $.map(sortOrderAsString, function (val, i) {
        return val.slice(1);
    });
    $(".picture_display_order").val(sortOrder.toString());
    if ($(".picture_display_order").val() == '' && ($('.files').sortable('toArray').length === 0))
        $(".submit-form").attr("disabled", "disabled");
}

$('.files').sortable({ placeholder:"picture-placeholder" });
// random assortment of things that should happen (sorting pictures, etc)
$("#pictures").sortable({revert:true, placeholder:"ui-state-highlight"});
$("#pictures li").hover(function () {
    $(this).children(".closeButton").addClass("closeButtonStyled");
}, function () {
    $(this).children(".closeButton").removeClass("closeButtonStyled");
});
$("#pictures").disableSelection();
$(".closeButton").click(function () {
    $(this).parent().remove();
    setPictureDisplayOrder();
});

var cityAndStateSetIfAvailable = false;

// when you submit the form, run these things
$(".primaryForm").submit(function () {

    $("#uploaded_pictures").val($('.files').sortable('toArray'));
    var picture_ids = [];
    $('.files li').each(function () {
        picture_ids.push($(this).attr('data-picture-table-id'));
    });
    $("#picture-ids").val(picture_ids);

    if(picture_ids.length===0 && $("#pictures").sortable('toArray').length===0)
    {
        alert("Please upload at least one photo.");
        return false;
    }

    if ($('#group-checkboxes input').size() > 0 && 0 === $('#group-checkboxes input:checked').size()) {
        alert('Please select who can search for your posting.');
        return false;
    }

    setPictureDisplayOrder();
    if (cityAndStateSetIfAvailable == true)
    {
		if ($('input[id^=posting_custom_field][value=Author]').siblings().val()=="")
        {
			alert("Please fill in the author field.");
            return false;
        }
			
        var valid = true;
        $('[data-validate]:input:visible').each(function() {
            var settings= window[this.form.id];
            if (!$(this).isValid(settings.validators)) {
                valid = false;
            }
        });
        if(valid){
            $(".primaryForm .submit-form").attr('disabled', 'disabled');
            return true;
        }
        else
        {
            alert("Please fill in all the fields.");
            return false;
        }
    }


    var geocoder = new google.maps.Geocoder();

    var address = $('#searchTextField').val();

    geocoder.geocode({ 'address':address}, function (results, status) {

        if (status == google.maps.GeocoderStatus.OK) {
            $(".lat").val(results[0].geometry.location.lat() * Math.PI / 180);
            $(".long").val(results[0].geometry.location.lng() * Math.PI / 180);
            $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));


            var arrayAddress = results[0].address_components;
            for (var i = 0, length = arrayAddress.length; i < length; i++) {
                var address_component = arrayAddress[i];
                if (address_component.types[0] == "locality") {
                    $('.city').val(address_component.short_name); //set city
                }

                if (address_component.types[0] == "administrative_area_level_1") {
                    $('.state').val(address_component.short_name); //set state abbreviation
                }
                if (address_component.types[0] == "postal_code") {
                    $('.zip-code').val(address_component.short_name); //set zip code
                }
            }


            cityAndStateSetIfAvailable = true;
            $(".primaryForm").submit(); //re-submit form with fixed fields, will succeed because  boolean was set to true
        }
        else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
            alert("Location is not valid.");
        }

    });
    return false; // do not send form that was called that did not have attempt to get city, state, address
});


var map;
var circle;
var geocoder = new google.maps.Geocoder();

function isValidStreetAddress(geoLocatorResultAddressComponents) {
    var isValidStreetAddress = false;
    var arrayAddress = geoLocatorResultAddressComponents;
    for (var i = 0; i < arrayAddress.length; i++) {
        var address_component = arrayAddress[i];
        if (address_component.types[0] == "street_number") {
            isValidStreetAddress = true;
        }
    }
    return isValidStreetAddress;
}

function updateAfterAddressWasChanged() {
    var boo = '<i class="icon-remove" style="color:red; font-size:1.5em;"></i>';
    var yay = '<i class="icon-ok" style="color:green; font-size:1.5em;"></i>';
    var address = $('#searchTextField').val();
    geocoder.geocode({ 'address':address}, function (results, status) {
        if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
            $('#good-bad-address').html(boo);
        }
        else if (status == google.maps.GeocoderStatus.OK) {
            var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            if (isValidStreetAddress(results[0].address_components)) {
                $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));
                $('#good-bad-address').html(yay);
            }
            else { //say the address is for chicago, il... then reverse geocode the latlng to a street address

                geocoder.geocode({'latLng':latlng}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (isValidStreetAddress(results[0].address_components)) {
                            latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

                            $("#searchTextField").val(results[0].formatted_address.replace(", USA", ""));
                            $('#good-bad-address').html(yay);
                        }
                        else {
                            $('#good-bad-address').html(boo);
                        }
                    }
                    else {
                        $('#good-bad-address').html(boo);
                    }
                });
            }

            circle.setCenter(latlng);
            map.setCenter(latlng);
            map.fitBounds(circle.getBounds());
        }
    });
}

//    INITIALIZE MAP
var styles = [
    {
        "featureType":"water",
        "stylers":[
            { "lightness":4 },
            { "gamma":0.93 },
            { "saturation":-41 },
            { "hue":"#002bff" }
        ]
    },
    {
        "featureType":"road",
        "stylers":[
            { "gamma":0.98 },
            { "hue":"#00a1ff" },
            { "saturation":-51 },
            { "lightness":-9 }
        ]
    },
    {
        "elementType":"labels.text.stroke",
        "stylers":[
            { "color":"#ffffff" },
            { "weight":5 }
        ] }
];
var radius = 100;
var latlng = new google.maps.LatLng(<%=posting.latitude.nil? ? current_user.latitude : posting.latitude*180/Math::PI%>, <%=posting.longitude.nil? ? current_user.longitude : posting.longitude*180/Math::PI %>);
var myOptions = {
    zoom:10,
    center:latlng,
    mapTypeId:google.maps.MapTypeId.ROADMAP,
    scrollwheel:false,
    streetViewControl:false,
    mapTypeControl:false,
    styles:styles
};
map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

var options = {
    strokeWeight:0,
    fillOpacity:0.5,
    fillColor:'#FF7A4A',
    map:map,
    center:latlng,
    radius:radius
};
circle = new google.maps.Circle(options);
map.fitBounds(circle.getBounds());


$('.primaryForm input:not(textarea)').keypress(function (event) {
    if (event.keyCode == 13) {
        event.preventDefault();
    }
});

setPictureDisplayOrder();
$(".hasTooltip").tooltip();
var input = document.getElementById('searchTextField');
var options = {
    componentRestrictions:{country:'us'}
};
var autocomplete = new google.maps.places.Autocomplete(input, options);

google.maps.event.addListener(autocomplete, 'place_changed', function () {
    var place = autocomplete.getPlace();
    if (place.geometry) {
        var thelat = place.geometry.location.lat();
        var thelng = place.geometry.location.lng();
        $(".lat").val(thelat);
        $(".long").val(thelng);
        var address = '';
        if (place.address_components) {
            address = [(place.address_components[0] &&
                    place.address_components[0].short_name || ''),
                (place.address_components[1] &&
                        place.address_components[1].short_name || ''),
                (place.address_components[2] &&
                        place.address_components[2].short_name || '')
            ].join(' ');
        }
        updateAfterAddressWasChanged();
    }
});

$('#searchTextField').change(function () {
    updateAfterAddressWasChanged();
});

$('a#change-category').click(function () {
    $('#manual-select').slideDown();
});

$('a[data-remote="true"]').click(function () {
    var url = $(this).attr('href');
    if (url.indexOf("new_posting_form_for_category") >= 0) {
        $('#category-section-label').text($(this).text());
        $('#change-category-selector').click();
        $.ajax({url:"/get_custom_fields?cat=" + encodeURIComponent($(this).text()), type:'GET'}).done(function (data) {
            $('#custom-field-section').html(data);
        });
    }
});
$(":checkbox").change(function () {
    if ($(this).attr("checked")) {
        if ($(this).hasClass('specific-group')) {
            $('.everyone-group').attr('checked', false);
        }
        else if ($(this).hasClass('everyone-group')) {
            $('.specific-group').attr('checked', false);
        }
    }
});


$('#save-as-draft').mouseup(function () {
    var input = $("<input>").attr("type", "hidden").attr("name", "draft").val("true");
    $('.primaryForm').append($(input));
});

$(".hasTooltip").tooltip();



</script>