<%
   polaroid ||= ""
   moreLink ||= nil
   number_of_postings_to_show ||= postings.length

   if postings.empty? %>
    <br><br>
    <div class="posting-more-listings"><br><%= @user.first_name.capitalize %> has not listed any items.<br><br><br></div>
<% else

     (username=User.find(postings.first.user_id).user_name) rescue nil
     username=current_user.user_name if username.nil?

%>

    <% postings.last(number_of_postings_to_show).reverse.each do |posting| %>
        <% if polaroid.blank? %>
            <%= render(:partial => "postings/posting-teaser", :locals => {:posting => posting}) %>
        <% else %>
            <%= render(:partial => "postings/pic_and_price_square", :locals => {:posting => posting, :seller_name=>username}) %>
        <% end %>


        <% if !moreLink.nil? %>
            <%= link_to "(more listings...)", user_postings_url(:user_name => username) %>
        <% end %>
    <% end %>

<% end %>