<%
   asRole ||= ""
   conversationsCount ||= "0"
   conversationsCountUnread ||= "0"
   sellerName ||= User.find(posting.user_id).user_name
   for_completed_posting = (defined? completed)
%>
    <div id="posting<%= posting.id %>" class="posting" style=" padding: 0px; margin-left:20px; margin-right:60px;">
      <div class="row-fluid postingRow" style="padding-top:5px">
         <div class="span12" style="position:relative;">
           <div class="postingPicture" style="position:relative; padding: 5px 15px 5px 0px;">
             <%= link_to posting_pic_if_exists("large_thumb", posting), user_posting_url(:user_name=>sellerName, :id=>posting.id) %></div>

           <%
              postingTitle = posting.title
              postingTitle+= " (draft)" if not posting.is_updated
           %>

           <h3 style="font-size:1.2em; margin-top:5px;" class="postingTitle"><%= link_to postingTitle, user_posting_url(:user_name => sellerName, :id => posting.id) %></h3>

          <div style="font-size:0.9em; margin-top:4px;">

           <% if asRole == "seller" %>
               <span style="font-weight:bold">
                <%= number_to_currency(posting.price, :precision => 0)%>&nbsp;&nbsp;
               </span>               
               <i class="icon-eye-open"></i>&nbsp;<%= posting.view_count.to_s %> views
               &nbsp;&nbsp;&nbsp;<%= link_to(user_posting_url(:user_name => sellerName, :id => posting.id)) do %><i class="icon-comment"></i>&nbsp;<%= pluralize(conversationsCount.to_i, 'inquiry') %><% end %>
               <% if conversationsCountUnread.to_i > 0 %>
                   &nbsp;&nbsp;<span style="color: red;">
                    <%= link_to(user_posting_url(:user_name => sellerName, :id => posting.id), :style=>"color:red;") do %><i class="icon-envelope"></i>&nbsp;<%= conversationsCountUnread %>&nbsp;unread<% end %>
                </span>
               <% end %>
               <% if !for_completed_posting%>
                   <a class="promote-link" id="<%= posting.id %>" href="<%= promote_user_posting_url(:user_name => current_user.user_name, :id => posting.id) %>">
                     <i class="icon-bullhorn"></i>&nbsp;Promote listing!
                   </a>
               <% end %>
           <% end %>
         </div>

         <hr style="border-bottom:0px; border-color:#DDD;">

           <p class="inquiries" style="margin-top:5px;">
             <span><b>Description</b>: <%= truncate(posting.description, :length=>130, :separator=>"...") %></span>        

             <% if asRole == "buyer" %>
                 <div style="position:absolute; top:5px; right:-30px;">
                   <% if !posting.delisted_reason.blank? %>
                       <div class="soldWatermark hasTooltip" title="This item has been sold. You can remove this inquiry below if you'd like."><i class="icon-gift"></i>&nbsp;SOLD</div>
                   <% end %>
                 </div>
             <% end %>

             <% if asRole == "seller" && !for_completed_posting %>
               <span>
               </span>
             <% end %>

           </p>
         </div>
      </div>

      <% if for_completed_posting %>
          <div class="alert alert-info" style="border-radius:0px; width:100%; padding-right:25px;">
            <%= link_to 'Remove', remove_completed_posting_url(:id => posting.id, :asRole => asRole), :class => 'btn btn-danger', :style=>"float:right; margin-top:-5px; margin-left:10px;" %>
            <% if asRole == "buyer" %>
                You successfully purchased this item!
            <% elsif asRole == "seller"
                 relistLink = link_to 'Relist this item', relist_posting_url(:id => posting.id, :user_name => current_user.user_name), :class => 'btn btn-info', :style=>"float:right; margin-top:-5px;"
                 relistCopyLink = link_to 'Relist a similar item', relist_posting_copy_url(:id => posting.id, :user_name => current_user.user_name), :class => 'btn btn-info', :style=>"float:right; margin-top:-5px;"
                case posting.delisted_reason
                   when "soldHere" %>
                    You sold this item here on Reppio! <%= relistCopyLink %>
                <% when "soldElsewhere" %>
                    You sold this item elsewhere. <%= relistCopyLink %>
                <% when "couldntSell" %>
                    You said you couldn't sell this. Want to give it another go? <%= relistLink %>
                <% when "dontWantToSell" %>
                    You decided you didn't want to sell this. Reconsidered? <%= relistLink %>
                <% end %>
            <% end %>
          </div>
      <% end %>

</div>