<li class="expanded"><a href="#" class="menu-option"><%= category %>
</a><br/>
  <ul class="menu">
    <% Posting.immediate_children_of_category(category).each { |child|
          if Posting.is_leaf?(child)  %>
            <%= render(:partial => "postings/print_menu_selector_leaf", :locals => {:category => child}) %>
        <% else %>
            <%= render(:partial => "postings/print_menu_selector_not_leaf", :locals => {:category => child}) %>
        <% end } %>
  </ul>
</li>
