<div id="privacyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-header">
    We care about your privacy and safety.
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span></button>
  </div>
  <div class="modal-body">
    <div style="text-align:left">
      We require a real street address, but not to worry - a small circle with the exact center-point
      randomly displaced is displayed for your privacy. However, if you are still concerned about using your real address,
      try using the address of a nearby coffee shop or public place. Your peace of mind always comes first.
    </div>
  </div>
</div>
