<ul class="menu" id="category-selector">
 <%
  top_level_categories=Posting.top_level_categories
  top_level_categories.each { |top_level_category|
  if Posting.is_leaf?(top_level_category)
 %>
          <%= render(:partial=>"postings/print_menu_selector_leaf", :locals=>{:category=>top_level_category})%>
 <%  else  %>
          <%= render(:partial=>"postings/print_menu_selector_not_leaf", :locals=>{:category=>top_level_category})%>
 <%  end }   %>
</ul>