<div id="promoteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="promoteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 style="margin-top:0px;">Promoting on Craigslist</h4>
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align:left;">
    <div id="loading-message">
      <p>
        You can create a posting on Craigslist and get your listing in front of millions of potential buyers! All while managing all communication within Reppio and never divulging your personal information.
      </p>
      <br>
      <div id="loading_image" style="text-align:center"><%= image_tag 'squares-circle-loader.gif' %></div>


        Creating Craigslist posting. This takes a little while, please be patient...


      <div><span class="c-message" id="one">Contacting Craigslist…. </span>
        <span class="c-message" id="two"> done!   </span></div>
      <div>
        <span class="c-message" id="three"> Selecting category… </span><span class="c-message" id="four">done!               </span>
      </div>
      <div>
        <span class="c-message" id="five"> Selecting city and neighborhood… </span><span class="c-message" id="six">done!   </span>
      </div>
      <div>
        <span class="c-message" id="seven"> Entering listing details…</span><span class="c-message" id="eight"> done!       </span>
      </div>
      <div><span class="c-message" id="nine"> Uploading images…                 </span></div>

    </div>

  </div>

</div>

