<head><meta name="robots" content="noindex, noarchive"/>
</head>
<%  Group.find(1).postings.where('is_updated = 1').each do |posting| %>
        <%= link_to posting.title, user_posting_url(:user_name => User.find(posting.user_id).user_name, :id => posting.id) %> <br>
    <% end %>