$('#categorizePanel').html("<%= escape_javascript(render(:partial => "postings/categorize", :locals => {:possible_category => @topCategory,
                                                          :ancestry_line => Posting.ancestry_line(@topCategory)})) %>");
$('#categorizePanel').fadeIn();

$('#category-selector').columnview({
    preview:false
});
$("#wrong-map").click(function () {
    $('#correct-or-wrong-mapping').html("<span style=\'font-size:20px;\'>Sorry we could not find your item, our categorizing hamster is continuing to learn.</span>"            );
    $('#manual-select').slideDown();
});


$('a[data-remote="true"]').click(function () {
    $.ajax({
        url:$(this).attr('href'),
        data:$(this).serialize(),
        type:'POST'
    }).success(function (data) {
                eval(data);
            });
    return false;
});
