<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
  <div class="span3"></div>
  <div class="span6">
      <div class="rep_container" style="padding:20px;">
      <h2>Promoting on Craigslist</h2>
        <div id="loading-message">
          Creating Craigslist posting. This takes a little while, please be patient...

        
          <div> <span class="c-message" id="one">Contacting Craigslist…. </span> <span class="c-message" id="two"> done!   </span>        </div>
          <div> <span class="c-message" id="three"> Selecting category… </span><span class="c-message" id="four">done!               </span>   </div>
          <div><span class="c-message" id="five"> Selecting city and neighborhood… </span><span class="c-message" id="six">done!   </span>  </div>
          <div> <span class="c-message" id="seven"> Entering listing details…</span><span class="c-message" id="eight"> done!       </span>  </div>
          <div> <span class="c-message" id="nine"> Uploading images…                 </span>    </div>
          
        </div>
    <div id="loading_image" style="text-align:center"><%= image_tag 'squares-circle-loader.gif' %></div>
     </div>

      </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

        $.ajax({url:"<%= craigslist_ajax_url(:user_name=> current_user.user_name, :id=> @posting.id) %>", type:'POST', datatype:'json',
            success:function (data) {
                window.open(data.toString(), '_blank');
                $('#loading-message').html("Posting successfully created! In order to finish posting to Craigslist, " +
                        "you must press the 'Continue' button in the popup window. <br><br> If you have a popup blocker on, " +
                        "go to the the following link: <br><br> " +
                        "<a href='" + data + "' target='_blank' class='rep-btn rep-btn-orange'>Continue</a>.");
            },
            error:function () {
                alert("Sorry, an error occurred. Please try again tomorrow. In the meanwhile, please send us some feedback!");
            },
            complete:function () {
                $('#loading_image').hide();
            }

        });
        $("span.c-message").each(function(index) {
            $(this).delay(1200*index).fadeIn(300);
        });

</script>