<% title truncate("Reppio: Editing \"" + @posting.title + "\" Posting", :length => 66) %>
<% if @posting.deleted %>
    You de-listed this item because
	<%
	relistLink = link_to 'Relist', relist_posting_url(:id => @posting.id, :user_name => current_user.user_name), :class => 'btn btn-mini btn-info'
	relistCopyLink = link_to 'Relist similar', relist_posting_copy_url(:id => @posting.id, :user_name => current_user.user_name), :class => 'btn btn-mini btn-info'
			case @posting.delisted_reason
			when "soldHere" %>
			you sold it here! <%= relistCopyLink %>
			<% when "soldElsewhere" %>
			you sold it elsewhere. <%= relistCopyLink %>
			<% when "couldntSell" %>
			you said you couldn't sell this. Want to give it another go? <%= relistLink %>
			<% when "dontWantToSell" %>
			you decided you didn't want to sell this. Reconsidered? <%= relistLink %>
			<% end %>

<% else %>

    <h2 class="posting-title">Edit Listing</h2>
    <div class="rep-container" style="padding:20px; width:700px;">
      <h2>1. Drag and drop images below</h2>
    <%= render "fileupload/main" %>
      <%= google_maps_script %>

    <%= render(:partial => "new_and_edit_posting_form",
               :locals => {:new_or_edit => "edit", :posting => @posting,
                           :ids_of_groups_posting_is_in => @posting.groups.collect(&:id),
                           :sorted_pictures=>@sortedPictures
               }) %>
    </div>



<% end %>
