<% category_fields=Posting.category_fields
text_fields=category_fields[@category][:text_fields] rescue false
sliders=category_fields[@category][:sliders] rescue false
drop_down_menus=category_fields[@category][:drop_down_menus] rescue false
%>
createForm({
"category":"<%= @category%>",
<% if not @user.last_posting_street_address.blank? %>
"address":"<%=@user.last_posting_street_address%>",
"longitude":"<%=@user.last_posting_latitude%>",
"latitude":"<%=@user.last_posting_longitude%>",
<% end %>
<% if text_fields%>
"text_fields": [<%= text_fields.collect { |f| "\"#{f}\"" }.join(",").html_safe%>],
<% end %>
<% if sliders%>
"sliders": [<%  sliders.each_pair do |slider_label, slider_values|%>
{ "slider": ["<%= slider_label%>", <%= slider_values[0]%>, <%= slider_values[1]%>, <%= slider_values[2]%>, <%= slider_values[3]%>]},
<% end %>
{"reppio":"is cool"}
],
<% end %>
<% if drop_down_menus%>
"drop_down_menus": [<% drop_down_menus.each_pair do |drop_down_menu_label, drop_down_menu_options|%>
{ "drop_down_menu": ["<%= drop_down_menu_label%>", <%= drop_down_menu_options.collect { |f| "\"#{f}\"" }.join(",").html_safe %>]},
<% end %>
{"reppio":"is easy to use" }],
<% end %>
"reppio":"is awesome"
});
