$("<%= escape_javascript(render(:partial => "postings/delist_modal", :locals => {:posting => @posting})) %>").modal('show').on('shown', function () {
    $(".delist-form").submit(function() {
        var answer = true;
        if ( $("#posting_delisted_reason_soldhere").prop('checked') && ($('#posting_possible_buyers').val() == 0)) {
            answer = confirm("You won't be able to leave a review if no buyer is specified. Continue?");
        }
        if (answer)
            return true;
        else
            return false;
    });

    $("#posting_possible_buyers").click(function() {
        $("#posting_delisted_reason_soldhere").click();
    });

    $("input[type='radio'],.radio").click(function() {
        $("input[type=submit]").removeAttr("disabled");
    });
    $(".delisted_reason_choice:first").click(function() {
        $('#shareDelistingOnFacebook').slideDown();
    });
    $("form").submit(function () {
        $('input[type=submit]').attr('disabled', true);
    });
    $('.hasTooltip').tooltip();
});



