$("<%= escape_javascript(render(:partial => "postings/email_share_modal", :locals => {:posting => @posting})) %>").modal('show').on('shown',function () {
    <% if !current_user %>$("<%=  escape_javascript(render(:partial=>"recaptcha"))%>").appendTo("#check-for-robots"); <% end %>
}).on('hidden', function () {
    $(this).remove();
});

