$("<%= escape_javascript(render(:partial => "postings/promote_modal", :locals => {:posting => @posting})) %>").modal('show').on('shown',function () {
    $.ajax({url:"<%= craigslist_ajax_url(:user_name=> current_user.user_name, :id=> @posting.id) %>", type:'POST', datatype:'json',
        success:function (data) {
            if(data.toString()=="error")
            {
                $('#loading-message').html("Sorry, an error occurred. Please try again in a few minutes. If there is a problem again, " +
                        "send an email to tech@reppio.com.");
            }
            else
            {
            window.open(data.toString(), '_blank');
            $('#loading-message').html("Posting successfully created! In order to finish posting to Craigslist, " +
                    "you must press the 'Continue' button in the popup window. <br><br> If you have a popup blocker on, " +
                    "go to the the following link: <br><br> " +
                    "<a href='" + data + "' target='_blank' class='rep-btn rep-btn-orange'>Continue</a>");
            }
        },
        error:function () {
            $('#loading-message').html("Sorry, an error occurred. Please try again in a few minutes. If there is a problem again, " +
                    "send an email to tech@reppio.com.");
        },
        complete:function () {
            $('#loading_image').hide();
        }

    });
    $("span.c-message").each(function (index) {
        $(this).delay(1200 * index).fadeIn(300);
    });
}).on('hide', function () {
            <% unless current_user.promote_postings_to_facebook %>
            if ($('.facebook-exit')[0]===undefined)
            {
                $('#promoteModal .x-button').addClass('facebook-exit');
                $('#promoteModal .modal-header h4').text('Promoting on Facebook');
                $('.modal-body').html('Do you want to promote this listing to your friends on Facebook?<br><br>'+
                        "<%= escape_javascript(render(:partial => "postings/facebook_preview", :locals => {:posting => @posting})) %>"+
                '<br><br><button type="button" id="promote-to-facebook-from-modal" class="rep-btn rep-btn-orange">Yes!</button>' +
                        '<button type="button" class="rep-btn" data-dismiss="modal" aria-hidden="true" style="margin-left: 20px; width: 70px;">No</button>');
                $('#promote-to-facebook-from-modal').click(function(){
                    $.ajax({url:"<%= promote_to_facebook_from_modal_url(:id=> @posting.id) %>"});
                });
                return false;
            }
            else
            <% end %>
            return true;
        }).on('hidden', function () {
            $(this).remove();
        });



