<% title "Reppio: New Posting" %>
<% content_for :sell_active, "true" %>
<% content_for :headContent do -%>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" %>
    <%= stylesheet_link_tag('jquery.fileupload-ui') %>
<% end %>

<div class="posting-title">Create a new listing</div>
<div class="row">
  <div class="span12 rep-container" style="overflow:hidden;">
    <div class="span8 equal-height-column" style="height:inherit; border-radius:0px 10px 10px 0px; box-shadow:4px 0px 4px rgba(0,0,0,0.2);">
      <div id="upload-form" style="display:none; padding:20px;">
        <h2>1. Drag and drop images below</h2>
        <%= render "fileupload/main" %>
      </div>
      <div id="main-posting-form" style="padding:20px;">
      <div id="posting-creation-container" style="padding:20px;">
        <%= form_tag categorize_posting_path, :method => "post", :remote=>true, :id=>"categorize_form", :style=>"margin-bottom:0px;" %>

        <div style="margin-bottom:15px;font-size:20px;">I am selling:&nbsp;</div>
        <div style="margin-left:20px;">
          <%= text_field_tag :product, nil, :placeholder => "e.g. ipad, textbook, skirt, sofa bed", :style=>"margin-bottom:0px;height:40px;width:300px;" %>
          <%= submit_tag("Find Category", :id => "sellButton", :class => "rep-btn rep-btn-orange", :style=>"height:50px;") %>
        </div>
        </form>

        <div id="categorizePanel" style="display:none; margin-top:20px;">
        </div>
      </div>
    </div>
    </div>

    <div class="span4">
      <div class="posting-instructions" id="posting-first-instructions" style="padding:20px;">
        <h4><i class="icon-check"></i>&nbsp; Creating a new listing</h4>

        Tell us what you're selling in plain English. iPad? Ferragamo wallet? Bobblehead? We have cool algorithms that figure out the correct category for you. Wham bam thank you ma'am.
      </div>
      <div class="posting-instructions" id="posting-second-instructions" style="display:none; padding:20px;">
        <h4><i class="icon-check"></i>&nbsp; Upload photos</h4>

        Literally drag and drop pictures into that gray camera box. You can also change the order by dragging them. It doesn't get much simpler than that.
      </div>
      <div class="posting-instructions" id="posting-third-instructions" style="display:none;">
        <h4><i class="icon-check"></i>&nbsp; Basic details</h4>
        Let us know some basic information. This helps us organize your listing and tell others exactly what you're selling.

      </div>
    </div>

  </div>
</div>


<%= google_maps_script %>
