$('#upload-form').fadeIn();
$('#posting-first-instructions').hide(); $('#posting-second-instructions').fadeIn();

$('#main-posting-form').html("<%= escape_javascript(render(:partial => "new_and_edit_posting_form",
           :locals => {:new_or_edit => "new", :posting => @posting,
                       :category_name => params[:c],
                       :ids_of_groups_posting_is_in => [1]
                       }) ) %>");


$('form[data-validate]').validate();