<div class="row-fluid row-fluid-style">
<h1 class="header_title"><i class="icon-bullhorn"></i>Post to Craigslist</h1>

    <div class="hero-unit" style="margin: 0px auto;">
      <h1>Post to Craigslist</h1>

      <p>Write your zip code, and we'll fill out the Craigslist form for you.
      You will be able to edit the post before it is displayed on Craigslist.</p>
      <%= form_tag( {:action => :postToCraigslist}, :class => 'form-inline', :method=>"get" ) %>
          5-Digit Zip Code:
          <%= text_field_tag :zip_code, '', :placeholder =>  "e.g. 60613", :value=>current_user.zip_code or "" %>
          <%= submit_tag "Post", :class => "btn btn-primary btn-large" %>
      </form>
      <% if @invalid_zip_code_parameter && !params[:zip_code].nil? %><%= @posting.zip_code %>"<%= params[:zip_code] %>" is not a valid zip code.<%end%>
    </div>

</div>