<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
    <h3 align="center">Promote your listing. Get buyers.</h3>
    <br>

        <div class="span4">
          <div class="renderedPostingDiv" id="renderedPosting">
            <%= link_to posting_pic_if_exists("large_thumb", @posting), user_posting_url(:user_name => current_user.user_name, :id => @posting.id), :id => "promotePostingPictureId" %>
          </div>
        </div>
        <div class="span8">
          <div style="background-color:#FFF;">
            <h3>Craigslist</h3><br>

            <p>We'll help you post on Craigslist! You will still need to go through a manual posting and verification process.</p>
            <%= link_to "Post to Craigslist now!", post_to_craigslist_url(:id => @posting.id), :class => "rep-btn rep-btn-large rep-btn-orange" %>

          </div>
      </div>


    <div class="span12">

        <h3>Email</h3><br>

        <p>Email this listing to friends</p>
        <%= form_tag(promote_posting_by_email_url(:id => @posting.id), :method => "post", :id => "promote_by_email") %>
        <%= text_area_tag 'emails', nil, :style => 'width:100%; height:40px;', :placeholder => "jack@reppio.com, darth@vader.com, ..." %>
        <%= submit_tag "Email", :class => "btn" %>
        </form>


</div>
</div>

</div>