<div class="row-fluid row-fluid-style">
  <div class="span12">
    <div class="rep-container" style="padding:20px;">
      <h3>Remove Listings</h3>

      <h4>COMPLETELY DESTROYS THE LISTING AND ALL ITS PHOTOS, CONVERSATIONS, ETC</h4>

      <%= form_tag(remove_listing_url) %>
      Posting ID: <%= text_field_tag :posting_id %>

      <%= submit_tag "DESTROY", :class => "rep-btn rep-btn-orange" %>

      </form>

      <%= image_tag "posting_id.png" %><br>
      <em>example: posting ID is 1087 for this posting</em>




    </div>
  </div>
</div>


