<div class="row-fluid row-fluid-style">
  <div class="span12">
    <div class="rep-container" style="padding:20px;">
      <h3>Reppio Picks</h3>

      <h4>Add a posting</h4>

      <%= form_tag(toggle_reppio_pick_url) %>
      Posting ID: <%= text_field_tag :posting_id %>

      <%= submit_tag "Add", :class => "rep-btn rep-btn-orange" %>

      </form>

      <%= image_tag "posting_id.png" %><br>
      <em>example: posting ID is 1087 for this posting</em>


      <br><br><br>

      <table class="table striped" style="width:700px;">
        <%@postings.each do |posting|
        seller=User.find(posting.user_id)%>
            <tr>
              <td><%= image_tag(posting.first_picture_url)%></td>
              <td><%= link_to posting.title, user_posting_url(:user_name=>seller.user_name, :id=>posting.id) %></td>
              <td><%= posting.category_name %></td>
              <td><%= link_to "x", toggle_reppio_pick_url(:posting_id=>posting.id) %></td>
            </tr>
        <% end %>
      </table>


    </div>
  </div>
</div>


