<% title truncate("Reppio Posting: " + @posting.title + " (Seller: " + @user.first_name + ")", :length => 66)
   is_bookmarked = !current_user.nil? && current_user.bookmarks.any? { |bookmark| bookmark.posting_id==@posting.id }
   conversation_already_exists= current_user && !(Conversation.find_by_posting_id_and_potential_buyer_id(@posting.id, current_user.id)).nil?
   firstPicture = @sortedPicturesNoIndices.first %>
<% content_for :headContent do -%>
    <link rel="image_src" href="<%= firstPicture.photo.url(:large_thumb) %>"/>
    <meta content="<%= @posting.title %>" property="og:title">
    <meta content="product" property="og:type">
    <meta content="http://<%= "#{request.host}#{request.fullpath}"%>" property="og:url">
    <meta content="<%= firstPicture.photo.url(:large_thumb) %>" property="og:image">
    <meta content="<%= @posting.description %>" property="og:description">
    <meta content="Reppio" property="og:site_name">
    <meta content="275614615869605" property="fb:app_id">
<% end -%>
<%if !same_user? && @posting.deleted %>
    <div class="alert">This item has already been sold. You can <%= link_to "browse other items in the #{@posting.category_name} category", search_url(:category=>@posting.category_name) %>.</div>
    <% end %>
<div id="posting-title-toggle-map">
  <div class="posting-title" style="display:inline-block;"><%= @posting.title %></div>
  <div class="show-options" id="toggle-options">
  </div>
</div>


<div id="big-map" style="display:none;">
  <div id="map_canvas" class="shadow browse-map"></div>
  <div class="btn-group btn-group-vertical" style="position:absolute; left:20px; top:20px;">
    <button type="button" id="zoom-in" class="btn btn-info btn-large">+</button>
    <button type="button" id="zoom-out" class="btn btn-info btn-large">-</button>
  </div>
  <%= image_tag('browse/current-location-off.png', :id => "show-current-location", :class => 'current-location-image') %>

</div>

<div class="span7 rep-container" style="position:relative; margin-bottom:100px; overflow:hidden;">

<div class="span7 posting-left-span <%= conversation_already_exists ? "posting-left-span-inactive" : "posting-left-span-active" %> equal-height-column">
  <div class="posting-overlay equal-height-column">
    <div class="posting-page-price">
      <div>
        <span id="posting-page-price"<%= @posting.price.to_s.length >4 ? " class='small-price'".html_safe : ""%>><%= number_to_currency(@posting.price, :precision => 0) %></span>
      </div>
    </div>
    <div class="posting-image-bg">
      <div class="posting-image">
        <%= image_tag(firstPicture.photo.url(:original_cropped), :id => "mainPostingPicture") %>
      </div>
      <% if @sortedPicturesNoIndices.length > 1 %>
      <%= image_tag "landing/left-arrow.png", :id=>"left-arrow" %>
      <%= image_tag "landing/left-arrow.png", :id=>"right-arrow"%>
          <% end %>
    </div>


    <% if @sortedPicturesNoIndices.length > 1 %>
        <div id="posting-carousel">
          <img src="<%= @sortedPicturesNoIndices.first.photo.url(:thumb) %>" data-href="<%= @sortedPicturesNoIndices.first.photo.url(:original_cropped) %>" class="thumbEvent highlightCarouselThumb"/>

          <% @sortedPicturesNoIndices.last(@sortedPicturesNoIndices.length-1).each do |picture| %>
              <img src="<%= picture.photo.url(:thumb) %>" data-href="<%= picture.photo.url(:original_cropped) %>" class="thumbEvent"/>
          <% end %>
        </div>
    <% end %>


    <div class="posting-description">
        <span class="posting-bookmark-container" id="bookmark-button" data-posting-id="<%= @posting.id %>"><%= image_tag "#{is_bookmarked ? "detailed_listing/watchlist-remove.png" : "detailed_listing/watchlist-add.png" }"%>
          <%= is_bookmarked ? "Remove from Watchlist" : "Add to Watchlist" %>
        </span>

      <div id="fb-root"></div>
      <span class="fb-like" data-href="http://<%= "#{request.host}#{request.fullpath}"%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></span>

      <br/><br>
      <%= simple_format(auto_link(h(@posting.description))) %>
      <hr>
    </div>

    <div class="row">
      <div class="span4">
        <div class="posting-info">
          <table>
            <tr>
              <td width="100">
                <h5>Price</h5>
              </td>
              <td>
                <%= number_to_currency(@posting.price, :precision => 0) %>
                <% if @posting.category_name == "Events" %> / ticket
                <% end %>
              </td>
            </tr>

            <tr>
              <td>
                <h5>Category</h5>
              </td>
              <td>
                <%= @posting.category_name %>
              </td>
            </tr>

            <tr>
              <td>
                <h5>Condition</h5>
              </td>
              <td>
                <%= @posting.condition %>
              </td>
            </tr>

            <% @posting.custom_fields.each do |custom_field| %>
                <tr>
                  <td><h5><%= custom_field.label %></h5></td>
                  <td><%= custom_field.value %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="span3">
        <div class="posting-share">
          <h4>Share</h4>
          <%= link_to image_tag("social_icons/facebook.png"), "http://www.facebook.com/sharer.php?u=http://#{request.host}#{request.fullpath}?cid=fb", :target => "_blank", :class => "popup-link" %>
          <%= link_to image_tag("social_icons/twitter.png"), "https://twitter.com/share?url=http://#{request.host}#{request.fullpath}&text=#{url_encode("Check out this listing on @reppio")}", :target => "_blank", :class => "popup-link" %>
          <%= link_to image_tag("social_icons/pinterest.png"), "http://pinterest.com/pin/create/button/?url=#{url_encode("http://#{request.host}#{request.fullpath}")}&media=#{url_encode(firstPicture.photo.url(:medium))}&description=#{ url_encode(@posting.title)}", :target => "_blank", :class => "popup-link" %>
          <%= link_to image_tag("social_icons/email.png"), load_email_share_modal_url(:id => @posting.id), :target => "_blank", :remote => true %>
          <br><br>


          <% if signed_in? %>
              <%= render(:partial => "flags/dropdown", :locals => {:content_creator_user_id => @posting.user_id}) %>
          <% end %>

        </div>
      </div>


      <div class="posting-other-listings">
        <%= render(:partial => "postings/postings_list", :locals => {:polaroid => "true", :number_of_postings_to_show => 10, :postings => @postings}) %>
      </div>
    </div>


  </div>
</div>

<div class="span5 equal-height-column">

  <% if same_user? && !@posting.deleted %>
      <div class="posting-user-actions">
        <div class="posting-user-actions-overlay">
          <%= link_to edit_user_posting_url(:id => @posting.id) do %>
          <div style="margin-top:15px;">
              <span class="rep-btn rep-btn-orange posting-action-active"><i class="icon-pencil"></i>&nbsp;Edit Listing</span>
          </div>
          <% end %>
        </div>
      </div>

  <% elsif same_user? && @posting.deleted %>

      <div class="posting-user-actions">
        <div class="posting-user-actions-overlay">

          <%= link_to relist_posting_url(:id => @posting.id, :user_name => current_user.user_name) do %>
              <span class="rep-btn rep-btn-orange posting-action-active"><i class="icon-check"></i>&nbsp;Relist</span>
          <% end %>
          <%= link_to relist_posting_copy_url(:id => @posting.id, :user_name => current_user.user_name) do %>
              <span class="rep-btn rep-btn-orange posting-action-active"><i class="icon-check"></i>&nbsp;List Similar</span>
          <% end %>

        </div>
      </div>

  <% elsif !same_user? && @posting.deleted %>

  <% else %>

  <% end %>


  <div class="posting-user-info">
    <div class="posting-user-info-overlay">
      <div id="posting-map">
        <div id="posting-map-canvas"></div>
        <div class="btn-group btn-group-vertical" style="position:absolute; left:10px; top:10px;">
          <button type="button" id="zoom-in-small" class="btn btn-info">+</button>
          <button type="button" id="zoom-out-small" class="btn btn-info">-</button>
        </div>
        <%= image_tag('detailed_listing/current-location-listing-inactive.png', :id => "show-current-location-small", :class => 'current-location-image') %>
      </div>


      <% if !current_user.nil? && !current_user.user_name.nil? %>
          <div style="position:relative;">

            <% degToR = Math::PI / 180 %>
            <h3 style="margin-bottom:-5px; font-weight:normal;"><%= ::DistanceCalculations.distance_between(current_user.latitude*degToR, current_user.longitude*degToR, @posting.latitude, @posting.longitude).round(1) %>
              miles</h3>
            from you

            <div id="expand-map-button">
              <%= image_tag "detailed_listing/expand-map.png" %>
            </div>
          </div>

      <% end %>
    </div>

    <hr style="margin-left:1px;">

    <div>
      <div class="posting-user-area">
        <div class="row">
          <div class="posting-user-avatar span3"><%= link_to @user do %><%= profile_pic_if_exists("medium") %>
            <% end %></div>
          <div class="profileAvatarInfo span2" style="text-align:left; display:block; padding-left:10px;">
            <i class="icon-time"></i>&nbsp;<%= time_ago_in_words(@posting.updated_at).sub("about", "").sub("hour", "hr").sub("minute", "min").sub("ago", "").sub("less than", "") %>
            ago by
            <h3 style="margin-bottom:-5px; margin-top:0px;font-weight:normal;"><%= link_to @user.first_name, user_url(:user_name => @user.user_name, :preview => true) %></h3>
            <div style="margin-top:5px;">
              <%= (@user.city && @user.state) ? @user.city+', '+@user.state : "" %>
            </div>
          </div>

          <% if !same_user? && !@posting.deleted %>

          <div class="posting-user-actions">
            <div class="posting-user-actions-overlay">
              <% if conversation_already_exists %>
                  <%= link_to buying_posting_conversation_url(:id=>@posting.id) do %>
          <span class="rep-btn rep-btn-orange  <%= conversation_already_exists ? "posting-action-inactive" : "posting-action-active" %>">
            <%= image_tag "detailed_listing/make-offer-inactive.png", :class => "posting-action-icon" %>
            &nbsp;&nbsp;&nbsp;Contact Me</span>
                  <% end %>
              <% else %>
                  <%= link_to load_message_modal_url(:id=>@posting.id), :remote=>true do %>
          <span class="rep-btn rep-btn-orange  <%= conversation_already_exists ? "posting-action-inactive" : "posting-action-active" %>">
            <%= image_tag "detailed_listing/make-offer-active.png", :class => "posting-action-icon" %>
            &nbsp;&nbsp;&nbsp;Contact Me</span>
                  <% end %>
              <% end %>
            </div>
          </div>

          <% elsif !same_user? && @posting.deleted %>

              <div class="posting-user-actions">
                <div class="posting-user-actions-overlay">


                </div>
              </div>

          <% end %>

        </div>
      </div>

      <div class="posting-user-area">
        <div class="row">
          <div class="span1"><%= rep_meter_large(@userdata.repscore, "rep-score-inline") %></div>
          <div class="colorful-reputation-info">
            <div style="color:#005c82;"><%= @userdata.facebook_friends_on_reppio %> rep connections<br></div>
            <div style="color:#4f8200;"><%= @userdata.positive_reviews %> positive reviews<br></div>
            <div style="color:#FF3300;"><%= @userdata.negative_reviews %> negative reviews</div>
            <div style="text-decoration: underline;"><%= link_to "Show Reviews", user_url(:user_name => @user.user_name, :preview => true) %></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
<%= google_maps_script %>


<script type="text/javascript">
    var current_location_marker_shown = false;
    var geocoder = new google.maps.Geocoder();
    var radius = 800;
    var styles = [
        {
            "featureType":"water",
            "stylers":[
                { "lightness":4 },
                { "gamma":0.93 },
                { "saturation":-41 },
                { "hue":"#002bff" }
            ]
        },
        {
            "featureType":"road",
            "stylers":[
                { "gamma":0.98 },
                { "hue":"#00a1ff" },
                { "saturation":-51 },
                { "lightness":-9 }
            ]
        },
        {
            "elementType":"labels.text.stroke",
            "stylers":[
                { "color":"#ffffff" },
                { "weight":5 }
            ] }
    ];
    var latlng = new google.maps.LatLng(<%= @latitudeLongitudeOffset %>);
    var myOptions = {
        center:latlng,
        scrollwheel:false,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        streetViewControl:false,
        mapTypeControl:false,
        zoomControl:false,
        zoom:12,
        styles:styles
    };
    var map = new google.maps.Map(document.getElementById("posting-map-canvas"),
            myOptions);
    var big_map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

    google.maps.event.addDomListener(document.getElementById("zoom-in"), 'click', function () {
        var zoom = big_map.getZoom();
        big_map.setZoom(zoom + 1);
    });

    google.maps.event.addDomListener(document.getElementById("zoom-out"), 'click', function () {
        var zoom = big_map.getZoom();
        big_map.setZoom(zoom - 1);
    });

    google.maps.event.addDomListener(document.getElementById("zoom-in-small"), 'click', function () {
        var zoom = map.getZoom();
        map.setZoom(zoom + 1);
    });

    google.maps.event.addDomListener(document.getElementById("zoom-out-small"), 'click', function () {
        var zoom = map.getZoom();
        map.setZoom(zoom - 1);
    });


    var marker = new google.maps.Marker({
        clickable:false,
        icon:"<%= asset_path("browse/marker.png")%>",
        shadow:null,
        zIndex:999,
        map:map,
        position:latlng
    });


    var big_marker = new google.maps.Marker({
        clickable:false,
        icon:"<%= asset_path("browse/marker.png")%>",
        shadow:null,
        zIndex:999,
        map:big_map,
        position:latlng
    });

    var options = {
        strokeWeight:0,
        fillOpacity:0.5,
        fillColor:'#FF7A4A',
        center:latlng,
        radius:radius
    };
    var circle = new google.maps.Circle(options);

    var bounds = circle.getBounds();
    map.fitBounds(bounds);
    big_map.fitBounds(bounds);

    function showCurrentLocation() {
        if (!current_location_marker_shown) {
            var current_location_marker = new google.maps.Marker({
                clickable:false,
                icon:"<%= asset_path("browse/current_location.png")%>",
                shadow:null,
                zIndex:999,
                map:map
            });

            var current_location_marker_big = new google.maps.Marker({
                clickable:false,
                icon:"<%= asset_path("browse/current_location.png")%>",
                shadow:null,
                zIndex:999,
                map:big_map
            });

            if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (pos) {
                var current_location = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
                current_location_marker.setPosition(current_location);
                current_location_marker_big.setPosition(current_location);
                bounds.extend(current_location);
                map.setCenter(current_location);
                big_map.setCenter(current_location);
                map.fitBounds(bounds);
                big_map.fitBounds(bounds);
            }, function (error) {
                jQuery.ajax({
                    url:'http://www.google.com/jsapi?autoload={%22modules%22%3A[{%22name%22%3A%22maps%22%2C%22version%22%3A%222%22}]}',
                    dataType:'script',
                    success:function () {
                        if (google.loader.ClientLocation) {
                            var latlng = new google.maps.LatLng(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                            current_location_marker.setPosition(latlng);
                            current_location_marker_big.setPosition(latlng);
                            bounds.extend(latlng);
                            map.setCenter(latlng);
                            big_map.setCenter(latlng);
                            map.fitBounds(bounds);
                            big_map.fitBounds(bounds);
                        }
                        else {
                            alert('Sorry, we could not determine your location.');
                        }
                    }
                });

            });

            current_location_marker_shown = true;
            $('#show-current-location').attr('src', "<%= asset_path "browse/current-location-on.png" %>");
            $('#show-current-location-small').attr('src', "<%= asset_path "detailed_listing/current-location-listing-active.png" %>");
        }
    }


    google.maps.event.addDomListener(document.getElementById("show-current-location"), 'click', function () {
        showCurrentLocation();
    });

    google.maps.event.addDomListener(document.getElementById("show-current-location-small"), 'click', function () {
        showCurrentLocation();
    });

    showCurrentLocation();

    $('.thumbEvent').click(function () {
        $('.thumbEvent').removeClass('highlightCarouselThumb');
        $(this).addClass('highlightCarouselThumb');
        $('#mainPostingPicture').attr('src', $('.highlightCarouselThumb').attr("data-href"));
    });


    $("#bookmark-button").click(function () {
        <% if signed_in? %>
        $.ajax({
            url:'<%= bookmarks_url(:posting_id=>@posting.id, :source=>"detailed_listing_page") %>',
            type:'POST'
        });

        return false;
        <% else %>
        alert("You must be signed in to use the bookmarking feature!");
        <% end %>

    });

    function popupCenter(url, width, height, name) {
        var left = (screen.width / 2) - (width / 2);
        var top = (screen.height / 2) - (height / 2);
        return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",toolbar=no,left=" + left + ",top=" + top);
    }

    $(".popup-link").click(function (e) {
        popupCenter($(this).attr("href"), 600, 400, "authPopup");
        e.stopPropagation();
        return false;
    });

    $('#toggle-options, #expand-map-button').click(function () {
        if ($('#toggle-options').hasClass('show-options')) {
            $('#toggle-options').addClass('hide-options').removeClass('show-options');
            $('#toggle-options').html('&nbsp;&nbsp;&nbsp;<%= image_tag "detailed_listing/show-collapse-map.png"%>&nbsp;&nbsp;&nbsp;Collapse Map');
            $('#big-map').show('fast', function () {
                google.maps.event.trigger(big_map, 'resize')      // to prevent gray areas
                big_map.fitBounds(bounds);
                big_map.setCenter(big_marker.getPosition());
            });
        }
        else {
            $('#toggle-options').addClass('show-options').removeClass('hide-options');
            $('#toggle-options').html('&nbsp;&nbsp;&nbsp;<%= image_tag "detailed_listing/show-collapse-map.png"%>&nbsp;&nbsp;&nbsp;Expand Map');
            $('#big-map').slideUp();
        }
    });

    <% if same_user? && params[:cg] %>
    $.ajax({url: "<%=load_promote_modal_url(:user_name => current_user.user_name, :id => @posting.id) %>" });
    <% end %>

    <% if @sortedPicturesNoIndices.length > 1 %>
    var current_image_index=0;
    var number_of_images= <%= @sortedPicturesNoIndices.length %>

    $('#left-arrow').click(function(){
        current_image_index=(current_image_index-1)%number_of_images;
        $('.thumbEvent').removeClass('highlightCarouselThumb');
        $('.thumbEvent').eq(current_image_index).addClass('highlightCarouselThumb');
        $('#mainPostingPicture').attr('src', $('.highlightCarouselThumb').attr("data-href"));
    });
    $('#right-arrow').click(function(){
        current_image_index=(current_image_index+1)%number_of_images;
        $('.thumbEvent').removeClass('highlightCarouselThumb');
        $('.thumbEvent').eq(current_image_index).addClass('highlightCarouselThumb');
        $('#mainPostingPicture').attr('src', $('.highlightCarouselThumb').attr("data-href"));
    });
    <% end %>

            // facebook like
            (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

