<h2>
  Payment Received
</h2>

<hr>

<p>
  Hi  <%= @seller_first_name %>,
  </p>

<p>
 You received <%= number_to_currency(@amount) %> from <%= link_to @buyer_first_name, user_url(:user_name=>@buyer_user_name) %> for <%= link_to @posting_title, @posting_link %>.
 </p>

