<h2>
  Payment Requested for <%= link_to @posting_title, @posting_link %>
</h2>

<hr>

<p>
  Hi  <%= @buyer_first_name %>,
  </p>

<p>
  Payment has been requested for <%= link_to @posting_title, @posting_link %>. You can pay without carrying a stack of Benjamins! Simply click the button below or download the mobile app.
  </p>

<p>
  We STRONGLY recommend that you only pay while receiving the item. <br><br>
</p>
<div style="background-color:#e4e4e4;border-top:1px solid #989898;border-bottom:1px solid #989898;padding:10px;width:650px;text-align:center">
  <div style="background-color:#3b5997;border:1px solid #989898;padding:5px;width:150px;color:#ffffff;text-align:center; display:inline;">
    <%= link_to "Buy through Paypal", @buy_link+"&c=n", :style=>"color:#ffffff;text-decoration:none;", :target=>"_blank" %>
  </div>
</div>


