Payment Requested for <%= @posting_title %>

----------------------------

Hi  <%= @buyer_first_name %>,

Payment has been requested for <%= @posting_title %>.

We STRONGLY recommend that you only pay while receiving the item.


If you pay buy credit card, there will be a processing fee.
Buy with Paypal: <%=  @buy_link+"&c=n" %>


OR you can pay on the iPhone app.
