#bookmark-loader {
    border: 2px solid gray;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #f9f9f9;
    z-index: 10000;
    padding:20px;
    text-align:center;
}
#bookmark-loader img{
    margin:20px;
}

#reppio_window{
    position:fixed;
    width:700px;
    height:630px;
    top:20px;
    left:50%;
    margin-left:-350px;
    display: block;
    border: solid 2px #33bbd2;
    font-family:'omnes-pro', 'helvetica neue', 'helvetica', sans-serif;
    font-weight:300!important;
    color: #33bbd2;
    z-index: 999;
    background-color:white;
    font-size:15px;
    text-align:left;
    overflow:auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#bookmark-category-selector{
    padding:20px;
}

.bookmark-category-column{
    display:inline-block; width:200px;vertical-align: top;
}

.bookmark-flat-btn-blue{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color:white;
    padding: 10px 20px 10px 20px;
    background-color: #33bbd2;
    border: none;
    font-size: 20px;
    cursor:pointer;
}

.bookmark-flat-btn-blue:hover{ background-color: #35cbe3;}

#reppio_window #searchTextField {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    height: 40px;
}

#reppio_window .control-group{
    margin-top:20px;
}

#reppio_window #reppio-modal-header{
    width:100%; height:70px;
    background:url(<%= image_path 'reppio_logo_white.png' %>) center center no-repeat #33bbd2;
    }

#reppio_window .image-container{
    height: 300px;
    width:300px;
    display:inline-block;
    padding:1px;
    border:1px solid #021a40;
    vertical-align: top;
    margin:5px;
}

#reppio_window .listing-photo{
    max-height: 300px;
    max-width:300px;
    height:auto;
    width:auto;

}

#reppio_window .control-label{
    font-weight: bold;
}