<% url = "http://#{request.host}#{request.fullpath}" %>
<div class="btn-group" id="flag-bar">
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-flag"></i> Flag</button>

  <ul class="dropdown-menu" style="text-align:left; font-size:11px;">
    <li>&nbsp;&nbsp;Flag person privately for:</li>
    <li>
      <%= link_to "Inappropriate/offensive content", flag_url(:url => url, :content_creator_user_id => content_creator_user_id, :reason_for_flagging=>"Inappropriate/offensive content"), :method => :post, :remote => true, :class => "flag" %>
    </li>
    <li>
      <%= link_to "Misleading/suspicious information", flag_url(:url => url, :content_creator_user_id => content_creator_user_id, :reason_for_flagging=>"Misleading/suspicious information"), :method => :post, :remote => true, :class => "flag" %>
    </li>
    <li>
      <%= link_to "Spam", flag_url(:url => url, :content_creator_user_id => content_creator_user_id, :reason_for_flagging=>"Spam"), :method => :post, :remote => true, :class => "flag" %>
    </li>
    <li>
      <%= link_to "Best of Reppio", flag_url(:url => url, :content_creator_user_id => content_creator_user_id, :reason_for_flagging=>"Best of Reppio"), :method => :post, :remote => true, :class => "flag" %>
    </li>
  </ul>
</div>