Hi!<br /><br />

A new posting has appeared which matches one of your alerts: <br /><br />

<%= link_to @postingURL, @postingURL %><br />
[Postings with "<%= @alert.search %>" within <%= @alert.radius.round(0).to_s %> miles of <%= @address %><%= @priceTextIfNotMax %>]
<br />
If you'd like to stop receiving emails, you can deactivate this alert by following the below link.
<%= link_to "View/Edit All Alerts", alerts_url %><br />

Love,<br />
The Rep Team
