Hi!

A new posting has appeared which matches one of your alerts:

<%= @postingURL %>
[Postings with "<%= @alert.search %>" within <%= @alert.radius.round(0).to_s %> miles of <%= @address %><%= @priceTextIfNotMax %>]
<br />
If you'd like to stop receiving emails, you can deactivate this alert by visiting the page linked below.
<%= alerts_url %>

Love,
The Rep Team