<div id="createAlertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createAlertModalLabel" aria-hidden="true">
  <div class="modal-header">
    <%= is_new=="true" ? "Create an Alert" : "Edit Alert" %>
    <button type="button" class="x-button" data-dismiss="modal" aria-hidden="true"><span class="x">&times;</span></button>
  </div>
  <div class="modal-body" style="text-align:left;">
    <%=  render(:partial=>"alerts/form", :locals=>{:is_new=>is_new, :alert=>(is_new=="true" ? Alert.new : alert )}) %>
  </div>
</div>
