<%= form_for alert, :html => {:class => "form-horizontal"},  :remote=>true do |f| %>


    <div class="control-group">
      <%= f.label "Alert me when there is a", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :search, :value=>(is_new=="true"? params[:search_item] : alert.search) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "within", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :radius, :value=>(is_new=="true"? params[:wd] : alert.radius), :style=>"width:40px;" %> miles
      </div>
    </div>

    <div class="control-group">
      <%= f.label "of", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :address, :value=>(is_new=="true"? params[:location] : alert.address)%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "with a price up to", :class => "control-label" %>
      <div class="controls">
        <span class="input-prepend">
                    <span class="add-on">$</span>
          <%= f.text_field :max_price, :value=>(is_new=="true"? "" : alert.max_price) %>
                    </span>
      </div>
    </div>

    <br><br><br>
    <div style="text-align:center;">
    <%= f.submit (is_new=="true" ? "Create My Alert" :  "Edit My Alert"), :class=>"rep-btn rep-btn-orange" %>
    </div>
<% end %>