$('#createAlertModal .modal-body').html('<h2>Alert Created!</h2><p>Your alerts can be found in the "Watchlist" page (see link in the top-right corner).</p>');
setTimeout(function(){ $('#createAlertModal').modal('hide');}, 3000);

$('#create-alert-button').replaceWith('Alert created.');