$('#createAlertModal').modal('hide').on('hidden', function () {
    $(this).remove();
    $.pjax({
        container:'#manage-menu-and-content',
        fragment:'#manage-menu-and-content',
        url:"<%=search_alert_url(:alert_id => @alert.id)%>",
        timeout:5000
    });
});

