Hi  <%= @group_owner_first_name %>,
<br /><br />
<%= link_to @requester_first_name, @requester_url %> has requested to join your Reppio group
<%= link_to @group_name, @group_url %>.
<br /><br />
Please click one of the links below to make your choice:
<br />
<%= link_to "Accept Request", @accept_link_url %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Ignore Request", @ignore_link_url %>
<br />
<br />
-The Rep Team
