Hi  <%= @group_owner_first_name %>,

<%= @requester_first_name %> has requested to join your Reppio group <%= @group_name %>.

Please click one of the links below to make your choice:
Accept Request: <%= @accept_link_url %>
Ignore Request: <%= @ignore_link_url %>


-The Rep Team
