Invitation to <%= @group_long_name %>

Message from <%= @referrer_first_name %><%= " "+@referrer_last_name %>:
<%= @personal_message %>

Join here: <%= @group_link %>

Reppio is a local marketplace where one can transact safely and conveniently with reputable people. You received this message because you are someone <%= @referrer_first_name %> knows and trusts.
