<h2>
  Invitation to <%= @group_long_name %>
</h2>
<hr>
<p>
  Message from <%= @referrer_first_name%><%= " "+@referrer_last_name%>:<br>
  <%= @personal_message %>
</p>
<p><a href="<%= @group_link %>">JOIN</a></p>
<br><br>
<em>Reppio is a local marketplace where one can transact safely and conveniently with reputable people. You received this message because you are someone <%= @referrer_first_name %> knows and trusts.</em>
<br>
