Listing: <%= @postingTitle %>   
<%= @other_party_is_seller_or_buyer %>: <%= @other_party_first_name %> (<%= @other_party_repscore %>)

Hope you had a pleasant transaction. Please contribute back to the Reppio community by leaving a review for <%= @other_party_first_name %>.  It takes as little as 30 seconds.

Provide Review: http://www.reppio.com/manage/reviews
