<strong>Listing:</strong> <%= @postingTitle %>   <br>
<strong><%= @other_party_is_buyer_or_seller %>:</strong> <%= @other_party_first_name %> (<%= @other_party_repscore %>)  <br>
<br>
<p>Hope you had a pleasant transaction. Please contribute back to the Reppio
  community by leaving a review for <%= @other_party_first_name %>.  It takes as little as 30 seconds.</p>
<br><br>
<a href="http://www.reppio.com/manage/reviews">Provide Review</a>
