<div id="manage-menu-left">
  <div id="watchlist-bookmarks" class="manage-menu">
    <div class="manage-menu-header" <%= content_for(:activeManageMenu) == "bookmarks" ? "style=font-weight:bold;" : "" %>>
      <%= link_to watchlist_url do %>
          <span style="color:#333;">Bookmarks</span>
      <% end %>
    </div>
  </div>
  <div id="watchlist-alerts" class="manage-menu">
    <div class="manage-menu-header<%= !alertKeywords.empty? ? " manage-menu-header-active" : '' %>" id="manage-sell-link">
      Alerts
    </div>

    <% if alertKeywords.blank? %>
        <div class="manage-menu-subitem" href="#createAlertModal" role="button" data-toggle="modal">
          &nbsp;&nbsp;<i class="icon-plus"></i> Create Alert
        </div>
        <%= render(:partial => "alerts/create_alert_modal", :locals => {:is_new => "true"}) %>
    <% else %>
        <% alertKeywords.each do |alert| %>
            <%= link_to search_alert_url(:alert_id => alert.id) do %>
                <div class="manage-menu-subitem <%= content_for(:activeManageMenu) == alert.search ? "manage-menu-subitem-active" : "" %>">
                  &nbsp;&nbsp;"<%= alert.search %>"
                  <%= badge(alert.num_new_listings) %>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>

