<% title "Reppio Watchlist: Alerts" %>
<% content_for :activeManageMenu, @alert.search %>

<% content_for :center_content do %>

    <div style="padding-right:45px;">

      <h3 style="margin-top:0px;">Your Alert</h3>


      Listings with <b>"<%= @alert.search %>"</b> within <b><%= @alert.radius %> miles</b> of <b><%= @alert.address %></b> less than <b><%= number_to_currency(@alert.max_price) %></b>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Edit', edit_alert_url(:id => @alert.id), :remote=>true %>  &nbsp;&nbsp;&nbsp;
      <%= link_to 'Remove', alert_path(:id => @alert.id), :method => :delete, :remote=>true %>

      <hr>
    </div>

    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @alertedPostings, :type=>"alerts"}) %>
<% end %>

<%= render :template => "watchlist/show" %>
