<% title "Reppio Watchlist: Bookmarks" %>
<% content_for :activeManageMenu, "bookmarks" %>

<% content_for :center_content do %>

    <div style="padding-right:45px;">
    <h4>Bookmarked Listings</h4>

    Bookmarks are an easy way to remember items you are interested in. You can bookmark items from the Browse section, or from each listing's detail page.

    <hr>
    </div>

    <%= render(:partial => "manage/postings_list",
               :locals => {:postings => @bookmarkedPostings, :type=>"bookmark"}) %>
<% end %>

<%= render :template => "watchlist/show" %>

