<% content_for :watchlist_active, "true" %>
<% content_for :blue_header_image_height, "400" %>

<div id='listings-loader'>
  <%= image_tag 'squares-circle-loader.gif' %>
</div>

<div class="posting-title">Your Watchlist</div>

<div class="rep-container">
  <div class="row">
    <div class="span12 rep-container" id="manage-menu-and-content" style="margin-top:-7px; overflow:hidden;">
      <div class="span2 equal-height-column dark-grain-background">
        <%= render(:partial => "watchlist_menu", :locals => {:alertKeywords => current_user_alerts}) %>
      </div>
      <div class="span10">
        <div class="rep-container equal-height-column" id="manage-content" style="padding:20px 20px 9999px 20px;">
          <%= yield :center_content %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function scripts_on_new_manage_page() {
        $('#manage-menu-left a').click(function () {
            $.pjax({
                container:'#manage-menu-and-content',
                fragment:'#manage-menu-and-content',
                url:$(this).attr('href'),
                timeout:5000
            });
            return false;
        });
    }

    scripts_on_new_manage_page();

    $.pjax.defaults.scrollTo = false;
    $(document).on('pjax:beforeSend',function () {
        $('#listings-loader').show();
    }).on('pjax:success', function () {
                $('#listings-loader').hide();
                scripts_on_new_manage_page();
            });

</script>