<div class="aboutMenu" style="padding-right:70px;"><h4 style="padding-bottom: 10px;">LEARN MORE</h4>
<ul class="nav nav-pills nav-stacked">
  <li <% if active == "about_us" %>class="active"<% end %>><%= link_to "About Us", about_url %></li>
  <li <% if active == "faq" %>class="active"<% end %>><%= link_to "FAQ", faq_url %></li>
</ul>
<h4 style="padding-bottom: 10px;">THE FINE PRINT</h4>
<ul  class="nav nav-pills nav-stacked">
  <li <% if active == "terms" %>class="active"<% end %>><%= link_to "Terms of Service", terms_url %></li>
  <li <% if active == "privacy" %>class="active"<% end %>><%= link_to "Privacy Policy", privacy_url %></li>
</ul>
<h4 style="padding-bottom: 10px;">PEOPLE</h4>
<ul  class="nav nav-pills nav-stacked">
  <!--<li <% if active == "team" %>class="active"<% end %>><% link_to "The Team", team_url %></li>-->
  <li <% if active == "jobs" %>class="active"<% end %>><%= link_to "Jobs", jobs_url %></li>
  <!--<li <% if active == "press" %>class="active"<% end %>><%= link_to "Contact Us", press_url %></li>-->
</ul></div>