<!--footer-->
<div style="margin-top:90px; text-align:center;">
    <%= link_to "About Us", about_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Contact Us", contact_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/Reppio" target="_blank"><%= image_tag "social_icons/facebook_s.png" %></a>
    &nbsp;&nbsp;
    <a href="https://twitter.com/reppio" target="_blank"><%= image_tag "social_icons/twitter_s.png" %></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Privacy Policy", privacy_path %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Terms of Service", terms_path %>
  <br>                  <br>
    &copy;2012-2013 Reppio. All Rights Reserved.

</div>
<br><br><br><br>