<script type="text/javascript">
$(document).ready(function () {
    <% flash.each do |name, msg| %>


    $('body').append("<div id='jacktung' class='<%= name == :notice ? "success" : "failure"%>' style='display:hidden'><div class='jacktung-close<%= name == :notice ? "" : " red-close-button"%>'></div> <div id='inner-jacktung'></div></div>");
        <% if name == :notice %>
          $('#inner-jacktung').html('<%= image_tag "jacktung/successicon.png"%><div id="jacktung-success">Success!</div><p<%= ' class="jacktung-lots-of-text"'.html_safe if msg.length>40 %>><%= msg.gsub("'","").html_safe %></p>');
        <% else %>
        $('#inner-jacktung').html('<i class="icon-warning-sign" style="font-size:7em;color:red"></i><div id="jacktung-warning">Warning!</div><p<%= ' class="jacktung-lots-of-text"'.html_safe if msg.length>40 %>><%= msg.gsub("'","").html_safe %></p>');
            <% end %>

            $('.jacktung-close').click(function(){
              $("#jacktung").fadeOut().remove();
          });

$('#jacktung').fadeIn();

window.setTimeout(function() { $("#jacktung").fadeOut().remove(); }, 20000);

    <% end %>
    });


    </script>