<% title "About Reppio" %>

<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
<div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals=>{:active => "about_us"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">About Us</h2>

      <br>
      <iframe width="100%" color="white" height="500px" src="http://www.youtube.com/embed/dl9Vw2GOwbo?wmode=transparent" frameborder="0" allowfullscreen></iframe>
      <br><br>

      <p>Reppio is an online community comprised of people who value trust, community, and convenience. We believe that
      buying and selling should occur only when you know exactly who you're dealing with.</p>

      <h3>Safe buying...</h3>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-search" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Find stuff you want</h4>
          Use our powerful search and intuitive filters to find exactly what you're looking for. Easily manage a
          portfolio of items with bookmarks and alerts
        </div>
      </div>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-envelope" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Contact sellers</h4>
          Negotiate with sellers without revealing personal information. Use our Rep Score to gain information about
          sellers instantly.
        </div>
      </div>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-phone-sign" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Go mobile (coming soon)</h4>
          Message sellers on the go. And no more carrying around wads of cash - pay with our mobile app instantly,
          with cash or credit card
        </div>
      </div>

      <h3>...Simple Selling</h3>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-bolt" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>30-second listing creation</h4>
          Use our mobile app to take pictures. We automatically categorize
          your listings and fill out what we can for you. It's all about keeping it simple and under 30 seconds
        </div>
      </div>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-eye-open" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Promote everywhere</h4>
          Promote your listings onto various classifieds. Email them to your friends. Use our platform
          to maximize eyeballs and get your items sold
        </div>
      </div>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-paper-clip" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Stay organized</h4>
          Organize your selling in one place without cluttering your mailbox. Name your price with every buyer and easily keep
          track of every transaction.
        </div>
      </div>

      <div class="row" style="height:110px;">
        <div class="span2" style="padding-top:40px;"><i class="icon-phone-sign" style="font-size:60px;color:#BBB;"></i></div>
        <div class="span6">
          <h4>Go mobile (coming soon)</h4>
          Message buyers on the go. And no need to receive wads of cash or a check that might bounce - receive
          payment instantly through our mobile app. Accept credit cards like a pro
        </div>
      </div>

    </div>
</div>
    </div>
