<div class="rep-container" style="padding:20px;">
<% title "Contact Reppio" %>
<h1>Contact Reppio</h1>
We'd love to hear your thoughts!
  <hr>
<%= form_for("contactForm", :html => {:class => "form-horizontal"}) do |f| %>

<div class="control-group">
  <%= f.label :name, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :value => @name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :email, :value => @email %>
  </div>
</div>


<div class="control-group">
  <%= f.label :message, :class => "control-label" %>
  <div class="controls">
    <%= f.text_area(:message, :cols=> 50, :rows=> 5, :class => "wide-text") %>
  </div>
</div>

<div class="form-actions">
	<%= f.submit "Send", :class =>"rep-btn rep-btn-orange" %>
</div>


	
<% end %>
</div>