<% title "Reppio FAQ" %>


<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals => {:active => "faq"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">FAQ</h2><br>


      <h3>General</h3>
      <p><strong>Why Use Reppio?</strong>
      <ul>
        <li>Our mission is to provide a safe, easy-to-navigate marketplace for people to buy and sell locally. Reppio’s
          principle value is rooted in reputation. Our company is built for people who care about safety, security, and
          convenience. Easy payment options make secure transactions guaranteed.</li>
        </ul>
          <p><strong>Why should I sell something on Reppio?</strong>
        <ul>
        <li>Reppio allows you to manage all of your buying and selling in one place. You can create listings that will
          be visible on Reppio and share them via email, Facebook, Twitter and other classifieds.
        </li>
        <li>You only deal with people with which you are comfortable. Sellers can view the buyer’s “Rep Score”
          (reputation score) and user reviews before responding to an inquiry.</li></ul>
          <p><strong>Why should I buy something on Reppio?</strong>
        <ul>
        <li>Reppio empowers buyers with the tools and information necessary to make buying safe, easy, and fun.
        </li>
        <li>Buyers will know the location of products even before sending a message.
        </li>
        <li>Our high quality listings provide the buyer with all of the relevant information about a product without the
          back and forth messaging.
        </li>
        <li>The seller’s Rep Score and user reviews provide a clear view of the people with which you choose to
          interact.
        </li>
      </ul></p>
      <p><strong>Is Reppio free to use?</strong>

      <ul>
        <li>Yes, it is completely free to browse, buy, and sell. There will never be any hidden fees. Reppio’s goal is
          to give users the best experience possible.</li></ul></p>
          <p><strong>What types of products are sold on Reppio?</strong>
        <ul>
        <li>Whether you are looking for a <%= link_to "couch", user_posting_url(:user_name=>"samir", :id=>6), :class=>"blue-link"  %>, a new
          jacket, a car, or something as specific as a <%= link_to "signed Michael Jordan basketball", user_posting_url(:user_name=>"shirali", :id=>157), :class=>"blue-link"  %>, you can safely buy and sell a large variety of products on Reppio.
        </li>
        <li>You cannot list anything that is not your own property, offensive, discriminatory, or illegal. For details
          on prohibited items please see our <%= link_to "Terms of Service", terms_url, :class=>"blue-link"  %>. </li></ul>
          <p><strong>If I have a question about anything who do I contact?</strong>
        <ul>
        <li>Feel free to contact us at team@reppio.com or (312) 970-0057 with any questions or give us a shout out on
          <a href="http://www.facebook.com/reppio" target="_blank" class="blue-link">Facebook</a> or  <a href="http://www.twitter.com/reppio" target="_blank" class="blue-link">Twitter</a>!
        </li>
      </ul></p>
      <h3>Using Reppio</h3>
      <p><strong>How do I buy something on Reppio?</strong>
      <ul>
        <li>Once you are interested in a listing, you can contact the seller through a secure messaging system that
          allows users to communicate without revealing any personal information.
        </li>
        <li>With our messaging system, you make a monetary offer for the item listed or simply just ask a question.
        </li>
        <li>The seller may accept or reject any offer for the item. Once a price has been settled upon, you can
          coordinate a time and place to meet.
        </li>
        <li>Feel free to contact us at team@reppio.com or (312) 970-0057 if you need any assistance figuring out how to
          buy.
        </li>
      </ul></p>
      <p><strong>How do I sell something on Reppio?</strong>
      <ul>
        <li>Selling an item on Reppio is super easy and you can create eye-catching listings in 80% less time than
          Craigslist.
        </li>
        <li>Just click the “SELL” button and tell Reppio what you are selling (i.e. iPad, couch, BMW 328) and let the
          intuitive system categorize your item. Then fill out some basic information and quickly upload multiple high
          quality pictures all at once to complete your listing!
        </li>
        <li>Feel free to contact us at team@reppio.com or (312) 970-0057 if you need any help creating a listing.
        </li>
      </ul></p>
      <p><strong>What should I do if my listing is not selling? </strong>
      <ul>
        <li>Do not fear if your item is not selling. Reppio offers a great “promote your listing” feature that allows
          users to promote and post listings to Craigslist, Facebook, Twitter, and any other desirable site.
        </li>
        <li>With our promotion feature, Reppio users can ensure maximum exposure for their listings. If your item is
          still not selling, try reducing the price and/or tweaking the posting title, description and pictures.
        </li>
      </ul></p>
      <p><strong> What are Reppio alerts, and how do I set them up?</strong>
      <ul>
        <li>Reppio alerts are a unique way for users to keep track of desired items.
        </li>
        <li>For example, let’s say you’re interested in purchasing an iPad within 10 miles that is less than $300, but
          there are none currently available that meet those criteria. You can click on the “Create Alert” button on the
          search page and set up an alert to notify you when such an item is available.
        </li>
      </ul></p>
      <p><strong>Can I use Reppio on my mobile phone?</strong>
      <ul>
        <li>Reppio is not available yet on mobile phones but will be coming to the phone of your choice in April 2013!
          Please be on the lookout for our mobile app! </li></ul>
          <p><strong> Can I make an online payment instead of handling cash? </strong>
        <ul>
        <li>Payments are currently only handled by Reppio users.
        </li>
        <li>Reppio does not control how users pay each other. BUT WE HIGHLY RECOMMEND not paying for a product before
          taking delivery.
        </li>
        <li>We know that the current payment options are archaic; that is why a revolutionary payment processing feature
          is coming soon that will allow Reppio users to complete safe transactions without having to carry cash.
        </li>
      </ul></p>
      <h3>Privacy & Safety</h3>
      <p><strong> What information of mine is made public? </strong>
      <ul>
        <li>No personal information is made public on Reppio (we only display your first name).
        </li>
        <li>You can control the information that is made public by going to “edit profile.”
        </li>
        <li>We respect your privacy and security is a core value of Reppio!</li></ul></p>
          <p><strong> I’ve encountered a suspicious or inappropriate user, what should I do?</strong>
        <ul>
        <li>You should flag any suspicious listing or user. This allows the Reppio security team to quickly act and
          protect Reppio users.
        </li>
        <li>Flagging helps keep the marketplace a safer place for users to interact. </li></ul></p>
          <p><strong> What is a Rep Score? How do I increase my Rep Score? </strong>
        <ul>
        <li>The Rep Score is a quick way to determine reputability of users.
        </li>
        <li>If you’re like our community members, you already have a good reputation; therefore, why is it so hard to
          trust people on Craigslist? Why do other marketplaces like Ebay start your reputation at zero and require you
          to buy and sell hundreds of items before getting any respect?
        </li>
        <li> The Reppio team leverages technology and offers our users the ability to establish a reputation using their
          existing web footprint even before buying or selling any items.
        </li>
        <li>In order to increase your Rep Score, users should fill out more optional profile information, confirm their
          phone number, and link social media accounts (Facebook, Twitter, LinkedIn).
        </li>
        <li>We have found that the more people users know on Reppio, the more reputable they are; therefore, invite your
          friends to join your on Reppio!
        </li>
        <li> Users will also increase their Rep Score by receiving positive reviews after buying or selling items safely
          and successfully on Reppio. </li></ul></p>
          <p><strong>Should I give out my personal information to users in messages?</strong>
        <ul>
        <li>We discourage users from providing their personal contact information but understand that sometimes it is
          necessary.
        </li>
        <li>Please be wary of users asking for personal information.
        </li>
        <li>If you feel uncomfortable in any way, remember you can always flag this user and Reppio will immediately act
          on the situation.
        </li>
        <li>Always trust your instincts and keep all communication on Reppio so we can provide assistance if something
          suspicious occurs.
        </li>
      </ul></p>

    </div>
  </div>
</div>
