<% title "About Reppio" %>

<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals=>{:active => "jobs"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">Jobs</h2><br>

        <h4>Mobile Developer</h4>
      Chicago, IL<br>
      Full Time<br><br>

      We're looking to add an experienced mobile developer to the core engineering team for a mobile app release next Spring.<br><br>

      The data models are largely built out, and we need someone with experience using Objective C and the Android SDKs to (1) expose
      the back end models via an intuitive user interface, and (2) build in some additional functionality using external APIs (Paypal, Youtube, etc).
      Some design / usability testing experience would also be beneficial, particularly in the context of mobile applications.<br><br>

      For an immediate start, we are willing to offer a modest salary and free room and board at our headquarters (if you're from out of town). If
      we decide on a full-time position for you prior to launch, significant amounts of founder's equity (think percentage points) will be
      rewarded. Of course, the above is commensurate based on experience and measured performance on the job.<br><br>

      If interested, please respond (with samples of your work if possible) to team@reppio.com and we will follow up with more details over
      the phone and a coding review.
      <br><br>
      <hr style="border-bottom:0px;">
      <br>

      <h4>Ruby on Rails Developer</h4>
      Chicago, IL<br>
      Full Time<br><br>

      We're looking to add an experienced Ruby on Rails developer to the core engineering team.<br><br>

      Our technological necessities are broad so learning quickly is essential. We utilize R for algorithms, HTML/CSS/JQuery/Javascript for display / interaction, and Rails as
      our glue. At a minimum, expertise in Rails and our display technologies are required. Experience with test-driven development, Linux command line tools and server-side scripting would all
      be advantageous.<br><br>

      For an immediate start, we are willing to offer a modest salary and free room and board at our headquarters (if you're from out of town). If
      we decide on a full-time position for you prior to launch, significant amounts of founder's equity (think percentage points) will be
      rewarded. Of course, the above is commensurate based on experience and measured performance on the job.<br><br>

      If interested, please respond (with samples of your work if possible) to team@reppio.com and we will follow up with more details over
      the phone and a coding review.

      <br><br>
      <hr style="border-bottom:0px;">
      <br>

      <h4>Marketing Intern</h4>
      Chicago, IL<br>
      Full / Part Time<br><br>

        Have marketing experience? Want marketing experience? Reppio is a quickly growing online marketplace, and we're looking for imaginative
      ways to reach people and communicate our vision.<br><br>

      You should be ready and willing to form relationships with companies, institutions, universities, and individuals
      to achieve our marketing goals. Additionally you should be adept at using online social media platforms, organizing events, and have
      a good understanding of what it takes to achieve virality. You will work directly alongside the CEO and take partial
      ownership of an aggressive, multi-pronged online and offline marketing agenda.<br><br>

      If the above sounds appealing to you, and you're sociable and enjoy meeting new people, we're all ears. Drop us a line at team@reppio.com!

      <br><br>
      <hr style="border-bottom:0px;">
      <br>

      <h4>Generalist Intern</h4>
      Chicago, IL<br>
      Full / Part Time<br><br>

        We're always looking to partner up with smart, driven people and organizations that understand our long-term vision. If you like what we're doing and want to help us grow in your local neighborhood, give us a holler.
        Either way, drop us a message at team@reppio.com. We want to hear from you!



    </div>
  </div>
</div>
