<!DOCTYPE html>
<html>  <% redirect_non_us_traffic %>
<head>

  <script type="text/javascript" src="//use.typekit.net/jei1lbe.js"></script>

  <title>Reppio: Reputable Local Marketplace</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>

  <style>
      #get-started-now {
          margin-top: 40px;
          margin-bottom: 30px;
          font-weight: 700;
          text-shadow: 0 -2px rgba(5, 5, 5, .4);
      }

      #right-arrow {
          display: none;
          position: absolute;
          bottom: 180px;
          right: 26px;
          -webkit-transform: scaleX(-1);
          -moz-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          transform: scaleX(-1);
          cursor: pointer;
      }

      #left-arrow {
          display: none;
          position: absolute;
          bottom: 180px;
          right: 540px;
          cursor: pointer;
      }

      #macbook {
          position: absolute;
          bottom: 0;
          right: 0;
      }

      #macbook-carousel {
          position: absolute;
          bottom: -90px;
          right: 0;
          width: 640px;
          height: 393px;
      }

      #macbook-carousel:hover img {
          display: block;
          border-radius:5px;
      }

      #macbook-screen {
          position: absolute;
          bottom: 56px;
          right: 76px;
      }

      .hero-text {
          font-family: 'omnes-pro';
          color: #fff;
          text-shadow: 0 -2px rgba(5, 5, 5, .4);
      }

      #tagline {
          font-size: 54px;
          margin-bottom: 50px;
      }

      #tagline-second {
          font-size: 25px;
          line-height: 35px;
      }
  </style>
  <%= render(:partial => "static/jacktung")%>
</head>

<body>
<div class="blue-header-image" style="height:500px;"></div>

<%= render "sessions/header_not_signed_in" %>

<div class="container">

  <div class="row" style="margin-top:40px; padding-left:20px; padding-right:20px;">
    <div class="span12" style="position:relative;">

      <div class="hero-text" id="tagline">Simple selling. Safe buying.  <div style="float:right; margin-right:20px; margin-top:-30px;">
        <iframe allowTransparency='true' frameborder='0' scrolling='no' src='https://www.facebook.com/plugins/facepile.php?app_id=<%=facebook_app_id%>&width=250&max_rows=2&size=large&colorscheme=light' style='border:none; overflow:hidden; width:250px; height: 90px;'></iframe>
      </div></div>

      <div class="span5" style="margin:0px;">
        <div class="hero-text" id="tagline-second">
          Join a <span class="italic-omnes">free marketplace</span><br> with people
          <span class="italic-omnes">you can trust.</span>
        </div>

        <button class="rep-btn-large rep-btn-orange" id="get-started-now" href="#signUpModal" role="button" data-toggle="modal">Get
          Started Now!
        </button>

        <div class="watch-demo">
          <div style="color:white; text-shadow:2px 2px 2px rgba(0,0,0,0.4); font-size:25px; margin-left:50px; margin-bottom:50px;">
            <a href="http://www.youtube.com/embed/dl9Vw2GOwbo?autoplay=0?hd=1" target="_blank" style="color:white;">
              Learn More&nbsp;
							<span class="watch-demo-play">&nbsp;
								<i class="icon-play"></i>
							</span>
            </a>
          </div>
        </div>
      </div>

      <div class="span7" style="margin:0px;">

      </div>
      <div id="macbook-carousel">
        <%= image_tag "landing/macbook.png", :id => "macbook" %>
        <%= image_tag "landing/macbook2.png", :id => "macbook-screen" %>
        <%= image_tag "landing/left-arrow.png", :id => "left-arrow" %>
        <%= image_tag "landing/left-arrow.png", :id => "right-arrow" %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:130px;padding-left:20px; padding-right:20px;">
    <div class="span12">
      <div class="span4" style="margin:0px; text-align:center;">
        <%= image_tag "landing/reputation-based.png" %>
        <div class="tri-header">Reputation Based</div>
        <div class="tri-body">
          Use our innovative <b>Rep Score</b> to quickly assess someone's credibility
        </div>

      </div>
      <div class="span4" style="margin:0px; text-align:center;">
        <%= image_tag "landing/local-and-nearby.png" %>
        <div class="tri-header">Local & Nearby</div>
        <div class="tri-body">
          Discover awesome items in your neighborhood
        </div>
      </div>
      <div class="span4" style="margin:0px; text-align:center;">
        <%= image_tag "landing/easy-and-convenient.png" %>
        <div class="tri-header">Easy & Convenient</div>
        <div class="tri-body">
          Shop and list with ease using our web or mobile app
        </div>
      </div>
    </div>
  </div>

  <br><br><%= image_tag "landing/divider.png" %>
  <br>

  <div class="row">
    <div class="span6">
      <div style="padding:20px;">
        <%= image_tag "landing/know-who-you-are-dealing-with.png" %>
      </div>
    </div>
    <div class="span6">
      <div class="tri-header" style="padding-left:40px;">Marketplace for Real People</div>
      <div class="tri-body" style="padding-left:40px;">See reviews, shared connections &
        verifications all in one place
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="span6">
      <div class="tri-header" style="padding-left:40px;">Ultimate Selling Tool</div>
      <div class="tri-body" style="padding-left:40px;">Post items in 30 seconds or less and push across multiple
        platforms
      </div>
    </div>
    <div class="span6">
      <div style="padding:20px;">
        <%= image_tag "landing/powerful-search.png" %>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="span6">
      <div style="padding:20px;">
        <%= image_tag "landing/easy-conversations.png" %>
      </div>
    </div>
    <div class="span6">
      <div class="tri-header" style="padding-left:40px;">Transact with Confidence</div>
      <div class="tri-body" style="padding-left:40px;">Send and receive payments securely</div>
    </div>
  </div>

  <br><br><br>

  <div class="row" style="background: url(<%= image_path 'landing/divider.png' %>) center bottom no-repeat;">
    <div class="span12" style="text-align:center;">
      <button class="rep-btn-large rep-btn-orange" href="#signUpModal" role="button" data-toggle="modal">Sign Up Free!
      </button>
    </div>
  </div>

  <%= render "static/footer" %>
</div>

<script>
    //  macbook carousel
    var image_files = ["<%=asset_path "landing/macbook2.png"%>", "<%=asset_path "landing/macbook3.png"%>"]
    var current_image_index = 0;
    $('#right-arrow,#left-arrow').click(function () {
        current_image_index = (current_image_index + 1) % 2;
        $("#macbook-screen")
                .fadeOut(400, function () {
                    $("#macbook-screen").attr('src', image_files[current_image_index]);
                })
                .fadeIn(400);
    });
</script>
</body>
</html>
