<% title "Reppio Privacy Policy" %>


<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals=>{:active => "privacy"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">Privacy Policy</h2><br>

      <p>The Reppio APPLICATION AND website available at www.reppio.com (the "Site") is owned and operated by Simple Connections LLC, d/b/a reppio.com (“Reppio”, "us" "we" or "our"). The Site provides a platform that connects buyers and sellers of goods. This Privacy Policy (the "Privacy Policy") is intended to inform you of our policies and practices regarding the collection, use and disclosure of any information submitted to us or collected through your use of the Site. The information addressed in this Privacy Policy includes "Personal Information," which is information about you that is personally identifiable such as your full name, physical address or e-mail address, as well as "Non-Identifiable Information," which is non-public information that may be associated with or linked to a specific Reppio account but does not by itself permit the identification of individual persons (e.g., demographic, interest, or site usage information). This Privacy Policy does not pertain to any information that is publicly available on or through Reppio.</p>

      <p>Last Updated: February 25, 2013</p>

      <h3>User Consent</h3>

      <p>By accessing or otherwise using Reppio, you agree to the terms and conditions of this Privacy Policy and the associated Terms of Service (set forth on http://www.reppio.com/terms). You expressly consent to the processing of your Personal Information and Anonymous Information according to this Privacy Policy.</p>

      <p>Your Personal Information may be processed by us in the country where it was collected as well as other countries (including the United States) where laws regarding processing of Personal Information may be less stringent than the laws in your country.</p>

      <h3>Regarding Children</h3>

      <p>Children under the age of 13 are not permitted to use Reppio and we do not intentionally collect or maintain Personal Information from those who are under 13 years old. If we obtain actual knowledge that a user is under 13, we will take steps to remove that user's Personal Information from our databases. By using Reppio, you are representing that you are able to form a binding contract in your jurisdiction.</p>

      <h3>Collection and Use of Information</h3>

      <h3>Information Submitted to Reppio</h3>

      <p>We collect both Personal Information and Non-Identifiable Information that you submit to us voluntarily through the Site. We collect information that you submit in the process of creating or editing your account and user profile on Reppio. We also collect information in the form of the content that you submit during your use of the Site, such as photos, reviews, ratings and other information you choose to submit, including information from other social networks that you choose to link to your Reppio <a name="_GoBack"></a>profile. If you utilize our payment processing services, you will need to submit your credit card, bank account or other payment information so that our service providers can process your payment.</p>

      <p>If you send an e-mail to us, or fill out our "Feedback" form through the Site, we will collect your e-mail address and the full content of your e-mail, including attached files, and other information you provide. </p>

      <h3>Information from Other Sources</h3>

      <p>We may receive information, including Personal Information, about you from other sources with which you have registered, companies with whom we have partnered (collectively, "Partners") or other third parties. We may associate this information with the other Personal Information we have collected about you. If you connect to the Site through another social network, we may collect information about you and your friends from that social network in order to provide you with a more personalized experience. Reppio will treat this information in the same manner as we treat the information we collect directly from you. However, third party providers of such information handle it according to their own privacy policies.</p>

      <h3>Other Information Collected</h3>

      <p>As you use Reppio, certain technical and usage information may be collected from you, including your Internet protocol address, browser type, and operating system. We may use both session Cookies and persistent Cookies to provide you with a more personal and interactive experience with Reppio.</p>

      <h3>Aggregated Information</h3>

      <p>Additionally, we may use your Non-Identifiable Information in connection with compiling Aggregate Information about general site usage in order to perform statistical analysis to help us analyze patterns in the use of the Site. Such Aggregate Information will not include your Personal Information.</p>

      <h3>Use and Disclosure of Information</h3>

      <h3>Use of Information</h3>

      <p>In general, both the Personal Information and Non-Identifiable Information you submit to us is used to provide you access to the Site, to improve Reppio, to better tailor the features, performance, and support of Reppio and to offer you additional information, opportunities, promotions and functionality. </p>

      <p>We may use this e-mail address to contact you, for things such as notifications, changes to Reppio policies, and other types of service and/or legal notices. You may indicate your preference to stop receiving further promotional communications as further detailed below.</p>

      <h3>Disclosure of Information</h3>

      <p>Personal Information. Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent, or share the Personal Information that we collect with third parties.</p>

      <p>We may provide your Personal Information to third-party service providers who work on behalf of or with us to provide some of the services and features of Reppio. Examples of such services include sending email, analyzing data and processing payments (including credit card and ACH payments).</p>

      <p>Non-Identifiable Information: This Privacy Policy does not limit our use or disclosure of Non-Identifiable Information in any way, and we reserve the right to use and disclose Non-Identifiable Information to our partners, advertisers and other third parties in our discretion. </p>

      <p>In the event we go through a business transition such as a merger, acquisition by another company, or sale of all or a portion of its assets, your Personal Information may be among the assets transferred. You acknowledge that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of ours, or their agents, may continue to process your Personal Information as set forth in this Privacy Policy.</p>

      <p>Responding to Legal Process and Related Disclosures: We may disclose your Personal Information if we believe in good faith that such disclosure is necessary to (a) comply with laws or to respond to subpoenas, court orders, warrants or other legal demands or to establish or defend Reppio from legal claims; or (b) to protect and defend our rights or property, you, or third parties from fraud, abuse or violations of the Terms of Service or illegal acts; or (c) to protect the safety or integrity of Reppio, its users, the public or other parties as it is deemed appropriate, in our sole discretion. You hereby consent to our sharing your Personal Information under the circumstances described herein.</p>

      <h3>Publically Available Information</h3>

      <p>It is up to you to make sure you are comfortable with the information you choose to provide us and the information you choose to publish. You understand that when you use Reppio, certain information you post or provide through Reppio, such as your name, profile and reviews, may be shared with other users and posted on publicly available portions of the Site. Please keep in mind that if you choose to disclose Personal Information when posting comments or other information or content through Reppio, this information may become publicly available and may be collected and used by others, including people outside the Reppio community. We will not have any obligations with respect to any information that you post to parts of Reppio available to others, and recommend that you use caution when giving out personal information to others in public forums online or otherwise. We may also share the information you publish with other third parties.</p>

      <h3>Communications</h3>

      <p>We offer you choices regarding the collection, use, and sharing of your Personal Information. When you receive promotional communications from us, you may indicate a preference to stop receiving further promotional communications from us and you will have the opportunity to "opt-out" by following the unsubscribe instructions provided in the promotional e-mail you receive or by contacting us directly (please see contact information below).</p>

      <p>Despite your indicated email preferences, we may send you administrative emails regarding Reppio, including, for example, administrative confirmations, and notices of updates to our Privacy Policy if we choose to provide such notices to you in this manner.</p>

      <p>You may change any of your profile information by editing it in the profile settings page. You may request deletion of your Personal Information by contacting us at privacy@reppio.com, but please note that we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request, only after we have fulfilled such requirements). When we delete Personal Information, it will be deleted from the active database, but may remain in our archives.</p>

      <h3>Feedback</h3>

      <p>If you provide feedback to us, we may use and disclose such feedback for any purpose, provided we do not associate such feedback with your Personal Information. We will collect any information contained in such feedback and will treat the Personal Information in it in accordance with this Privacy Policy.</p>

      <h3>Security</h3>

      <p>We use a variety of industry-standard security technologies and procedures to help protect your Personal Information from unauthorized access, use, or disclosure. Even though we have taken significant steps to protect your Personal Information, no company, including us, can fully eliminate security risks to Personal Information.</p>

      <h3>Contact and Revisions</h3>

      <p>If you have questions or concerns about our Privacy Policy, please contact us at privacy@reppio.com.</p>

      <p>This Privacy Policy is subject to occasional revision at our discretion, and if we make any material changes in the way we use your Personal Information, we will revise the Privacy Policy that is available at www.reppio.com/privacy. If you object to any such changes, you must cease using Reppio. Continued use of Reppio following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.</p>

    </div>
  </div>
</div>
