<% title "About Reppio" %>

<div class="container-fluid rep_container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals=>{:active => "team"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">The Team</h2><br>

       We haven't slept in three months! Give us a week and some pretty pictures will be up.

    </div>
  </div>
</div>
