<% title "Reppio Terms of Service" %>


<div class="container-fluid rep-container" style="padding:30px; padding-bottom:60px;">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "static/about_menu", :locals=>{:active => "terms"} %>
    </div>
    <div class="span9">
      <h2 style="color:gray; font-weight:bold;">Terms of Service</h2><br>

<p>WELCOME TO REPPIO. PLEASE READ THE FOLLOWING TERMS OF USE AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. By using the Site, you are agreeing to these terms, and these terms will govern your use of the Site. If you do not agree to these terms, you must cease use of the Site. SIMPLE CONNECTIONS LLC, d/b/a REPPIO.COM, (hereafter referred to as “Reppio”, “us”, “we” or “our”) is the owner of the Site and provides an online platform that connects buyers and sellers of goods, which is accessible THROUGH MOBILE APPLICATIONS AND at <a href="http://www.reppio.com">http://www.reppio.com</a> (the “Site”)</p>

<p>Last Updated: February 25, 2013</p>

<p>By using the Site, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service ("<b>Terms</b>"), whether or not you become a registered user of the Site. These Terms govern your access to and use of the Site and constitutes a binding legal agreement between you and Reppio. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, “you” and “your” will refer and apply to that company or other legal entity.</p>

<p>Please read carefully these Terms and our Privacy Policy, which may be found at <a href="http://www.reppio.com/terms">http://www.reppio.com/terms</a>.</p>

<p>Reppio is an online community where Sellers (defined below) create Listings (defined below) for Goods (defined below) and Buyers (defined below) discover and potentially purchase the Goods. You understand and agree that Reppio is not selling and Goods<a name="_GoBack"></a> and Reppio is not a party to any agreement entered into between the buyer and seller, nor is Reppio an agent on behalf of the buyer or seller. Reppio has no control over the conduct of buyers, sellers and other users of the Site and disclaims all liability in this regard.</p>

<p><b>Key Terms </b><br />
  “<b>Reppio Content</b>” means all Content that Reppio makes available through the Site, including any Content licensed from a third party, but excluding Member Content. <br />
  “<b>Collective Content</b>” means Member Content and Reppio Content. <br />
  “<b>Content</b>” means text, graphics, images, music, software, audio, video, information or other materials. <br />
  “<b>Buyer(s)</b>” means Members who discover Listings and Sellers via the Site, or Members who purchase from Sellers that are discovered via the Site. <br />
  “<b>Goods</b>” means products that Sellers are promoting by creating Listings on the Site.</p>

<p>“<b>Seller(s)</b>” means Members who create Listings via the Site. <br />
  “<b>Listing(s)</b>” means Goods that are listed by Sellers as available for purchase via the Site. <br />
  “<b>Member(s)</b>” means a person who completes Reppio’s account registration process. <br />
  “<b>Member Content</b>” means all Content that a Member posts, uploads, publishes, submits or transmits to be made available through the Site. <br />
  “<b>Tax</b>” or “<b>Taxes</b>” mean any sales taxes, value added taxes (VAT), goods and services taxes (GST) and other similar municipal, state and federal indirect or other withholding and personal or corporate income taxes. </p>

<p><b>Modification</b> <br />
  Reppio reserves the right, at its sole discretion, to modify the Site or to modify these Terms, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or provide you with notice of the modification. We will also update the “Last Updated Date” at the top of these Terms. By continuing to access or use the Site after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site.</p>

<p><b>Eligibility</b> <br />
  The Site is intended solely for persons who are 18 or older. Any access to or use of the Site by anyone under 18 is expressly prohibited. By accessing or using the Site you represent and warrant that you are 18 or older. </p>

<p><b>How Reppio Works</b> <br />
  The Site can be used to facilitate the listing and sale of Goods. Such Listings are created on the Site by Sellers. You may view Listings as an unregistered visitor to the Site; however, if you wish to communicate with the Seller or create a Listing, you must first register to create a Reppio Account (defined below). <br />
  <br />
</p>

<p>As stated above, Reppio makes available a platform for Buyers and Sellers to meet online and arrange for transacting Goods. Reppio may from time to time offer Buyers and Sellers tools to facilitate payments but since Reppio’s involvement is limited to that of a platform provider facilitating the actual transactions between the Seller and Buyer, it is not the agent of either party for any purpose. Reppio is not an owner or seller of Goods. Reppio’s responsibilities are limited to facilitating the availability of the Site.</p>

<p>PLEASE NOTE THAT, AS STATED ABOVE, THE SITE IS INTENDED TO BE USED TO FACILITATE THE SALE OF GOODS. REPPIO CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED IN ANY LISTINGS AND THE CONDITION, OR LEGALITY OF ANY SALE. REPPIO IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL LIABILITY RELATED TO ANY AND ALL LISTINGS. ACCORDINGLY, ANY PURCHASES WILL BE MADE AT THE BUYER’S OWN RISK.</p>

<p><b>Account Registration</b> <br />
  In order to access certain features of the Site, and to message other users or create a Listing, you must register (via the Site) to create an account (“<b>Reppio Account</b>”) and become a Member. </p>

<p>You can also register to join by logging into your account with certain third party social networking sites (“<b>SNS</b>”) (including, Facebook); each such account, a “<b>Third Party Account</b>”, via our Site. As part of the functionality of the Site, you may link your Reppio Account with Third Party Accounts, by either: (i) providing your Third Party Account login information to Reppio through the Site; or (ii) allowing Reppio to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to Reppio and/or grant Reppio access to your Third Party Account, without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Reppio to pay any fees or making Reppio subject to any usage limitations imposed by such third party service providers. By granting Reppio access to any Third Party Accounts, you understand that Reppio will access, make available and store (if applicable) any Content that you have provided to and stored in your Third Party Account (“<b>SNS Content</b>”) so that it is available on and through the Site via your Reppio Account and Reppio Account profile page. Unless otherwise specified in these Terms, all SNS Content, if any, will be considered to be Member Content for all purposes of these Terms. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts will be available on and through your Reppio Account on the Site. Please note that if a Third Party Account or associated service becomes unavailable or Reppio’s access to such Third Party Account is terminated by the third party service provider, then SNS Content will no longer be available on and through the Site. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD PARTY SERVICE PROVIDERS. Reppio makes no effort to review any SNS Content for any purpose and Reppio is not responsible for any SNS Content.</p>

<p>We will create your Reppio Account and your Reppio Account profile page for your use of the Site based upon the personal information you provide to us or that we obtain via an SNS as described above. You may not have more than one (1) active Reppio Account. You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. Reppio reserves the right to suspend or terminate your Reppio Account and your access to the Site if you create more than one (1) Reppio Account or if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete. You are responsible for safeguarding your password.</p>

<p><b>Listings</b></p>

<p>As a Member, you may create Listings. To this end, you will be asked a variety of questions about the Goods to be listed. Listings will be made publicly available via the Site. Other Members will be able to inquire about your Listing via the Site.</p>

<p>You acknowledge and agree that you are responsible for any and all Listings you post. Accordingly, you represent and warrant that any Listing you post will be in compliance with all applicable laws. Reppio reserves the right, at any time and without prior notice, to remove or disable access to any Listing for any reason, including Listings that Reppio, in its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Site.</p>

<p><b>No Endorsement</b></p>

<p>Reppio does not endorse any Members or any Listing. In addition, although these Terms require Members to provide accurate information, we do not attempt to confirm, and do not confirm, any Member’s purported identity. You are responsible for determining the identity and suitability of others who you contact via the Site. </p>

<p>By using the Site, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of other Members or other third parties will be limited to a claim against the particular Members or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from Reppio with respect to such actions or omissions. Accordingly, we encourage you to communicate directly with other Members on the Site regarding any Listings.</p>

<p><b>User Conduct</b></p>

<p>You understand and agree that you are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your use of the Site. In connection with your use of our Site, you may not and you agree that you will not:</p>
  <ul>
<li>violate any local, state, provincial, national, or other law or regulation, or any order of a court;</li>

<li>use manual or automated software, devices, scripts robots, other means or processes to access, “scrape,” “crawl” or “spider” any web pages or other services contained in the Site;</li>

<li>use the Site for any commercial or other purposes that are not expressly permitted by these Terms;</li>

<li>copy, store or otherwise access any information contained on the Site for purposes not expressly permitted by these Terms;</li>

<li>infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights;</li>

<li>interfere with or damage our Site, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;</li>

<li>use our Site to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;</li>

<li>use our Site in connection with the distribution of unsolicited commercial email ("spam") or advertisements unrelated to respective Listing;</li>

<li>"stalk" or harass any other user of our Site or collect or store any personally identifiable information about any other user other than for purposes of transacting as a Reppio Member;</li>

<li>offer, as a Seller, any Good that you do not yourself own or have permission to sell;</li>

<li>register for more than one Reppio Account or register for an Reppio Account on behalf of an individual other than yourself;</li>

<li>contact a Seller for any purpose other than asking a question related to Listings;</li>

<li>contact a Buyer for any purpose other than asking a question related to Listings;</li>

<li>impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;</li>

<li>use automated scripts to collect information or otherwise interact with the Site;</li>

<li>as a Seller, submit any Listing with a false or misleading price information, or submit any Listing with a price that you do not intend to honor;</li>

<li>or post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;</li>

<li>systematically retrieve data or other content from our Site to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, through the use of bots, crawlers, or spiders, or otherwise;</li>

<li>use, display, mirror or frame the Site or any individual element within the Site, Reppio’s name, any Reppio trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without Reppio’s express written consent;</li>

<li>access, tamper with, or use non-public areas of the Site, Reppio’s computer systems, or the technical delivery systems of Reppio’s providers;</li>

<li>attempt to probe, scan, or test the vulnerability of any Reppio system or network or breach any security or authentication measures;</li>

<li>avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by Reppio or any of Reppio’s providers or any other third party (including another user) to protect the Site;</li>

<li>forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, to send altered, deceptive or false source-identifying information;</li>

<li>attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site; or advocate, encourage, or assist any third party in doing any of the foregoing.</li>
</ul>
<p>Reppio will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law. Reppio may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that Reppio has no obligation to monitor your access to or use of the Site or to review or edit any Member Content, but has the right to do so for the purpose of operating the Site to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Reppio reserves the right, at any time and without prior notice, to remove or disable access to any content that Reppio, at its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Site</p>

<p><b>Ownership</b></p>

<p>The Site and Collective Content are protected by copyright, trademark, and other laws of the United States and foreign countries. You acknowledge and agree that the Site and Collective Content, including all associated intellectual property rights is the exclusive property of Reppio and its licensors. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site or Collective Content.</p>

<p><b>Reppio Content and Member Content License</b></p>

<p>Subject to your compliance with the terms and conditions of these Terms, Reppio grants you a limited, non-exclusive, non-transferable license, to (i) access and view any Reppio Content solely for your personal and non-commercial purposes and (ii) access and view any Member Content to which you are permitted access, solely for your personal and non-commercial purposes. You have no right to sublicense the license rights granted in this section.</p>

<p>You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, broadcast or otherwise exploit the Site, Application, Services, or Collective Content, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Reppio or its licensors, except for the licenses and rights expressly granted in these Terms.</p>

<p><b>Member Content</b></p>

<p>We may, in our sole discretion, permit Members to post, upload, publish, submit or transmit Member Content. By making available any Member Content on or through the Site, you hereby grant to Reppio a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, view, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast, access, view, and otherwise exploit such Member Content on, through, or by means of the Site. Reppio does not claim any ownership rights in any such Member Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit any such Member Content.</p>

<p>You acknowledge and agree that you are solely responsible for all Member Content that you make available through the Site. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Member Content that you make available through the Site or you have all rights, licenses, consents and releases that are necessary to grant to Reppio the rights in such Member Content, as contemplated under these Terms; and (ii) neither the Member Content nor your posting, uploading, publication, submission or transmittal of the Member Content or Reppio’s use of the Member Content (or any portion thereof) on, through or by means of the Site will infringe, misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral rights or other proprietary or intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</p>

<p><b>Links</b></p>

<p>The Site may contain links to third-party websites or resources. You acknowledge and agree that Reppio is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Reppio of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources or the Content, products or services on or available from such websites or resources.</p>

<p><b>Privacy</b></p>

<p>We believe that personal privacy issues are important, so we developed a Privacy Policy to explain how we collect, use and disclose information and Content. The Privacy Policy forms part of our agreement with you and is incorporated in this Agreement by reference. For full details, please refer to our Privacy Policy at http://www.reppio.com/privacy.</p>

<p><b>Proprietary Rights Notices</b></p>

<p>All trademarks, service marks, logos, trade names and any other proprietary designations of Reppio used herein are trademarks or registered trademarks of Reppio. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.</p>

<p><b>Copyright Policy</b></p>

<p>Reppio respects copyright law and expects its users to do the same. It is Reppio’s policy to terminate in appropriate circumstances the Reppio Accounts of Members or other account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.</p>

<p><b>Termination and Reppio Account Cancellation</b></p>

<p>We may, in our discretion and without liability to you, with or without cause, with or without prior notice and at any time: (a) terminate these Terms or your access to our Site and (b) deactivate or cancel your Reppio Account. You may cancel your Reppio Account at any time via the “Cancel Account” feature or by sending an email to <a href="mailto:terms@reppio.com">terms@reppio.com</a>. Please note that if your Reppio Account is cancelled, we do not have an obligation to delete or return to you any Content you have posted to the Site, including, but not limited to, any reviews or Feedback.</p>

<p><b>Disclaimers</b></p>

<p>IF YOU CHOOSE TO USE THE SITE, YOU DO SO AT YOUR SOLE RISK. You acknowledge and agree that Reppio does not have an obligation to conduct background checks on any member. The site and all Collective Content are provided “as is”, without warranty of any kind, either express or implied. Reppio makes no warranty regarding the quality of any Listings or Collective Content or the accuracy, timeliness, truthfulness, completeness or reliability of any Collective Content obtained through the Site.</p>

<p>No advice or information, weather oral or written, obtained from Reppio or through the Site or Collective Content, will create any warranty not expressly made herein.</p>

<p>You are solely responsible for all of your communication and interactions with other users of the Site and with other persons with whom you communicate or interact as a result of your use of the Site. You understand that Reppio does not make any attempt to verify the statements of users or the Site or to review any Listing. Reppio makes no representation or warranties as to the conduct of users of the site, or their compatibility with any current or future users of the Site. You agree to take reasonable precautions in all communications and interactions with other users of the site and with other persons with whom you communicate or interact as a result of your use of the Site.</p>

<p><b>Limitation of Liability</b></p>

<p>You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the site and Collective Content, your Listing via the site and any contact you have with other users of Reppio weather in person or online remains with you. Neither Reppio nor any other party involved in creating, producing, or delivering the site or Collective Content will be liable for any incidental, special, exemplary or consequential damages.</p>

<p><b>Indemnification</b></p>

<p>You agree to release, defend, indemnify, and hold Reppio and its affiliates and subsidiaries, and their officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (a) your access to or use of the Site or Collective Content or your violation of these Terms; (b) your Member Content; (c) your (i) interaction with any Member or (ii) creation of a Listing.</p>

<p><b>Entire Agreement</b></p>

<p>These Terms constitute the entire and exclusive understanding and agreement between Reppio and you regarding the Site, Collective Content or Listings via the Site, and these Terms supersede and replace any and all prior oral or written understandings or agreements between Reppio and you regarding the use of the Site.</p>

<p><br />
  <b>Assignment</b></p>

<p>You may not assign or transfer these Terms, by operation of law or otherwise, without Reppio’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Reppio may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>

<p><b>Notices</b></p>

<p>Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms, will be in writing and given by Reppio (i) via email (in each case to the address that you provide) or (ii) by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.</p>

<p><b>Controlling Law and Jurisdiction</b></p>

<p>These Terms will be interpreted in accordance with the laws of the State of Illinois and the United States of America, without regard to its conflict-of-law provisions.</p>

<p><b>Dispute Resolution</b></p>

<p>You and Reppio agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof, or to the use of the Site (collectively, “<b>Disputes</b>”) will be settled by binding arbitration , except that each party retains the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents, or other intellectual property rights. You acknowledge and agree that you and Reppio are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, unless both you and Reppio otherwise agree in writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this “Dispute Resolution” section will be deemed void. Except as provided in the preceding sentence, this “Dispute Resolution” section will survive any termination of these Terms.</p>

<p>Arbitration Rules and Governing Law. The arbitration will be administered by the American Arbitration Association (“AAA”) in accordance with the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the “AAA Rules”) then in effect, except as modified by this “Dispute Resolution” section.</p>

<p>Arbitration Process. A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. The arbitrator will be either a retired judge or an attorney licensed to practice law in the state of Illinois and will be selected by the parties from the AAA’s roster of consumer dispute arbitrators. If the parties are unable to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the arbitrator in accordance with the AAA Rules.</p>

<p>Arbitration Location and Procedure. Unless you and Reppio otherwise agree, the arbitration will be conducted in Illinois. If your claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of documents you and Reppio submit to the arbitrator, unless you request a hearing or the arbitrator determines that a hearing is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the arbitration.</p>

<p>Arbitrator’s Decision. The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator’s decision will include the essential findings and conclusions upon which the arbitrator based the award. Judgment on the arbitration award may be entered in any court having jurisdiction thereof. The arbitrator’s award damages must be consistent with the terms of the “Limitation of Liability” section above as to the types and the amounts of damages for which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to provide relief warranted by the claimant’s individual claim. If you prevail in arbitration you will be entitled to an award of attorneys’ fees and expenses, to the extent provided under applicable law. </p>

<p>Fees. Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules.</p>

<p>Changes. Notwithstanding the provisions of the “Modification” section above, if Reppio changes this “Dispute Resolution” section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email to <a href="mailto:terms@reppio.com">terms@reppio.com</a>) within 30 days of the date such change became effective, as indicated in the “Last Updated Date” above or in the date of Reppio’s email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and Reppio in accordance with the provisions of this “Dispute Resolution” section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).</p>

<p><b>General</b></p>

<p>The failure of Reppio to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Reppio. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason an arbitrator or a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>

<p><b>Contacting Reppio</b></p>

<p>If you have any questions about these Terms, please contact Reppio at <a href="mailto:terms@reppio.com">terms@reppio.com</a>.</p>

    </div>
  </div>
</div>
