<div class="unstyled light-gray-gradient dropdown" id="browse-by-category-selector">
  <div class="dropdown-toggle" data-toggle="dropdown"><div id="browse-by-category">
    <span id="current-category"><%= current_category && current_category!="All" ? current_category : "Browse by Category"  %></span>&nbsp;&#9662;
  </div></div>

    <ul class="dropdown-menu">
      <li>
      <%= link_to "All Categories", search_url(params.merge(:page => 1).except(:cfv, :search_item, :category)) %>
      </li>
      <% Posting.top_level_categories.sort.each do |top_level_category|
        if Posting.is_leaf?(top_level_category) %>
              <%= render(:partial=> "browse/category_menu_leaf", :locals=>{:category=>top_level_category})%>
          <% else %>
              <%= render(:partial=> "browse/category_menu_not_leaf", :locals=>{:category=>top_level_category})%>
          <% end %>
      <% end %>
    </ul>
</div>