<li class="dropdown-submenu">
  <%= link_to category, search_url(params.merge(:category => category, :page => 1).except(:cfv, :search_item)) %>
  <ul class="dropdown-menu">
    <% Posting.immediate_children_of_category(category).each do |child|
      if Posting.is_leaf?(child) %>
            <%= render(:partial=> "browse/category_menu_leaf", :locals=>{:category=>child})%>
      <%else %>
            <%= render(:partial=> "browse/category_menu_not_leaf", :locals=>{:category=>child})%>
    <% end
    end %>
  </ul>
</li>
