<tr><td class="custom-field-table-label"><%= drop_down_label %> &nbsp;&nbsp;</td>
  <td class="custom-field-table-checkboxes">
  <% drop_down_options.each do |option| %>
      <div style="display:inline-block;">
        <% if params.fetch(:cfv, "").include?("  #{option}  ") # give option to remove filter           %>
            <%= link_to (search_url(params.merge(:page => 1, :cfv => params[:cfv].sub("  #{option}  ", "")))) do %>
                <input type="checkbox" checked="checked"/>
            <% end %>
        <% else %>
            <%= link_to (search_url(params.merge(:page => 1, :cfv => params.fetch(:cfv, "")+"  #{option}  ", :page => 1))) do %>
                <input type="checkbox"/>
            <% end %>
        <% end %> <%= "#{option}" %>
    &nbsp;&nbsp;&nbsp;</div>
  <% end %>
  </td>
</tr>