<% if !params[:search_item].blank? || ((!params[:wd].nil?) && params[:wd]!="30") || ((!params[:pmin].nil?) && params[:pmax]) ||
        (params[:category] && params[:category]!="All") || params[:group] || params[:cfv] %>
    <div style="font-size:20px; font-weight:400; padding-top:10px;"></div>
<% end %>
<% if (!params[:wd].nil?) && params[:wd]!="30" %>
    <span class="filter-bubble"><%= link_to "&times;".html_safe, search_url(params.except(:wd)) %>&nbsp;&nbsp;within <%= params[:wd] %>
      miles of <%= params[:location] %> </span>
<% end %>
<% if (!params[:pmin].nil?) && params[:pmax] %>
    <span class="filter-bubble"><%= link_to "&times;".html_safe, search_url(params.except(:pmin, :pmax)) %>&nbsp;&nbsp;<%= number_to_currency((params[:pmin].blank? ? 0 : params[:pmin]), :precision => 0) %>
      -<%= number_to_currency((params[:pmax].blank? ? 10000000 : params[:pmax]), :precision => 0) %> </span>
<% end %>
<% number_of_ancestors=@ancestry_line.length
   @ancestry_line.each_with_index do |ancestor, index|
     parent_of_ancestor=(index==number_of_ancestors-1) ? "All" : @ancestry_line[index+1] %>
    <span class="filter-bubble">
            <%= link_to "&times;".html_safe, search_url(params.merge(:category => parent_of_ancestor, :page => 1).except(:cfv)) %>&nbsp;&nbsp;
      <%= ancestor %> </span>
<% end %>
<% if params[:category] && params[:category]!="All"
     parent=@ancestry_line[0]||= "All" %>
    <span class="filter-bubble">
            <%= link_to "&times;".html_safe, search_url(params.merge(:category => parent, :page => 1).except(:cfv)) %>&nbsp;&nbsp;
      <%= params[:category] %></span>
<% end %>
<% unless params[:search_item].blank? %>
    <div class="filter-bubble"><%= link_to "&times;".html_safe, search_url(params.except(:search_item)) %>
      &nbsp;&nbsp;"<%= params[:search_item] %>"</div>
<% end %>
<% unless @drop_down_menus.nil?
     @drop_down_menus.each_pair do |drop_down_menu_label, drop_down_menu_options|
       drop_down_menu_options.each do |option|
         if params.fetch(:cfv, "").include?("  #{option}  ") # give option to remove filter    %>
                <span class="filter-bubble"><%= link_to "&times;".html_safe, search_url(params.merge(:page => 1, :cfv => params[:cfv].sub("  #{option}  ", ""))) %>&nbsp;&nbsp;<%= option %> </span>
            <% end  end end end %>
<% if params[:group] %>
    <div class="filter-bubble"><%= link_to "&times;".html_safe, search_url(params.except(:group)) %>&nbsp;&nbsp;&nbsp;&nbsp;group: "<%= Group.find_by_id(params[:group]).long_name %>"</div>
<% end %>