<% seller=User.find(posting.user_id) %>
<div id="result<%= index %>" class="result-row grid-result" data-id="<%=posting.id%>">

  <div class="card-shape">
    <div class="posting_picture" data-url="<%= user_posting_url(:user_name => seller.user_name, :id => posting.id) %>">
      <%=render(:partial => "browse/posting_picture",
           :locals => {:posting => posting, :seller=> seller, :is_bookmarked=> is_bookmarked}) %>
    </div>

    <%= rep_meter_white_back(seller.repscore, "rep-score-grid-result") %>
  </div>
  <%= link_to load_mini_map_url(:id=>posting.id), :class=>"location-marker-link", :remote=>true do %>

  <div class="text-distance">
    <%= image_tag 'browse/locationicon.png' %>&nbsp;&nbsp;&nbsp;
    <%= number_with_precision(posting.sphinx_attributes['@geodist'].to_f*0.000621371, :precision => 1) %>
    miles &nbsp; <%= ::DistanceCalculations.compass_bearing(params[:latitude], params[:longitude], posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI) %>
  </div>
      <% end %>
  <div class="price-tag"></div>
  <div class="text-price">
    $<%= formatted_price(posting.price) %>
  </div>
  <div class="blue-title-section">
      <%= link_to truncate(posting.title, :length => 30, :separator => "..."), user_posting_url(:user_name => seller.user_name, :id => posting.id)%>
  </div>

</div>
