<div class="group-filters">
  <div class="filter-title">Groups</div>
  <br>
  <div class="filter-inputs">
    <div>
      <span class="group-checkbox" id="group-checkbox0" data-url="1">&#10003;&nbsp;&nbsp; All of
      Reppio</span>
    </div>
    <% users_groups ||= []
       users_groups.each do |group| %>
        <div>
          <span class="group-checkbox" id="group-checkbox<%= group.id %>" data-url="<%= group.id %>">&#x25a2;&nbsp;&nbsp; <%= group.long_name %></span>
        </div>
    <% end %>
    <div>
      <%= link_to "... more groups", groups_url, :target => "_blank" %>
    </div>
  </div>
</div>