<% userBookmarks=current_user.bookmarks

   @results.each_with_index do |posting, index|
     index_within_batch=index
     index+=@per_page*(params[:page].to_i - 1)
     is_bookmarked=userBookmarks.length>0 && userBookmarks.any? { |bookmark| bookmark.posting_id==posting.id }
%>
    <%= render(:partial => "browse/#{params[:view]=="rows" ? "posting_row" : "grid_result"}",
               :locals => {:posting => posting, :index => index,
                           :is_bookmarked => is_bookmarked, :index_within_batch => index_within_batch
               }) %>

<% end %>

