<div class="location-filters">
  <div style="margin-bottom:20px;" class="filter-title">Distance</div>
  <div class="filter-inputs">
    <div class="filter-inputs">
      <input type="text" id="within-distance" class="fill-in-the-blank" value="" placeholder="30" name="wd"/>
      miles &nbsp;&nbsp;&nbsp;&nbsp;from &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="locationField" class="fill-in-the-blank" value="" name="location"/>
      <%= image_tag('browse/locationicon2.png', :id=>"current-location-no-map", :class => 'current-location-image') %>


    </div>
  </div>
</div>