<script type="text/javascript">

var map;
var current_location_marker_shown;
var centerPoint = new google.maps.LatLng(<%= params[:latitude].to_f%>, <%= params[:longitude].to_f%>);
var rep_marker = "<%= asset_path("browse/marker.png") %>";

var markers = [];

var bounds = new google.maps.LatLngBounds();




function updateURLParameter(url, param, paramVal) {
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (i = 0; i < tempArray.length; i++) {
            if (tempArray[i].split('=')[0] != param) {
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}

function initialize_map() {

    geocoder = new google.maps.Geocoder();
    if (get_url_parameter_value("latitude")) {
        centerPoint = new google.maps.LatLng(parseFloat(get_url_parameter_value("latitude")),
                parseFloat(get_url_parameter_value("longitude")));

    }


    var styles = [
        {
            "featureType":"water",
            "stylers":[
                { "lightness":4 },
                { "gamma":0.93 },
                { "saturation":-41 },
                { "hue":"#002bff" }
            ]
        },
        {
            "featureType":"road",
            "stylers":[
                { "gamma":0.98 },
                { "hue":"#00a1ff" },
                { "saturation":-51 },
                { "lightness":-9 }
            ]
        },
        {
            "elementType":"labels.text.stroke",
            "stylers":[
                { "color":"#ffffff" },
                { "weight":5 }
            ] }
    ]

    var myOptions = {
        center:centerPoint,
        mapTypeControl:false,
        zoomControl:false,
        scrollwheel:false,
        panControl:false,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        streetViewControl:false,
        styles:styles
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);


    bounds.extend(centerPoint);
    map.setCenter(centerPoint);


    google.maps.event.addListener(map, 'bounds_changed', function () {
        bounds = map.getBounds();
    });


    if (get_url_parameter_value("search_within_map")) {
        google.maps.event.addListener(map, 'dragend', function () {
            var url_with_location_marker = updateURLParameter(window.location.href, "south_west", south_west_bounds());
            url_with_location_marker = updateURLParameter(url_with_location_marker, "north_east", north_east_bounds());
            $.pjax({
                container:"#search-container",
                fragment:"#search-container",
                url:url_with_location_marker,
                timeout:5000
            });
        });
    }


    google.maps.event.addDomListener(document.getElementById("zoom-in"), 'click', function () {
        var zoom = map.getZoom();
        map.setZoom(zoom + 1);
    });

    google.maps.event.addDomListener(document.getElementById("zoom-out"), 'click', function () {
        var zoom = map.getZoom();
        map.setZoom(zoom - 1);
    });

    function activate_current_location_image() {
        if (!current_location_marker_shown) {
            if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (pos) {
                var url_with_location_marker = updateURLParameter(window.location.href, "latitude", pos.coords.latitude);
                url_with_location_marker = updateURLParameter(url_with_location_marker, "longitude", pos.coords.longitude);
                url_with_location_marker = updateURLParameter(url_with_location_marker, "cl", "true");
                url_with_location_marker = updateURLParameter(url_with_location_marker, "location", "");
                $.pjax({
                    container:'#search-container',
                    fragment:'#search-container',
                    url:url_with_location_marker,
                    timeout:5000
                });
            }, function (error) {
                jQuery.ajax({
                    url:'http://www.google.com/jsapi?autoload={%22modules%22%3A[{%22name%22%3A%22maps%22%2C%22version%22%3A%222%22}]}',
                    dataType:'script',
                    success:function () {
                        if (google.loader.ClientLocation) {

                            var url_with_location_marker = updateURLParameter(window.location.href, "latitude", google.loader.ClientLocation.latitude);
                            url_with_location_marker = updateURLParameter(url_with_location_marker, "longitude", google.loader.ClientLocation.longitude);
                            url_with_location_marker = updateURLParameter(url_with_location_marker, "cl", "true");
                            if (google.loader.ClientLocation.address)
                                url_with_location_marker = updateURLParameter(url_with_location_marker, "location", google.loader.ClientLocation.address.city);
                            else
                                url_with_location_marker = updateURLParameter(url_with_location_marker, "location", '');

                            $.pjax({
                                container:'#search-container',
                                fragment:'#search-container',
                                url:url_with_location_marker,
                                timeout:5000
                            });
                        }
                        else {
                            alert('Sorry, we could not determine your location.');
                        }
                    }
                });

            });
        }
    }

    google.maps.event.addDomListener(document.getElementsByClassName("current-location-image")[0], 'click', function () {
        activate_current_location_image();
    });

//    google.maps.event.addDomListener(document.getElementsByClassName("current-location-image")[1], 'click', function () {
//        activate_current_location_image();
//    });


}



initialize_map();


function scripts_that_need_to_be_reloaded_when_whole_search_page_is_loaded() {

    $('.search-within-map').unbind('click');
    $('.search-within-map').click(function () {
        $.pjax({
            container:'#search-container',
            fragment:'#search-container',
            url:$('.search-within-map').data('url') + '&north_east=' + north_east_bounds() + '&south_west=' + south_west_bounds(),
            timeout:5000
        });
    });
};




<% if params[:cl]%>

current_location_marker_shown = true;
$('.current-location-image').attr('src', "<%= asset_path "browse/current-location-on.png" %>");

var current_location_marker = new google.maps.Marker({
    clickable:false,
    icon:"<%= asset_path("browse/current_location.png")%>",
    shadow:null,
    zIndex:999,
    map:map,
    position:centerPoint
});


bounds.extend(centerPoint);

<% else %>
current_location_marker_shown = false;
<% end %>



<% @results.each_with_index do  |posting, index| %>


latLng = new google.maps.LatLng(<%= ::DistanceCalculations.calculateOffset(posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI, 200)%>);

var marker<%= index %> = new google.maps.Marker({
    position:latLng,
    map:map,
    icon:rep_marker,
    animation:google.maps.Animation.DROP,
    title:'<%= posting.title.gsub(/[^0-9A-Za-z ]/, '') %>'
});
markers.push(marker<%= index %>);

bounds.extend(latLng);

<% end %>

if (get_url_parameter_value("search_within_map")) {
    bounds= new google.maps.LatLngBounds(new google.maps.LatLng(get_url_parameter_value("south_west").split(",")[0], get_url_parameter_value("south_west").split(",")[1]),
            new google.maps.LatLng(get_url_parameter_value("north_east").split(",")[0], get_url_parameter_value("north_east").split(",")[1]));
}

map.fitBounds(bounds);


function south_west_bounds() {
    var coordinates = bounds.getSouthWest();
    return coordinates.lat() + "," + coordinates.lng();
}

function north_east_bounds() {
    var coordinates = bounds.getNorthEast();
    return coordinates.lat() + "," + coordinates.lng();
}


</script>