<%= image_tag(posting.first_picture_url.gsub("large_thumb", "medium"), :class => "posting_picture_image")%>

<div class="posting_description">
  <%= truncate(posting.description, :length=>180, :separator=>"...") %>
  <br><br>
  <i class="icon-time"></i>&nbsp;&nbsp;<%= time_ago_in_words(posting.updated_at) %> ago
</div>

<div class="bookmark grid-bookmark">
  <% if is_bookmarked %>
      <span class="bookmarked"></span>
  <% else %>
      <span class="bookmark-this"></span>
  <% end %>
</div>


<div class="mutualfriends" data-sellername="<%= seller.first_name%>" data-sellerid="<%= seller.facebook_id %>" data-postingismine="<%= (current_user.id==seller.id) ? "true" : "false" %>"><span class="friendlist"></span></div>

<div class="seller-pic">
  <%= link_to image_tag(posting.first_user_url), seller %>
</div>
