<% seller=User.find(posting.user_id) %>
<div id="result<%= index %>" class="result-row" data-id="<%=posting.id%>">
  <div id="<%= posting.id %>" class="result-td shadow light-gray-gradient list-td">
      <%= link_to image_tag(posting.first_picture_url.gsub("large_thumb", "medium")), user_posting_url(:user_name=>seller.user_name, :id=>posting.id), :class=>"list-item-picture shadow" %>

    <div class="list-title"><%= link_to posting.title, user_posting_url(:user_name => seller.user_name, :id => posting.id)%>
    </div>

    <div class="list-description">
      <%= posting.description %>
    </div>

    <div class="orange-price-label"></div>


    <div class="text-price list-search-price-pos">
      $<%= formatted_price(posting.price) %>
    </div>

    <div class="list-posting-and-time">
      <br><i class="icon-map-marker" style="color:#767676;"></i> <%= number_with_precision(posting.sphinx_attributes['@geodist'].to_f*0.000621371, :precision => 1) %>
      miles    <%= ::DistanceCalculations.compass_bearing(params[:latitude], params[:longitude], posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI) %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <icon class="icon-time" style="color:#767676;"></icon> <%= time_ago_in_words(posting.updated_at) %>
    </div>

    <div class="bookmark bookmark-list">
      <% if is_bookmarked %>
          <span class="bookmarked"></span>
      <% else %>
          <span class="bookmark-this"></span>
      <% end %>
    </div>

    <div class="mutualfriends" data-sellerid="<%= seller.facebook_id %>" data-postingismine="<%= (current_user.id==seller.id) ? "true" : "false" %>"><span class="friendlist"></span></div>



    <div class="seller-name">
      <%= link_to seller.first_name, seller %>
    </div>


    <div class="seller-pic">
      <%= link_to image_tag(posting.first_user_url), seller %>
    </div>

    <%= rep_meter_small(seller.repscore, "rep-score-posting-row-search") %>
  </div>
</div>
