<div class="price-filters">
  <div class="filter-title">Price Range</div>
  <br>
  <div class="filter-inputs">Min:$<input type="text" id="price-range-min" class="fill-in-the-blank" value="" name="pmin"/> &nbsp;&nbsp;&nbsp;&nbsp;Max:$<input type="text" id="price-range-max" class="fill-in-the-blank" value="" name="pmax"/>
  </div>
</div>