if ($('#posting-map-canvas<%=@posting.id%>')[0] !=undefined){
    $('.result-row[data-id=<%=@posting.id%>] .posting_picture').html('<%= escape_javascript(render(:partial => "browse/posting_picture",
     :locals => {:posting => @posting, :seller=> User.find(@posting.user_id), :is_bookmarked=> current_user.bookmarks.any? { |bookmark| bookmark.posting_id==@posting.id }})) %>');
    $('.result-row[data-id=<%=@posting.id%>] .text-distance img').removeClass('active-map');
    scripts_that_need_to_be_reloaded_after_listing_container_is_loaded();
}
else{
$('.result-row[data-id=<%=@posting.id%>] .posting_picture').html('<div id="posting-map-canvas<%=@posting.id%>" class="posting-map-canvas" style="height:100%;"></div>');
$('.result-row[data-id=<%=@posting.id%>] .posting_picture').unbind('click');
$('.result-row[data-id=<%=@posting.id%>] .text-distance img').addClass('active-map');

var geocoder = new google.maps.Geocoder();
var radius = 800;
var styles = [
    {
        "featureType":"water",
        "stylers":[
            { "lightness":4 },
            { "gamma":0.93 },
            { "saturation":-41 },
            { "hue":"#002bff" }
        ]
    },
    {
        "featureType":"road",
        "stylers":[
            { "gamma":0.98 },
            { "hue":"#00a1ff" },
            { "saturation":-51 },
            { "lightness":-9 }
        ]
    },
    {
        "elementType":"labels.text.stroke",
        "stylers":[
            { "color":"#ffffff" },
            { "weight":5 }
        ] }
];
var latlng = new google.maps.LatLng(<%= ::DistanceCalculations.calculateOffset(@posting.latitude*180/Math::PI, @posting.longitude*180 / Math::PI, 200) %>);
var myOptions = {
    center:latlng,
    scrollwheel:false,
    mapTypeId:google.maps.MapTypeId.ROADMAP,
    streetViewControl:false,
    mapTypeControl:false,
    zoom:12,
    zoomControl: true,
    zoomControlOptions: {
        position: google.maps.ControlPosition.LEFT_CENTER
    },
    styles:styles
};
var map<%=@posting.id%> = new google.maps.Map(document.getElementById("posting-map-canvas<%=@posting.id%>"),
        myOptions);

var marker = new google.maps.Marker({
    clickable:false,
    icon:"<%= asset_path("browse/marker.png")%>",
    shadow:null,
    zIndex:999,
    map:map<%=@posting.id%>,
    position:latlng
});


var options = {
    strokeWeight:0,
    fillOpacity:0.5,
    fillColor:'#FF7A4A',
    center:latlng,
    radius:radius
};
var circle = new google.maps.Circle(options);

var bounds = circle.getBounds();
map<%=@posting.id%>.fitBounds(bounds);

var current_location_marker = new google.maps.Marker({
    clickable:false,
    icon:"<%= asset_path("browse/current_location.png")%>",
    shadow:null,
    zIndex:999,
    map:map<%=@posting.id%>
});

if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (pos) {
    var current_location = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
    current_location_marker.setPosition(current_location);
    bounds.extend(current_location);
    map<%=@posting.id%>.setCenter(current_location);
    map<%=@posting.id%>.fitBounds(bounds);
}, function (error) {
    jQuery.ajax({
        url:'http://www.google.com/jsapi?autoload={%22modules%22%3A[{%22name%22%3A%22maps%22%2C%22version%22%3A%222%22}]}',
        dataType:'script',
        success:function () {
            if (google.loader.ClientLocation) {
                var latlng = new google.maps.LatLng(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                current_location_marker.setPosition(latlng);
                bounds.extend(latlng);
                map<%=@posting.id%>.setCenter(latlng);
                map<%=@posting.id%>.fitBounds(bounds);
            }
            else {
                alert('Sorry, we could not determine your location.');
            }
        }
    });

});

}


