bounds = new google.maps.LatLngBounds();
bounds.extend(centerPoint);
<% if params[:page].to_i==1 #clear all existing markers if from pjax call %>
if (markers.length !== 0) {
    for (var i = 0; i < markers.length; ++i) {
        markers[i].setMap(null);
    }
}
markers = [];
<% end

   @results.each_with_index do |posting, index|
     index+=@per_page*(params[:page].to_i - 1)
%>

latLng = new google.maps.LatLng(<%= ::DistanceCalculations.calculateOffset(posting.latitude*180/Math::PI, posting.longitude*180 / Math::PI, 200)%>);

var marker<%= index %> = new google.maps.Marker({
    position:latLng,
    map:map,
    icon:rep_marker,
    animation:google.maps.Animation.DROP,
    title:'<%= posting.title.gsub(/[^0-9A-Za-z ]/, '') %>',
    zIndex:1
});
markers.push(marker<%= index %>)

bounds.extend(latLng);

<% end %>



<% if params[:cl]%>

current_location_marker_shown = true;
$('.current-location-image').attr('src', "<%= asset_path "browse/current-location-on.png" %>");

var current_location_marker = new google.maps.Marker({
    clickable:false,
    icon:"<%= asset_path("browse/current_location.png")%>",
    shadow:null,
    zIndex:999,
    map:map,
    position:centerPoint
});



<% else %>
current_location_marker_shown = false;
<% end %>

if (get_url_parameter_value("search_within_map")) {
    bounds= new google.maps.LatLngBounds(new google.maps.LatLng(get_url_parameter_value("south_west").split(",")[0], get_url_parameter_value("south_west").split(",")[1]),
            new google.maps.LatLng(get_url_parameter_value("north_east").split(",")[0], get_url_parameter_value("north_east").split(",")[1]));
}

map.fitBounds(bounds);