<% content_for :search_active, "true" %>
<%= content_for :blue_header_image_height, "400" %>
<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet'
      type='text/css' xmlns="http://www.w3.org/1999/html">

<div id='listings-loader'>
  <%= image_tag 'squares-circle-loader.gif' %>
</div>
<div id="search-container">
<div style="text-align: center;">
  <div id="all-search-stuff">
    <div id="orange-search-bar">
      <div id="orange-category-selector">
        <div class="unstyled dropdown">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <div id="browse-by-category">
              <span id="current-category"><%= params[:category] && params[:category]!="All" ? params[:category] : "Categories" %></span>&nbsp;&nbsp;&#9662;
            </div>
          </div>

          <ul class="dropdown-menu" id="first-category-dropdown">

            <li class="dropdown-submenu">
              <%= link_to "All Categories", search_url(params.merge(:page => 1).except(:cfv, :search_item, :category)) %>
              <ul class="dropdown-menu">
                <% Posting.top_level_categories.sort.each do |top_level_category|
                  if Posting.is_leaf?(top_level_category) %>
                        <%= render(:partial => "browse/category_menu_leaf", :locals => {:category => top_level_category}) %>
                    <% else %>
                        <%= render(:partial => "browse/category_menu_not_leaf", :locals => {:category => top_level_category}) %>
                    <% end %>
                <% end %>
              </ul>
            </li>
            <%
               categories_pictures={
                       "Reppio Picks" => ["categories/reppiopicks.png", search_url(params.merge(:category => "All", :page => 1).except(:cfv, :search_item))],
                       "Art & Collectibles" => ["categories/artcollectibles.png", search_url(params.merge(:category => "Art & Collectibles", :page => 1).except(:cfv, :search_item))],
                       "Babies & Kids" => ["categories/babieskids.png", search_url(params.merge(:category => "Babies & Kids", :page => 1).except(:cfv, :search_item))],
                       "Books" => ["categories/books.png", search_url(params.merge(:category => "Books", :page => 1).except(:cfv, :search_item))],
                       "Electronics" => ["categories/electronics.png", search_url(params.merge(:category => "Electronics", :page => 1).except(:cfv, :search_item))],
                       "Entertainment" => ["categories/entertainment.png", search_url(params.merge(:category => "CDs, DVD & Blu-ray", :page => 1).except(:cfv, :search_item))],
                       "Fashion" => ["categories/fashion.png", search_url(params.merge(:category => "Fashion", :page => 1).except(:cfv, :search_item))],
                       "Home & Decor" => ["categories/homedecor.png", search_url(params.merge(:category => "Home & Decor", :page => 1).except(:cfv, :search_item))],
                       "Motors" => ["categories/auto.png", search_url(params.merge(:category => "Motors", :page => 1).except(:cfv, :search_item))],
                       "Sports" => ["categories/sports.png", search_url(params.merge(:category => "Sporting Goods", :page => 1).except(:cfv, :search_item))],
                       "Tickets & Events" => ["categories/tickets.png", search_url(params.merge(:category => "Tickets & Events", :page => 1).except(:cfv, :search_item))]
               }

               categories_pictures.each do |label, picture_link| %>

                <li style="height:30px;position:relative;"><%= image_tag picture_link[0] %><%= link_to label, picture_link[1] %></li>
            <% end %>

          </ul>
        </div>
      </div>
      <div id="filters-label">Filters</div>
      <div id="price-drop-down" class="filter-drop-down<%= (!params[:pmin].nil?) && params[:pmax]!='' ? " active-filter" : '' %>">
        <div id="price-drop-down-image"></div>
      </div>
      <div id="location-drop-down" class="filter-drop-down<%= params[:wd] ? " active-filter" : '' %>">
        <div id="location-drop-down-image"></div>
      </div>
      <div id="group-drop-down" class="filter-drop-down<%= params[:group] ? " active-filter" : '' %>">
        <div id="group-drop-down-image"></div>
      </div>

      <%= form_tag(search_url+"?", :class => 'search-form form-inline', :method => "get") do %>

          <%= text_field_tag :search_item, '', :value => params[:search_item], :id => "searchTextField", :placeholder => "search (by product, author)", :class => "search-item-field" %>

          <%= hidden_field_tag :latitude, '', :class => "lat" %>
          <%= hidden_field_tag :longitude, '', :class => "long" %>

          <button type="submit" id="browse-submit-button"></button>
      <% end %>
      <div id="vertical-line"></div>
    </div>
  </div>
  <div id="white-area">
    <div id="filter-form-section"></div>
    <div id="all-filters">
      <%= render :partial => "browse/filters" %>
    </div>
  </div>


</div>



<% if params[:view]=="map" %>
    <div id="search-within-map">
      <% if params[:search_within_map] %>
          <input class="search-within-map" type="checkbox" checked="checked" data-url="<%= search_url(params.merge(:page => 1).except(:search_within_map)) %>"/>
      <% else %>
          <input class="search-within-map" type="checkbox" data-url="<%= search_url(params.merge(:page => 1, :search_within_map => "true").except(:latitude, :longitude, :location)) %>"/>
      <% end %>
      Redo search in map
    </div>
    <div id="search-map-container">
      <div id="map_canvas" class="shadow browse-map"></div>
      <div class="btn-group btn-group-vertical" style="position:absolute; left:20px; top:20px;">
        <button type="button" id="zoom-in" class="btn btn-info btn-large">+</button>
        <button type="button" id="zoom-out" class="btn btn-info btn-large">-</button>
      </div>
      <%= image_tag('browse/locationicon2.png', :id => "show-current-location", :class => 'current-location-image') %>
    </div>

<% end %>


<div id="listings-container" class="shadow">
  <div id="listings-top-bar">
    <div id="recommended-listings-for-you">
      <% if !params[:search_item].blank? %>Search results for: <%= params[:search_item] %>
      <% elsif params[:category] %>Browsing <%= params[:category] %>
      <% end %>


    </div>

    <div id="view-and-sort-block">
      <div id="view-select-block">
        View:&nbsp;&nbsp;&nbsp;
        <div class="btn-group" id="browse-view-buttons">
          <% if params[:view]=="rows" %>
              <%= link_to search_url(params.except(:view)), :class => "btn" do %>
                  <i class="icon-th"></i>
              <% end %>
              <button class="btn"><i class="icon-align-justify"></i></button>
          <% elsif params[:view]=="map" %>
              <%= link_to search_url(params.except(:view)), :class => "btn" do %>
                  <i class="icon-th"></i>
              <% end %>
              <%= link_to search_url(params.merge(:view => 'rows')), :class => "btn" do %>
                  <i class="icon-align-justify"></i>
              <% end %>
          <% else #grid view        %>
              <button class="btn"><i class="icon-th"></i></button>
              <%= link_to search_url(params.merge(:view => 'rows')), :class => "btn" do %>
                  <i class="icon-align-justify"></i>
              <% end %>
          <% end %>
        </div>
      </div>
      <div id="sort-by-container">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sort by&nbsp;&nbsp;&nbsp;
        <div class="unstyled dropdown" style="display:inline-block;">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <% if @recommended_view %>
                Recommended
            <% else %>
                <%= @sort_options[@current_sort_index] %>
            <% end %>
          </div>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Recommended", search_url %>
            </li>
            <% @sort_options.each_with_index do |sort_option, index| %>
                <li>
                  <%= link_to sort_option, @sort_links[index] %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="second-top-row">
    <div id="left-block">
      <% if !params[:search_item].blank? && !@alreadyHasAlert %>
          <button class="rep-btn" id="create-alert-button" href="#createAlertModal" role="button" data-toggle="modal">Create
            Alert for "<%= params[:search_item] %>"
          </button>
          <%= render(:partial => "alerts/create_alert_modal", :locals => {:is_new => "true"}) %>
      <% end %>
    </div>
    <div id="right-block">
      <% unless @drop_down_menus.nil? %>
          <span id="additional-filters-toggle" class="show-filters">Additional Filters &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <% end %>

    </div>

  </div>
  <% unless @drop_down_menus.nil? %>

      <div id="additional-filters" style="display:none;">
        <table class="custom-field-table" valign="top">
          <% @drop_down_menus.each_pair do |drop_down_menu_label, drop_down_menu_options| %>
              <%= render(:partial => "browse/custom_field_checkboxes",
                         :locals => {:drop_down_label => drop_down_menu_label, :drop_down_options => drop_down_menu_options}) %>
          <% end %>
        </table>

      </div>
  <% end %>

  <div class="results-list">
    <% if params[:view]!="map" %>
        <%= render :partial => "browse/load_postings" %>
        <div style="display:none;">
          <%= will_paginate @results %>
        </div>
    <% end %>

  </div>
</div>
</div>
<div class="scrollToTop">
  <strong>Scroll To Top</strong>
</div>
<%= google_maps_script %>

<script type="text/javascript" src="/assets/jquery.infinitescroll.min.js"></script>
<script type="text/javascript">
    var page_number = 1;

    function get_url_parameter_value(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.href);
        if (results == null)    return "";
        else    return results[1];
    }

    function add_view_type_to_params(url) {
        if (get_url_parameter_value("view")) {
            url = url + "&view=" + get_url_parameter_value("view");
        }
        return url;
    }


    function remove_other_filters() {
        if (get_url_parameter_value("location") === "")
            $("#location-drop-down").removeClass('active-filter');
        if (get_url_parameter_value("pmin") === "")
            $("#price-drop-down").removeClass('active-filter');
        if (get_url_parameter_value("group") === "")
            $("#group-drop-down").removeClass('active-filter');
    }

    function toggle_price() {
        remove_other_filters();
        if ($('.price-filters')[0] == undefined) {
            $(".filter-drop-down").removeClass('filter-arrow');
            $('#filter-form-section').html("<%= escape_javascript(render(:partial => "browse/price_filter")) %>");

            $("#price-drop-down").addClass('active-filter').addClass('filter-arrow');
            if (get_url_parameter_value("pmin"))
                $('#price-range-min').val(get_url_parameter_value("pmin"));
            if (get_url_parameter_value("pmax"))
                $('#price-range-max').val(get_url_parameter_value("pmax"));

            bind_blur();
        }
        else {
            $('#filter-form-section').html('');
            $("#price-drop-down").removeClass('filter-arrow');

        }
    }


    function toggle_group() {
        remove_other_filters();
        if ($('.group-filters')[0] == undefined) {
            $(".filter-drop-down").removeClass('filter-arrow');
            //switch to ajax later....
            $('#filter-form-section').html("<%= escape_javascript(render(:partial => "browse/groups_filter", :locals => {:users_groups => @users_groups})) %>");
            $("#group-drop-down").addClass('active-filter').addClass('filter-arrow');


            if (get_url_parameter_value("group"))
            {
                $('#group-checkbox0').html("&#x25a2;&nbsp;&nbsp; All of Reppio");
                var $selected_group= $('#group-checkbox' + get_url_parameter_value("group").toString());
                if ($selected_group.length===1)
                  $selected_group.html("&#10003;"+$selected_group.html().substring(1));
            }

            $(".group-checkbox").unbind('click');
            $(".group-checkbox").click(function () {
                var url = generate_url();
                var group_id = $(this).data("url");

                if (group_id !== 1) {
                    if (get_url_parameter_value("group") === "")
                        url = url + "&group=" + group_id;
                    else
                        url = url.replace(/(group=)[^\&]+/, '$1' + group_id);

                }
                else {
                    url = url.replace(/(group=)[^\&]+/, '');
                }

                $('.group-checkbox').each(function () {
                    $(this).html("&#x25a2;"+$(this).html().substring(1));
                });
                $(this).html("&#10003;"+$(this).html().substring(1));

                $.pjax({
                    container:'#listings-container',
                    fragment:'#listings-container',
                    url:url,
                    timeout:5000
                });
                return true;
            });


            bind_blur();
        }
        else {
            $('#filter-form-section').html('');
            $("#group-drop-down").removeClass('filter-arrow');
        }
    }


    function toggle_location() {
        remove_other_filters();
        if ($('.location-filters')[0] == undefined) {
            $(".filter-drop-down").removeClass('filter-arrow');
            //switch to ajax later....
            $('#filter-form-section').html("<%= escape_javascript(render(:partial => "browse/location_filter")) %>");
            $("#location-drop-down").addClass('active-filter').addClass('filter-arrow');

            // turn on autocomplete

            var input = document.getElementById('locationField');
            var options = {
                componentRestrictions:{country:'us'}
            };
            var autocomplete = new google.maps.places.Autocomplete(input, options);

            var infowindow = new google.maps.InfoWindow();

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                infowindow.close();
                var place = autocomplete.getPlace();
                var thelat = place.geometry.location.lat();
                var thelng = place.geometry.location.lng();
                $(".lat").val(thelat);
                $(".long").val(thelng);
                var address = '';
                if (place.address_components) {
                    address = [(place.address_components[0] &&
                            place.address_components[0].short_name || ''),
                        (place.address_components[1] &&
                                place.address_components[1].short_name || ''),
                        (place.address_components[2] &&
                                place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            });

            google.maps.event.addDomListener(document.getElementById("current-location-no-map"), 'click', function () {
                if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (pos) {
                    set_address(pos.coords.latitude, pos.coords.longitude);
                }, function (error) {
                    jQuery.ajax({
                        url:'http://www.google.com/jsapi?autoload={%22modules%22%3A[{%22name%22%3A%22maps%22%2C%22version%22%3A%222%22}]}',
                        dataType:'script',
                        success:function () {
                            if (google.loader.ClientLocation) {
                                set_address(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
                            }
                            else {
                                alert('Sorry, we could not determine your location.');
                            }
                        }
                    });

                });

                $('#current-location-no-map').attr('src', "<%= asset_path "browse/locationicon1.png" %>");

            });

            if (get_url_parameter_value("wd"))
                $('#within-distance').val(get_url_parameter_value("wd"));
            if (get_url_parameter_value("location"))
                $('#locationField').val(decodeURIComponent(get_url_parameter_value("location").replace(/\+/g, " ")));


            bind_blur();
        }
        else {
            $('#filter-form-section').html('');
            $("#location-drop-down").removeClass('filter-arrow');
        }
    }

    function set_address(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng':latlng}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    $('#locationField').val(results[0].formatted_address.replace(", USA", ""));
                    $(".lat").val(results[0].geometry.location.lat());
                    $(".long").val(results[0].geometry.location.lng());
                    generate_url_and_update_listings_container();
                }
            } else {
                alert("Geocoder failed due to: " + status);
            }
        });
    }

    function generate_url() {
        var url = $(".search-form").attr('action') + "&" + $(".search-form").serialize();
        if ($('#within-distance').val())
            url = url + "&wd=" + $('#within-distance').val();
        else if (get_url_parameter_value("wd") !== "")
            url = url + "&wd=" + get_url_parameter_value("wd");

        if ($('#price-range-min').val())
            url = url + "&pmin=" + $('#price-range-min').val();
        else if (get_url_parameter_value("pmin") !== "")
            url = url + "&pmin=" + get_url_parameter_value("pmin");


        if ($('#price-range-max').val())
            url = url + "&pmax=" + $('#price-range-max').val();
        else if (get_url_parameter_value("pmax") !== "")
            url = url + "&pmax=" + get_url_parameter_value("pmax");

        if ($('#locationField').val())
            url = url + "&location=" + $('#locationField').val();
        else if (get_url_parameter_value("location") !== "")
            url = url + "&location=" + get_url_parameter_value("location");

        if (get_url_parameter_value("group") !== "")
            url = url + "&group=" + get_url_parameter_value("group");

        return url;
    }

    function generate_url_and_update_listings_container() {
        var url = generate_url();

        $.pjax({
            container:'#listings-container',
            fragment:'#listings-container',
            url:add_view_type_to_params(url),
            timeout:5000
        });
    }

    function bind_blur() {
        $('#price-range-max, #price-range-min, #within-distance, #locationField').blur(function () {
            generate_url_and_update_listings_container()
        });
        $('#price-range-max, #price-range-min, #within-distance, #locationField').bind('keypress', function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                generate_url_and_update_listings_container();
                return false;
            }
        });
    }

    function scripts_that_need_to_be_reloaded_when_whole_search_page_is_loaded() {
        scripts_that_need_to_be_reloaded_after_listing_container_is_loaded();


        $(".search-item-field").autocomplete({
            source:function (request, response) {
                $.ajax({
                    url:'http://www.reppio.com/search_json',
                    dataType:"json",
                    data:{
                        user_input:request.term
                    },
                    success:function (data) {
                        var response_array = []
                        if (data.length > 0) {

                            response_array.push({label:"All items in " + data[0], value:data[0]})

                            for (var i = 0; i < data.length; i++) {
                                response_array.push({
                                    label:'"' + request.term + '" in ' + data[i],
                                    value:data[i]
                                });
                            }

                            response_array.push({label:'"' + request.term + '" in All Categories', value:"All"})


                        }
                        response(response_array);
                    }
                });
            },
            minLength:3,
            select:function (event, ui) {

                // use jquery selector to remove search param
                if (ui.item.label.indexOf("All items in ") !== -1) {
                    var url = "<%= search_url %>?" + $('.search-form input:not(#searchTextField)').serialize() + "&category=" + encodeURIComponent(ui.item.value);
                    $.pjax({
                        container:'#search-container',
                        fragment:'#search-container',
                        url:add_view_type_to_params(url),
                        timeout:5000
                    });
                    return false;
                }

                var url = "<%= search_url %>?" + $('.search-form').serialize() + "&category=" + encodeURIComponent(ui.item.value);
                $.pjax({
                    container:'#search-container',
                    fragment:'#search-container',
                    url:add_view_type_to_params(url),
                    timeout:5000
                });
                return false;
            },
            open:function () {
                $(this).autocomplete('widget').css('z-index', 10);
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close:function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            },
            focus:function () {
                return false;
            }
        });


        $("#price-drop-down-image").unbind('click');
        $('#price-drop-down-image').click(function () {
            toggle_price();
        });

        $("#location-drop-down-image").unbind('click');
        $('#location-drop-down-image').click(function () {
            toggle_location();
        });

        $("#group-drop-down-image").unbind('click');
        $('#group-drop-down-image').click(function () {
            toggle_group();
        });


        $(".search-form").submit(function () {
            if ($(".lat").val() != '') {
                var url = $(".search-form").attr('action') + "&" + $(".search-form").serialize();
                $.pjax({
                    container:'#listings-container',
                    fragment:'#listings-container',
                    url:add_view_type_to_params(url),
                    timeout:5000
                });
                return false;
            }
            else //try getting geocode
            {

                var url = $(".search-form").attr('action') + "&" + $(".search-form").serialize();
                $.pjax({
                    container:'#listings-container',
                    fragment:'#listings-container',
                    url:add_view_type_to_params(url),
                    timeout:5000
                });

            }

        });

    }
    function scripts_that_need_to_be_reloaded_after_listing_container_is_loaded() {

        $(".lat").val('');
        $(".long").val('');

        $(".posting_picture, .posting_picture > *").unbind('click');
        $(".posting_picture, .posting_picture > *").click(function () {
            window.location.href = $(this).data('url');
        });

        $(".seller-pic a").unbind('click');
        $(".seller-pic a").click(function (e) {
            e.stopPropagation();
            return true;
        });


        $("a.location-marker-link").unbind('click');
        $("a.location-marker-link").click(function (e) {
            e.stopPropagation();
            $.ajax({
                url:$(this).attr('href'),
                type:'GET'
            });
            return false;

        });

        $(".grid-result .posting_picture").unbind('hover');
        $('.grid-result .posting_picture').hover(function () {
            if ($(this).find('.posting-map-canvas')[0] == undefined)
                $(this).closest('.grid-result').find('.text-distance').hide();
        }, function () {
            $(this).closest('.grid-result').find('.text-distance').show();
        });


        $('.bookmark').unbind('click');
        $(".bookmark").click(function (e) {
            var postID = parseInt($(this).closest('.result-row').data('id'));
            if ($(this).find('.bookmarked').length > 0) {
                $(this).find('.bookmarked').addClass("bookmark-this").removeClass("bookmarked");
            }
            else {
                $(this).find('.bookmark-this').addClass("bookmarked").removeClass("bookmark-this");
            }
            $.post('<%= bookmarks_url %>', {posting_id:postID});
            e.stopPropagation();
            return false;
        });

        var accessToken = "<%= session[:fb_token] %>";
        var rowView = (get_url_parameter_value("view") === "rows");
        $(".friendlist").each(function () {
            var thisElem = $(this);
            var sellerID = thisElem.parent().data("sellerid");
            var postingIsMine = thisElem.parent().data("postingismine");
            var sellerName = thisElem.parent().data("sellername");
            if ((accessToken != "") && (sellerID != "") && !postingIsMine) {

                var isFacebookFriend = false;
                $.getJSON('https://graph.facebook.com/me/friends/' + sellerID + "?access_token=" + accessToken, function (data) {

                    if (data.data.length >= 1) {
                        var directFriends = data.data[0].name;
                        isFacebookFriend = true;
                    }
                });
                // Seller and buyer are not friends, maybe they have mutual friends
                $.getJSON('https://graph.facebook.com/me/mutualfriends/' + sellerID + "?access_token=" + accessToken + "&callback=?", function (data) {
                    var friendCount = data.data.length;
                    if (friendCount > 0) {

                        if (friendCount > 1)
                            var mutualFriendsPlural = " mutual friends"
                        else
                            var mutualFriendsPlural = " mutual friend"

                        if (isFacebookFriend) {
                            var dropDownTitle = "You're friends";
                        }
                        else {

                            var dropDownTitle = friendCount + mutualFriendsPlural;
                        }
                        var friendCountLabel = friendCount + mutualFriendsPlural;


                        if (rowView) {
                            var randomizedData = data.data.sort(function (a, b) {
                                return 0.5 - Math.random()
                            });

                            var friendIDs = [];
                            var friendNames = [];
                            $.each(randomizedData.slice(0, 3), function (key, val) {
                                friendNames.push(val.name.split(' ')[0]);
                                friendIDs.push(val.id);
                            });
                            var pics = "";
                            var names = "";
                            for (var i = 0; i < friendIDs.length; i++) {
                                pics = pics + '<td><img src="https://graph.facebook.com/' + friendIDs[i] + "/picture?access_token=" + accessToken + '" /></td>';
                                names = names + "<td>" + friendNames[i] + "</td>";
                            }


                            var popover_content = "<table class=\"mutualloaded\"><tr>" + pics + "</tr><tr>" + names + "</tr></table>";

                            var findReplace = [
                                [/&/g, "&amp;"],
                                [/</g, "&lt;"],
                                [/>/g, "&gt;"],
                                [/"/g, "&quot;"]
                            ]
                            for (var item in findReplace)
                                popover_content = popover_content.replace(findReplace[item][0], findReplace[item][1]);

                            thisElem.html(
                                    '<span rel="popover" data-content="' + popover_content + '" ' +
                                            'data-original-title="' + friendCountLabel + '">' +
                                            '<%= image_tag "browse/facebook-icon-browse.png" %>  ' +
                                            dropDownTitle +
                                            '</span>');

                            $('span[rel=popover]').popover({ html:true, trigger:'hover', container:'body', placement:'bottom' });
                        }
                        else {
                            thisElem.html(dropDownTitle + " with " + sellerName);
                        }

                    }
                    else { // no friends!
                        if (rowView)
                            thisElem.parent().hide();
                        else
                            thisElem.html(sellerName);
                    }
                });
            }
            else if ((accessToken == "" && sellerID != "") || ((sellerID == "") || postingIsMine)) {
                if (rowView)
                    thisElem.parent().hide();
                else
                    thisElem.html(sellerName);
            }
        });


        $('#additional-filters-toggle').unbind('click');
        $('#additional-filters-toggle').click(function () {
            if ($(this).hasClass('show-filters')) {
                $(this).addClass('hide-filters').removeClass('show-filters');
                $('#additional-filters').slideDown();
            }
            else {
                $(this).addClass('show-filters').removeClass('hide-filters');
                $('#additional-filters').slideUp();
            }
        });

        $(".custom-field-table-checkboxes a, #browse-view-buttons a, #sort-by-container a").unbind('click');
        $(".custom-field-table-checkboxes a, #browse-view-buttons a, #sort-by-container a").click(function (e) {
            $.pjax({
                container:'#listings-container',
                fragment:'#listings-container',
                url:$(this).attr('href'),
                timeout:5000
            });
        });


        if ($(".pagination")[0] != undefined) {
            $('.pagination a[rel=next]').each(function () {
                $(this).attr('href', $(this).attr('href') + "&ajaxload=true");
            });
        }
        $('.results-list').infinitescroll({
                    navSelector:'.pagination',
                    nextSelector:'.pagination a',
                    itemSelector:'.result-row',
                    loading:{
                        finishedMsg:"<em>All postings matching your search criteria have been loaded.</em>",
                        msgText:"<em>Loading more postings...</em>"
                    }
                }
                , function () {
                    scripts_that_need_to_be_reloaded_after_listing_container_is_loaded();
                    page_number = page_number + 1;
//                    $.getScript($('.pagination a[rel=next]').attr('href') + "&mapscripts=true&page=" + page_number);
                });
    }


    //        one-time scripts to load at beginning

    $.pjax.defaults.scrollTo = false;
    $(document).on('pjax:beforeSend',function () {
        $('#listings-loader').show();
    }).on('pjax:success', function (event, data, status, xhr, options) {
                $('#listings-loader').hide();
                if (options.container === "#search-container" || options.container.selector === "#search-container") {
                    scripts_that_need_to_be_reloaded_when_whole_search_page_is_loaded();
                }
                else {
                    $.getScript(window.location.href + "&update_filters=true");
                    scripts_that_need_to_be_reloaded_after_listing_container_is_loaded();

                }
//                $.getScript(window.location.href + "&mapscripts=true&page=1");
                page_number = 1;
            });


    scripts_that_need_to_be_reloaded_when_whole_search_page_is_loaded();

    //Check to see if the window is top if not then display button
    $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
            $('.scrollToTop').animate({'bottom':'-10px'}, 350);
        } else {
            $('.scrollToTop').animate({'bottom':'-100px'}, 350);
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function () {
        $('html, body').animate({scrollTop:0}, 800);
        return false;
    });

</script>

<% if params[:view]=="map" %>
    <%= render :partial => "browse/map_view" %>
<% end %>