<strong><%= @sender_first_name %> (Rep <%= @sender_repscore %>)</strong> has sent you a message.  <br>
<strong>Listing:</strong> <%= @listing_title %>   <br>
<br>
<%= @body_text %> <br>
<br>
<br>
<a href="<%= @link_to_conversation %>">View/reply to message</a>
