<strong><%= @sender_first_name %> (Rep <%= @sender_repscore %>)</strong> has made an offer.  <br>
<strong>Listing:</strong> <%= @postingTitle %>   <br>
<strong>Offer:</strong> <%= @offerPrice %>   <br>
<br>
<%= @message %> <br>
<br>
<br>
<a href="<%= @link_to_conversation %>">View/reply to message</a>
