<% if !@pendingApprovals.empty? %>
    <script type="text/javascript" src="/assets/jquery.rating.pack.js"></script>


    <div style="padding:20px; background-color:#F6F6F6; margin-left:20px;margin-right:30px; margin-bottom:20px;">
      <% @pendingApprovals.each do |approval|

        #get the other party for the approval
        otherParty = User.find_by_id(approval.reference_written_by_user_id)
      %>

          <div class="pending_review" id="approval<%= otherParty.id %>">
            <div class="profilePicture pull-left"><%= link_to profile_pic_if_exists("thumb", otherParty), otherParty %></div>
            <div class="profileAvatarInfo pull-left">
              <h4 style="margin-top:0px;"><%= link_to otherParty.first_name + ' ' + otherParty.last_name, otherParty %></h4>
              <span class="label" style="padding-top:0px">Rep <%= otherParty.repscore %></span><br><br>
            </div>
            <div style="float:left;margin-left:30px; background-color:#FFC972; margin-top:10px; padding:5px 10px 5px 10px; border-radius: 5px;">
              <b>Congratulations! <%= otherParty.first_name %> wrote you a reference.</b>
            </div>

            <div class="reviewEditDetail" style="clear: both; padding-top:5px">
              <b>Relationship with you:</b><br>
              <%= approval.relationship %>
              <br><br>
              <b>Reference text:</b><br>
              <%= approval.reference_text %>
              <br><br>

              <div class="btn-group">
                <%= link_to "Approve", accept_or_reject_references_url(:id => approval.id, :accept => "yes"), :class => "btn btn-primary", :remote => true %>
                <%= link_to "Reject", accept_or_reject_references_url(:id => approval.id, :accept => "no"), :class => "btn btn-danger", :remote => true %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
<% end %>

