<% if !pending.empty? %>
  <div style="margin-right:45px;">
    <script type="text/javascript" src="/assets/jquery.rating.pack.js"></script>
    <div>
      <% pending.each do |otherPartyId|
        otherParty = User.find_by_id(otherPartyId)
      %>
          <div style="background-color:#F6F6F6; padding:20px;" class="pending_review" id="reference<%= otherPartyId %>">
            <div class="profilePicture" style="float:left; margin-bottom:10px;"><%= link_to otherParty do%><%= profile_pic_if_exists("thumb", otherParty) %><% end %></div>
            <div class="profileAvatarInfo" style="float:left;">
              <h4 style="margin-top:0px;"><%= link_to otherParty.first_name, otherParty %></h4>
              <span class="label" style="padding-top:0px">Rep <%= otherParty.repscore %></span><br><br>
            </div>
            <div style="float:left; margin-left:30px; margin-top:15px; padding:3px 10px 5px 10px; border-radius:5px; background-color:#FFC972;">
              <b><%= truncate(otherParty.first_name, :length => 12, :separator=>"") %> has asked you to write a reference.</b>
            </div>

            <div class="reviewEditDetail" style="clear: both; margin-top:5px">

              <%= form_for @reference, :class => "reviewBody form-inline small-text", :remote=>true do |f| %>
                  <% placeholderText = "#{otherParty.first_name} has asked you to write a reference. Please tell us how you know #{otherParty.first_name} and why you would recommend him/her." %>
                  <span class="small-text">
                    Relationship with <%= otherParty.first_name %><br>
                    <%= f.text_area :relationship, :placeholder => "e.g. Brother, College buddy", :maxlength=>20, :style=>"height:20px; width:90%; padding-right:0px;", :class=>"wide-text" %>
                  </span>
                  <%= f.text_area :reference_text, :placeholder => placeholderText, :class => "wide-text", :style => "margin-top:10px; height: 110px; width: 90%; padding-right:0px;" %>
                  <%= f.hidden_field :reference_for_user_id, :value => otherParty.id %>
                  <%= f.hidden_field :reference_written_by_user_id, :value => current_user.id %>
                  <p><%= f.submit "Submit", :class => "btn btn-primary" %></p>
              <% end %>
            </div>
          </div>
          <br>
      <% end %>
    </div>
  </div>
<% end %>
<br>