<% if (@references.empty?) %>
    <% if !current_user.nil? && current_user.user_name == @user.user_name %>
        <p>
          You have no references yet!
          In the meanwhile, why don't you check out how to
          <%= link_to "improve your repscore?", rep_center_references_url %>
        </p>
    <% else %>
        <p>
          No references yet for <%= @user.first_name.capitalize %>!
        </p>
    <% end %>
<% end %>
<% @references.each do |reference|
  referrer = User.find(reference.reference_written_by_user_id)
%>
    <div style="margin-top:20px">

      <div class="profilePicture" style="float:left; margin-bottom:10px;">
        <%= profile_pic_if_exists("thumb", referrer) %>
      </div>
      <div style="float:left; margin-left:5px;">
        <span><b><%= referrer.first_name %></b>
          <span class="label hasTooltip" title="Rep Score">Rep <%= referrer.repscore %></span>
        <br><span class="small-text"><%= reference.created_at.strftime("%B %e, %Y") %></span></span>
        <% if !(reference.relationship.nil? || reference.relationship.blank?) %>
            <br><span class="small-text">Relationship: <%= reference.relationship %></span>
        <% end %>
      </div>

      <div style="clear:both;">
        <p><%= reference.reference_text %><br/></p>
      </div>
    </div>

<% end %>