var existingStyle = $('.pending_review[id="approval<%= @reference.reference_written_by_user_id %>"]').attr('style')
$('.pending_review[id="approval<%=@reference.reference_written_by_user_id%>"]').html("<%= @message %><br><br>");