<% if @referenceWasBlank %>
var existing_style=$('#reference<%=@reference.reference_for_user_id%> .wide-text').attr("style");
$('#reference<%=@reference.reference_for_user_id%> .wide-text').attr("style", existing_style +"border-color:red;");
<% elsif @alreadyWrittenForThisUser %>
$('.pending_review[id="reference<%=@reference.reference_for_user_id%>"]').html("You've already written a reference for this user. Thanks!<br><br>");
<% else %>
$('.pending_review[id="reference<%=@reference.reference_for_user_id%>"]').html("Thanks for the reference.<br><br>");
<% end %>