<%
@gray_black="#333"
@gray="#414240"
@reppio_red="#ee5229"
%>

.rep-score-grid-result {
    position: absolute;
    bottom: 4px;
    right: 5px;
}

.rep-score-posting-row-search {
    position: absolute;
    right: 5px;
    bottom: 7px;
}

#search-container {
    width: 961px;
    margin: auto;
    font-family: 'omnes-pro', sans-serif;
}

.search-form {
    position: relative;
}

#options input[type="checkbox"] {
    height: 15px;
    vertical-align: text-bottom;
}

#browse-by-category-selector {
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    height: 42px;
    padding: 20px 10px 0px 10px;
    width: 200px;
    cursor: pointer;
}

.browse-map {
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
}

.result-row a, .result-row a:visited {
    color: <%= @gray_black %>;
}

.result-row a:hover {
    color: <%= @reppio_red %>;
}

#listings-container {
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
    text-align: center;
    margin-top: 20px;
    min-height: 200px;
}

.shadow {
    -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

.bookmark {
    cursor: pointer;
}

.results-list {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    /*margin-left: -11px;*/
}

#listings-top-bar {
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: #F65B39;
}

.active-view {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #005f6d;
}

.arrow-bottom {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #005f6d;
    position: absolute;
    bottom: -4px;
    left: 7px;
}

.card-shape {
    width: 268px;
    height: 348px;
    top: 0;
    right: 0;
    background-color: #333333;
    position: absolute;
    border: solid 1px #333333;
}

.blue-title-section {
    position: absolute;
    top: 269px;
    right: 0;
    background-color: #33bbd2;
    height: 30px;
    width: 270px;
    border-bottom: solid 1px white;
    font-weight: bold;
    line-height: 32px;
}

.blue-title-section a {
    margin-left: 10px;
    color: black;
}

#search-container #searchTextField {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    left: 385px;
    top: 16px;
    width: 546px;
    height: 34px;
    margin-left: -4px;
    border-radius: 5px;
    font-size: 15px !important;
    padding: 5px 5px 5px 20px;
}

#search-container #searchTextField::-webkit-input-placeholder {
    font-size: 20px;
    color: #F65B39;
    font-weight: 300;
}

#search-container #searchTextField::-webkit-input-placeholder {
    font-size: 20px;
    color: #F65B39;
    font-weight: 300;
}

#search-container #searchTextField::-moz-placeholder {
    font-size: 20px;
    color: #F65B39;
    font-weight: 300;
}

#search-container #searchTextField:-ms-input-placeholder {
    font-size: 20px;
    color: #F65B39;
    font-weight: 300;
}

#vertical-line {

    position: absolute;
    border-left: solid 2px white;
    left: 225px;
    top: 10px;
    height: 45px;

}

.text-field-large {
    height: 35px !important;
    width: 350px;
    padding: 0px !important;
}

#search-button {
    width: 190px;
    height: 60px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 5px;
}

#toggle-options {
    width: 160px;
    border: none;
    border-shading: none;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 5px;
    color: white;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.show-options {
    height: 47px;
    background: url(<%= image_path 'browse/show-options.png' %>) center bottom no-repeat;

}

.hide-options {
    height: 60px;
    background: url(<%= image_path 'browse/hide-options.png' %>) center bottom no-repeat;
}

#options {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 70px;
    margin: 30px;
}

#search-map-container {
    position: relative;
    width: 100%;
    display: block;
    height: 400px;
    margin-bottom: 50px;
}

.current-location-image {
    cursor: pointer;
}

.location-filters .current-location-image {
    height: 20px;
}

#show-current-location {
    position: absolute;
    top: 20px;
    right: 20px;
}

#infscr-loading {
    text-align: center;
}

#listings-loader {
    border: 2px solid gray;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #f9f9f9;
    z-index: 10000;
}

#listings-loader img {
    margin: 20px;
}

.options-text-field {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 48px;

    margin-bottom: 0px;
    cursor: text;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    padding-left: 10px;
    -webkit-appearance: button;
    -moz-appearance: window;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: -o-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
}

.price-text-field {
    padding-left: 60px;
    width: 150px;
    background: url(<%= image_path 'browse/price-label.png' %>) left top no-repeat, -webkit-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: url(<%= image_path 'browse/price-label.png' %>) left top no-repeat, -moz-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: url(<%= image_path 'browse/price-label.png' %>) left top no-repeat, -o-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: url(<%= image_path 'browse/price-label.png' %>) left top no-repeat, -ms-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;
    background: url(<%= image_path 'browse/price-label.png' %>) left top no-repeat, linear-gradient(to bottom, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03)), #fff;

}

    /*GRID VIEW*/

.posting_description {
    display: none;
    position: absolute;
    top: 70px;
    left: 15px;
    width: 230px;
    height: 140px;
    overflow: hidden;
    font-size: 14px;
    color: white;
    text-align: left;
}

.mutualfriends {
    position: absolute;
    cursor: pointer;
}

.grid-result .mutualfriends {
    display: none;
    right: 60px;
    bottom: -65px;
    color: white;
}

.list-td .bookmark-list .bookmark-this {
    display: none;
    background: url(<%= asset_path 'browse/heart1.png' %>) center center no-repeat;
    width: 35px;
    height: 30px;
}

.list-td .bookmarked {
    display: block;
    background: url(<%= asset_path 'browse/heart2.png' %>) center center no-repeat;
    width: 35px;
    height: 30px;
}

.list-td:hover .bookmark-list .bookmark-this {
    display: block;
}

.list-td .mutualfriends {
    width: 180px;
    left: 520px;
    bottom: 10px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.list-td .mutualfriends img {
    width: 30px;
    height: 30px;
}

.posting-picture-map {
    position: absolute;
    top: 0;
    left: 0;
    height: 260px;
    width: 260px;
    cursor: pointer;
}

.posting_picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 268px;
    width: 268px;
    background-color: black;
    cursor: pointer;
}

.posting_picture:hover .posting_description, .posting_picture:hover .bookmark-this, .posting_picture:hover .seller-pic,
.posting_picture:hover .location-marker,
.posting_picture:hover .mutualfriends {
    display: block;
    opacity: 1;
}

.text-distance {
    position: absolute;
    bottom: -10px;
    left: 42px;
    color: white;
    display: block;
    opacity: 1;
}

.text-distance:hover {
    opacity: 0.9;
}

.active-map {
    opacity: 0.5;
}

.posting_picture .seller-pic {
    right: 5px;
    bottom: -36px;
    z-index: 2;
    -webkit-transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
}

.posting_picture:hover .bookmark img {
    display: inline;
}

.posting_picture .posting_picture_image {
    width: 268px;
    height: 268px;
    display: block;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.posting_picture:hover .posting_picture_image {
    opacity: 0.3;
    filter: alpha(opacity = 30) \9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    background: rgba(0, 0, 0, 0.3);
}

#all-filters {
    border-top: 1px solid #BBB;
    background-color: #EEE;
    width: 890px;
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
    color: #F65B39;
}

#all-filters a, #all-filters a:visited {
    color: #F65B39;
}

.price-filters, .group-filters, .location-filters {
    padding-top: 20px;
    padding-bottom: 10px;
}

.grid-bookmark .bookmarked {
    display: block;
    background: url(<%= asset_path 'browse/heart2.png' %>) center center no-repeat;
    width: 35px;
    height: 30px;
}

.grid-bookmark .bookmark-this {
    display: none;
    background: url(<%= asset_path 'browse/heart3.png' %>) center center no-repeat;
    width: 35px;
    height: 30px;
}

.grid-bookmark {
    position: absolute;
    right: 10px;
    top: 12px;
    opacity: 1;
}

.grid-bookmark:hover {
    opacity: 0.5;
}

.grid-result {
    display: inline-block;
    margin: 0px 15px 40px -10px;
    width: 295px;
    height: 330px;
    position: relative;
}

.gray-gradient {
    background-color: #c3c3c3;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .25);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .25);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .25);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
}

.orange-top {
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 40px;
    width: 100%;
    z-index: 0;
    border: none !important;
}

.time-gray {
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px;
    height: 40px;
    border-bottom: solid 1px #767676;
}

.map-gray {
    position: absolute;
    left: 0;
    width: 100%;
    top: 80px;
    height: 60px;
    border-bottom: solid 1px #767676;
}

.rep-score-gray {
    position: absolute;
    left: 0;
    width: 100%;
    top: 140px;
    height: 60px;
    border-bottom: solid 1px #767676;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.faded-marker {
    position: absolute;
    top: 100px;
    right: 25px;

}

    /*LIST VIEW*/

.list-td {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    width: 910px;
    height: 130px;
    overflow: hidden;
    text-align: left;
    border-radius: 5px;
    border: solid 1px #999;
}

.light-gray-gradient {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(5, 5, 5, .4), inset 0 1px rgba(255, 255, 255, .4);
    -moz-box-shadow: 0 1px 3px rgba(5, 5, 5, .4), inset 0 1px rgba(255, 255, 255, .4);
    box-shadow: 0 1px 3px rgba(5, 5, 5, .4), inset 0 1px rgba(255, 255, 255, .4);

    background-image: -webkit-linear-gradient(bottom, rgba(5, 5, 5, .03), rgba(255, 255, 255, .03));
    background-image: -moz-linear-gradient(bottom, rgba(5, 5, 5, .03), rgba(255, 255, 255, .03));
    background-image: -o-linear-gradient(bottom, rgba(5, 5, 5, .03), rgba(255, 255, 255, .03));
    background-image: -ms-linear-gradient(bottom, rgba(5, 5, 5, .03), rgba(255, 255, 255, .03));
    background-image: linear-gradient(to top, rgba(5, 5, 5, .03), rgba(255, 255, 255, .03));
}

.list-item-picture {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    border-right: solid 1px #767676;
    overflow: hidden;
    height: 130px;
    width: 130px;
    background-color: black;
}

.list-item-picture img {
    width: 130px;
    height: 130px;
}

.list-title {
    position: absolute;
    top: 10px;
    left: 140px;
    width: 1000px;
    font-weight: bold;
    font-size: 20px;
}

.list-completed-reason {
    position: absolute;
    left: 140px;
    bottom: 10px;
    color: #AAA;
    font-size: 12px;
}

.list-completed-reason a {
    font-weight: bold;
}

.list-description {
    position: absolute;
    top: 40px;
    left: 140px;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
}

.orange-price-label {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    background-color: orangered;
    height: 35px;
    width: 70px;
}

.text-price {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 70px;
    text-align: center;

}

.grid-result .text-price {
    top: 20px;
    left: 15px;
}

.list-search-price-pos {
    left: 830px;
    top: 17px;
}

.list-manage-price-pos {
    left: 675px;
    top: 17px;
}

.list-posting-and-time {
    position: absolute;
    bottom: 10px;
    left: 140px;
    font-size: 12px;
    font-weight: bold;
}

.list-rep {
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-weight: bold;
}

.list-rep-score {
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-weight: bold;
    font-size: 30px;
}

.seller-pic {
    position: absolute;
    bottom: 10px;
    right: 75px;
}

.seller-pic img, .buyer-pic img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.seller-name {
    position: absolute;
    bottom: 10px;
    right: 125px;
    font-size: 12px;
    font-weight: bold;
}

.bookmark-list {
    position: absolute;
    bottom: 5px;
    left: 350px;
    font-size: 12px;
    font-weight: bold;
}

.bookmark-list img {
    width: 30px;
    height: 30px;
}

.ui-autocomplete-loading {
    background: white url(<%= asset_path 'browse/ui-anim_basic_16x16.gif'%>) center left no-repeat;
}

.ui-menu-item a {
    font-size: 12px;
    padding: 10px !important;
}

.ui-state-hover {
    border: 1px solid white !important;
    background: #bafffc !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

#search-within-map {
    color: white;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.price-container {
    position: relative;
}

.scrollToTop {
    right: 15px;
    bottom: -100px;
    width: 50px;
    padding: 20px 10px 25px;
    text-align: center;
    font-family: 'helvetica neue', arial, sans-serif;
    font-weight: normal;
    color: #666060;
    text-decoration: none;
    position: fixed;
    cursor: pointer;
    font-size: 15px;
    border-radius: .3em;
    border: 1px solid #BBB;
    background-color: #f0eded;
    background: -moz-linear-gradient(center top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background: -o-linear-gradient(top left, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfafb), to(#f0eded), color-stop(.5, #f9f7f7), color-stop(.5, #f6f3f4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdfafb', endColorstr = '#f0eded');
}

.scrollToTop:hover {
    text-decoration: none;
}

#orange-search-bar {
    width: 100%;
    height: 65px;
    position: relative;
}

#orange-category-selector {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 215px;
    font-size: 23px;
    color: white;
    text-align: center;
    cursor: pointer;
}

#orange-category-selector li a, #orange-category-selector li a:visited {
    color: white;
}

#orange-category-selector li:nth-child(n+2) {
    border-top: solid 1px white;
}

#orange-category-selector .dropdown-menu {
    color: white;
    background-color: rgba(51, 187, 210, 0.9);
    border-radius: 0;
    border: solid 1px white;
    font-size: 14px;
}

#orange-category-selector img {
    position: absolute;
    top: 4px;
    left: 5px;
}

#orange-category-selector .dropdown-menu li:hover {
    background-color: rgba(255, 77, 34, 0.85);
}

#first-category-dropdown {
    margin-top: 30px;
}

#orange-category-selector .dropdown-menu li > a:hover, #orange-category-selector .dropdown-menu li > a:focus,
#orange-category-selector .dropdown-submenu:hover > a {
    background: transparent;
}

.dropdown-submenu {
    height: 30px;
}

.dropdown-submenu:hover {
    background-color: rgba(255, 77, 34, 0.85);
}

#orange-category-selector .dropdown-menu li > a {
    padding: 3px 40px;
}

#orange-category-selector .dropdown-menu .dropdown-submenu li > a {
    padding: 3px 20px;
}

.dropdown-menu {
    padding: 0px;
}

#orange-category-selector .open:after {
    content: "";
    display: block;
    width: 0;
    border: solid 10px;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 76%;
    margin-left: -10px;
    top: 33px;
}

#price-drop-down {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 245px;
}

#price-drop-down-image {
    height: 32px;
    width: 32px;
    background: url(<%= asset_path 'browse/filterprice1.png' %>) center center no-repeat;
    background-size: 32px 32px;
}

.open #price-drop-down-image, .active-filter #price-drop-down-image {
    background: url(<%= asset_path 'browse/filterprice2.png' %>) center center no-repeat;
    background-size: 31px 31px;
}

#location-drop-down {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 290px;
}

#location-drop-down-image {
    height: 32px;
    width: 32px;
    background: url(<%= asset_path 'browse/filterlocation1.png' %>) center center no-repeat;
    background-size: 32px 32px;
}

.open #location-drop-down-image, .active-filter #location-drop-down-image {
    background: url(<%= asset_path 'browse/filterlocation2.png' %>) center center no-repeat;
    background-size: 31px 31px;
}

#group-drop-down {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 335px;
}

#group-drop-down-image {
    height: 32px;
    width: 32px;
    background: url(<%= asset_path 'browse/filtergroup1.png' %>) center center no-repeat;
    background-size: 32px 32px;
}

.open #group-drop-down-image, .active-filter #group-drop-down-image {
    background: url(<%= asset_path 'browse/filtergroup2.png' %>) center center no-repeat;
    background-size: 31px 31px;
}

#filter-form-section {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 890px;
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
    color: #F65B39;
}

.filter-drop-down li a, .filter-drop-down li a:visited {
    color: #F65B39;
    font-weight: 300;
    /*margin: 5px;*/
}

.filter-drop-down {
    cursor: pointer;
}

.filter-drop-down li:nth-child(n+2) {
    border-top: solid 2px #F65B39;
}

.filter-drop-down .dropdown-menu {
    color: white;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    border: solid 1px #33bbd2;
    font-size: 20px;
    margin-left: -70px;
}

.filter-drop-down.filter-arrow:after {
    content: "";
    display: block;
    width: 0;
    border: solid 12px;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 26px;
}

.fill-in-the-blank {
    border: none !important;
    box-shadow: none !important;
    border-bottom: solid 1px #F65B39 !important;
    border-radius: 0px !important;

}

#price-range-min, #price-range-max {
    width: 60px;
}

#browse-submit-button {
    position: absolute;
    width: 35px;
    height: 32px;
    right: 35px;
    top: 17px;
    border: none;
    background: url(<%= asset_path 'browse/searchbutton1.png' %>) top left no-repeat;
    background-size: 35px 32px;
}

#browse-submit-button:hover {
    background: url(<%= asset_path 'browse/searchbutton2.png' %>) top left no-repeat;
    background-size: 35px 32px;
}

#all-search-stuff {
    background-color: #F65B39;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-size: 20px;
}

.filter-bubble {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

.price-tag {
    position: absolute;
    top: 12px;
    left: 8px;
    height: 39px;
    width: 70px;
    background: url(<%= asset_path 'browse/pricetag.png' %>) center center no-repeat;
}

.location-marker {
    background: url(<%= asset_path 'browse/locationicon.png' %>) center center no-repeat;
    position: absolute;
    right: 70px;
    top: 12px;
    width: 20px;
    height: 30px;
    display: none;
}

.filter-title {
    font-size: 20px;
    font-weight: 400;
}

.filter-inputs {
    font-weight: 300;
}

#white-area {
    background-color: white;

}

#browse-view-buttons a {
    color: #F65B39;
    background: white;
    border: solid 1px #F65B39;
}

#browse-view-buttons button, #create-alert-button {
    background: #F65B39;
    color: white;
    border: solid 1px #F65B39;
}

#create-alert-button:hover {
    background: #fe5c3a;
}

#create-alert-button, #additional-filters-toggle {
    margin-bottom: 20px;
}

#additional-filters {
    margin-top: 20px;
}

#second-top-row {
    text-align: left;
    margin-left: 15px;
}

#second-top-row #left-block {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-top: -5px;
}

#second-top-row #right-block {
    display: inline-block;
    width: 580px;
    text-align: right;
}

#recommended-listings-for-you {
    margin-top: 13px;
    display: inline-block;
    margin-left: 15px;
    width: 300px;
    text-align: left;
}

#sort-by-container .dropdown-toggle {
    text-align: center;
    border: solid 1px;
    padding: 5px;
    width: 200px;
    margin-right: 16px;
}

#sort-by-container .dropdown-toggle:after {
    content: "";
    display: block;
    width: 0;
    border: solid 10px;
    border-color: #F65B39 transparent transparent transparent;
    position: absolute;
    left: 81%;
    top: 40%;
}

#view-and-sort-block {
    width: 600px;
    display: inline-block;
    text-align: right;
}

#view-select-block {
    display: inline-block;
    width: 170px;
}

#sort-by-container li a, #sort-by-container li a:visited {
    color: #F65B39;
    font-weight: 300;
}

#sort-by-container {
    cursor: pointer;
    display: inline-block;
}

#sort-by-container li:nth-child(n+2) {
    border-top: solid 1px #F65B39;
}

#sort-by-container .dropdown-menu {
    color: white;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    border: solid 1px #F65B39;
    font-size: 20px;
    right: 15px;
}

#sort-by-container .open:after {
    content: "";
    display: block;
    width: 0;
    border: solid 10px;
    border-color: transparent transparent #F65B39 transparent;
    position: absolute;
    left: 100%;
    margin-left: -44px;
    top: 22px;
}

.group-checkbox {
    cursor: pointer;
    font-size: 20px;
    line-height: 25px;
}

#filters-label {
    position: absolute;
    left: 290px;
    top: 0;
    font-size: 12px;
}

#within-distance {
    width: 40px;
}

#locationField {
    width: 400px;
}

#additional-filters-toggle {
    font-size: 20px;
    color: #F65B39;
    text-align: right;
    cursor: pointer;
    position: relative;
}

#additional-filters-toggle.show-filters:after {
    content: "";
    display: block;
    width: 0;
    border: solid 10px;
    border-color: #F65B39 transparent transparent transparent;
    position: absolute;
    right: 0;
    top: 10px;
}

#additional-filters-toggle.hide-filters:after {
    content: "";
    display: block;
    width: 0;
    border: solid 10px;
    border-color: transparent transparent #F65B39 transparent;
    position: absolute;
    right: 0;
    top: 2px;
}

.custom-field-table-label {
    font-weight: bold;
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
    width: 295px;
}

.custom-field-table-checkboxes {
    vertical-align: top;
    padding-bottom: 30px;
    text-align: left;
}

.custom-field-table-checkboxes input[type="checkbox"] {
    height: 15px;
    vertical-align: top;
}

.custom-field-table {
    width: 875px;
    line-height: 15px;
    vertical-align: top;
    margin-left: 15px;
    padding-top: 10px;
}

.custom-field-table > input[type="checkbox"] {
    margin: 2px 0 0;
}
