.image-checkbox {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.image-checkbox input[type=checkbox] {
    display: none;
}

.image-checkbox input[type=checkbox] + label {
    height: 130px;
    width: 120px;
    background: #f2f2f2;
    padding: 10px;
}

.image-checkbox input[type=checkbox]:checked + label {
    height: 130px;
    width: 120px;
    background: rgba(23, 212, 245, 0.25);
    padding: 10px;
}

#list-of-group-postings {

    width: 720px;
    margin-top:20px;
}

.search-within-group{
    color:red;
    background-color:yellow;
}