#jacktung {
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -250px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 450px;
    height: 500px;
}

.jacktung-close {
    background: url(<%=asset_path "jacktung/exiticon.png"%>);
    position: absolute;
    top: -15px;
    right: -15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.jacktung-close.red-close-button {
    background: url(<%=asset_path "jacktung/exiticon-red.png"%>);
}


.failure #inner-jacktung {
    margin: 100px auto;
}

.success #inner-jacktung {
    margin: 70px auto;
}

#inner-jacktung {
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-family: "omnes-pro", sans-serif;
    font-weight: 300;
    line-height: 40px;
}

#inner-jacktung p {
    margin-top: 50px;
}

#inner-jacktung p.jacktung-lots-of-text{
    font-size:15px;
}
#jacktung.failure {
    border: solid 3px red;
}

#jacktung-warning {
    color: red;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
}

#jacktung-success {
    color: #33bbd2;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

#jacktung.success {
    border: solid 3px #33bbd2;
}