<%
@gray_black="#333"
@gray="#414240"
@reppio_red="#ee5229"
%>

body {
    background:url(<%= image_path 'backgrounds/white-texture.jpg' %>) repeat;
    color:<%=@gray_black%>;
    font-family:'Helvetica Neue','Helvetica',sans-serif;
}

h3 {
    line-height:30px;
}

.hasTooltip {
    cursor:pointer;
}

.small-text {
    font-size:12px;
}

a, a:hover, a:visited{
    text-decoration:none;
    cursor:pointer;
    /*color:inherit;*/
}
li {
    text-align:left;
    color:black;
    text-shadow:none;
}

.dropdown-menu {
    margin-top:10px;
}

.blue-header-image {
    /* specify height in inline-css */
    z-index: 0;
    background: url(<%= image_path 'backgrounds/blue-background.jpg' %>) center top repeat;
    width: 100%;
    -moz-box-shadow: inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0 -8px 8px -8px #696868;
    box-shadow: inset 0 -8px 8px -8px #696868;
    position: absolute;
    position: absolute;
    z-index: -100;

}
#rep-navbar-left {
    text-align:left;
    color:white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#rep-navbar-right {
    text-align:right;
    padding-top:14px;
    color:white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#nav-watchlist a {
    color:white;
}
#nav-groups a {
    color:white;
}
#nav-groups a:hover {
    text-shadow: 0px 0px 40px white;
}
#nav-watchlist a:hover {
    text-shadow: 0px 0px 40px white;
}
#nav-profile a:hover {
    text-shadow: 0px 0px 40px white;
}
/*profile picture*/
#nav-profile a img {
    width:30px;
    border-radius:30px;
    box-shadow:0px 1px 2px black;
}


.tri-header {
    font-family: 'omnes-pro';
    font-size: 23px;
    margin-top:10px;
    margin-bottom:20px;
    font-weight:bold;
}

.tri-body {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
}

.italic-omnes {
    font-family: "omnes-pro", sans-serif;
    font-style: italic;
    letter-spacing: 1px;
}

.watch-demo-play {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 12px 8px 4px;
    color: white;
    font-size: 18px;
}

.watch-demo-play:hover {
    background: rgb(255, 255, 255); /* IE 8 and below */
    filter: alpha(opacity = 60) \9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

    background: rgba(255, 255, 255, 0.6);
    color: black;
}

.footer-left {
    float:left;
    font-weight:bold;
    font-size: 14px;
    color: #7e7e7e;
    text-shadow: 0 1px #fff;
}

.right-bar-padding {
    padding-left: 40px;
    padding-right:20px;
}
.left-bar-padding {
    padding-left:20px;
    padding-right:20px;
}


.footer-left a, .footer-left a:hover, .footer-left a:visited {
    color: #7e7e7e;
}

.footer-right {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.footer-right a, .footer-right a:hover, .footer-right a:visited {
 color: <%=@gray_black%>;
}

.badge {
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    /*border: 2px solid white;*/
    border-radius: 12px;
    /*one half of ( (border * 2) + height + padding )*/
    box-shadow: 1px 1px 1px black;
    color: white;
    font: 15px/13px Helvetica, Verdana, Tahoma;
    height: 16px;
    min-width: 14px;
    padding: 4px 3px 0 3px;
    text-align: center;
    position: absolute;
    right: 20px;
}

.manage-badge{
    right:0px;
    top:-2px;
}

#nav-watchlist{
    position:relative;
    margin-right:20px;
}

#nav-watchlist .badge{
    right: -15px;
    top: -15px;
}

select{
    margin-bottom:0px;
    cursor:pointer;
    border:none;
    height: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    padding-left:10px;
    -webkit-appearance: button;
    -moz-appearance: window;
    background: url(<%= image_path 'select-arrow.png' %>) right top no-repeat, -webkit-linear-gradient(top, rgba(0,0,0,.03), rgba(255,255,255,.03)), #fff;
    background: url(<%= image_path 'select-arrow.png' %>) right top no-repeat,-moz-linear-gradient(top, rgba(0,0,0,.03), rgba(255,255,255,.03)), #fff;
    background: url(<%= image_path 'select-arrow.png' %>) right top no-repeat,-o-linear-gradient(top, rgba(0,0,0,.03), rgba(255,255,255,.03)), #fff;
    background:url(<%= image_path 'select-arrow.png' %>) right top no-repeat, -ms-linear-gradient(top, rgba(0,0,0,.03), rgba(255,255,255,.03)), #fff;
    background: url(<%= image_path 'select-arrow.png' %>) right top no-repeat,linear-gradient(to bottom, rgba(0,0,0,.03), rgba(255,255,255,.03)), #fff;

}

#flag-bar{width:250px;}

.equal-height-column{
    padding-bottom:9999px; margin-bottom:-9999px;
}

.dark-grain-background{
    background: #DDD url(<%= image_path 'backgrounds/dark-grain.png' %>) repeat;
}

#header-social-icons img:hover{
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}


#logo img:hover {
    /*-moz-animation: 0.2s ease-in-out 0s alternate none 1 wiggle;*/
    /*-webkit-animation:wiggle .2s ease-in-out alternate;*/
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate3d(0,0,0,0deg)
  }

  25% {
    -webkit-transform: rotate3d(0,0,0,5deg)
  }

  75% {
    -webkit-transform: rotate3d(0,0,0,-5deg)
  }

  100% {
    -webkit-transform: rotate3d(0,0,0,0deg)
  }
}

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(0deg)
  }

  25% {
    -moz-transform: rotate(5deg)
  }

  75% {
    -moz-transform: rotate(-5deg)
  }

  100% {
    -moz-transform: rotate(0deg)
  }
}