.modal {
    width: 480px;
}

.modal div, .top-gray-bar div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modal-header {
    width: 480px;
    height: 42px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color: #c3c3c3;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 1px rgba(255, 255, 255, .15);
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .15));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .15));
    font-size: 14px;
    color: #fff;
    text-shadow: 0 -1px rgba(5, 5, 5, .4);
}

.x {
    color: white;
    font-size: 25px;
    text-shadow: 0 1px 1px rgba(5, 5, 5, .4);
}

.x-button {
    position: absolute;
    top: 0;
    right: -1px;
    width: 42px;
    height: 42px;
    background-color: #c3c3c3;
    -webkit-box-shadow: inset 0 2px rgba(255, 255, 255, .25);
    -moz-box-shadow: inset 0 2px rgba(255, 255, 255, .25);
    box-shadow: inset 0 2px rgba(255, 255, 255, .25);
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .15), rgba(255, 255, 255, .15));
}

.modal .modal-header .tabs, .top-gray-bar .tabs {
    position: absolute;
    left: 25px;
    top: 0;
    line-height: 15px;
}

.modal .modal-header .active-tab, .top-gray-bar .active-tab {
    cursor: pointer;
    margin-left: -4px;
    padding: 13px;
    display: inline-block;
    height: 41px;
    background-color: #999;
    font-weight: bold;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
    position: relative;
    top: -1px;
}

.modal .modal-header .active-tab:before, .top-gray-bar .active-tab:before {
    content: "";
    display: block;
    width: 0;
    border: solid 12px;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    top: 98%;
    left: 50%;
    margin-left: -12px;
}

.modal .modal-header .tab, .top-gray-bar .tab {
    position: relative;
    cursor: pointer;
    margin-left: -4px;
    margin-top: 1px;
    padding: 13px;
    display: inline-block;
    height: 42px;
    background-color: #c3c3c3;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 0 1px rgba(255, 255, 255, .4);
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .15));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .15));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .15));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .15));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(255, 255, 255, .15));
    font-weight: bold;
    top: -1px;
}

.modal-body {
    text-align: center;
    padding: 20px;
    max-height: 450px !important;
}

.btn-facebook {
    display: inline-block;
    padding: 10px 30px 10px 75px;
    text-shadow: 0 1px 0 #3c4678;
    border: 1px solid #415581;
    border-top-color: #354b7a;
    background-color: #4869b0;
    cursor: pointer;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: url("<%= image_path "modal/fbiconbutton.png" %>") no-repeat bottom left, #4869b0;
}

.btn-facebook:hover {
    background: url("<%= image_path "modal/fbiconbutton.png" %>") no-repeat bottom left, #4977be;

}

.flat-btn-blue{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color:white;
    padding: 10px 20px 10px 20px;
    background-color: #33bbd2;
    border: none;
    font-size: 20px;
}
.flat-btn-orange{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color:white;
    padding: 10px 20px 10px 20px;
    background-color: #ee5229;
    border: none;
    font-size: 20px;
}
.flat-btn-orange:hover {
    background-color: rgb(238, 119, 87);
}

.flat-btn-blue:hover{ background-color: #35cbe3;}

.login-form #email, .reppio-modal-body #email{
    background: url("<%= image_path "modal/mailiconsignin.png" %>") no-repeat 5px 5px;

}

.login-form #password,.reppio-modal-body #password{
    background: url("<%= image_path "modal/pwiconsignin.png" %>") no-repeat 10px 5px;

}

.or-with-line{
    text-align:center;
    border-bottom:1px solid #33bbd2;
    width:300px;
    margin:auto;
}
.or-with-line div {
    display:inline-block;
    font-weight:100;
    font-size: 20px;
    position: relative;
    top: 10px;
    background:#fff;
    padding:0 12px;
}


.modal.sign-up-modal{
    display: block;
    width: 400px;
    border: solid 2px #33bbd2;
    font-family:'omnes-pro';
    font-weight:300!important;
    color: #33bbd2;
}

.reppio-modal-header{
    width:100%; height:70px;
    background:url(<%= image_path 'reppio_logo_white.png' %>) center center no-repeat #33bbd2;
}

.reppio-modal-body{
    padding:20px;
    text-align:center;
}

.reppio-modal-body a{
    color: #33bbd2;
}

.login-form input[type=text],.reppio-modal-body input[type=text],.reppio-modal-body input[type=password],.login-form input[type=password]  {
    height: 25px;
    border: 1px solid #33bbd2;
    width: 300px;
    padding-left: 50px;
}



.reppio-modal-body input::-webkit-input-placeholder { font-size:20px; color:#33bbd2; }
.reppio-modal-body input::-webkit-input-placeholder { font-size:20px; color:#33bbd2;}
.reppio-modal-body input::-moz-placeholder { font-size:20px; color:#33bbd2; }
.reppio-modal-body input:-ms-input-placeholder { font-size:20px; color:#33bbd2; }


.meg-bubble{margin-right:10px; width:100px; height:100px;}


#loginModal, #signUpModal{margin: -300px 0 0 -220px;}