.review-back {
    margin-top:20px;
}

.pic-and-price-square {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    margin-bottom: 60px;
}

.pic-and-price-square img {
    border: 1px solid #333;
    width: 200px;
    height: 200px;
}

.pic-and-price-square-price-text {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 15px;
    color: white;
}

.pic-and-price-square-price {
    position: absolute;
    top: 5px;
    left: -25px;
    font-family: 'omnes-pro', sans-serif;
    padding: 5px 0px 5px 10px !important;
    text-shadow: 0px 0px 5px black;
    font-size: 12px;
    height: 39px;
    width: 70px;
    background: url(<%= asset_path 'browse/pricetag.png' %>) center center no-repeat;
}

.square-blue {
    position: absolute;
    top: 202px;
    right: 0;
    background-color: #33bbd2;
    height: 30px;
    width: 192px;
    font-weight: bold;
    line-height: 32px;
    padding-left: 10px;
    color: black;
}





#category-selector {
    cursor: pointer;
    height: 300px;
    padding: 0px 20px 20px 10px;
}

.posting-title {
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 5px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.posting-more-listings {
    margin-left:-15px; margin-top:-20px; text-align:center;

}

.posting-left-span {
    border-radius: 10px 0px 10px 10px;
}

.posting-left-span-active{

}

.posting-left-span-inactive{

}


.posting-overlay {
    height: inherit;
    border-radius: 10px 20px 10px 10px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.posting-image-bg {
    text-align: left;
    padding-left: 35px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;    
}

.posting-image {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 500px;
    background-color: #eee;
    border: 1px solid #333;
}
.posting-image * {
    vertical-align: middle;
}

#mainPostingPicture{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;

}

.posting-info {
    margin-left: 35px;
}

.posting-share {
    padding: 20px;
}

.posting-description {
    padding-left: 35px;
    margin-top:10px;
}

#posting-carousel{
    display:inline-block; width:500px;text-decoration:none; margin-left:35px;

}

.posting-top {
    padding: 20px;
}

.posting-other-listings {
    float:left;
    margin-left: 35px;
    margin-top: 20px;
    width:500px;
}

.posting-user-actions {
    height: 40px;
}

.posting-user-area {
    padding: 20px;
    padding-top: 30px;
    margin-left: 15px;
    text-align: center;
    overflow: auto;
}

.posting-user-info {
}

.posting-user-info-overlay {
    padding: 20px;
    padding-top: 30px;
    background-color: rgba(255,255,255,0.6);
    margin-left: 3px;
    text-align:center;
}

.posting-action-left-button {
    display: inline-block;
    height: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: inset -1px 2px 2px #ff864f;
    cursor:pointer;
    position:relative;
}

.posting-action-active{
    float:right;
    margin: 20px 20px 0px 0px;
    background: rgb(232, 99, 27); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(232, 99, 27, 1) 0%, rgba(255, 26, 0, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232, 99, 27, 1)), color-stop(100%, rgba(255, 26, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232, 99, 27, 1) 0%, rgba(255, 26, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232, 99, 27, 1) 0%, rgba(255, 26, 0, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232, 99, 27, 1) 0%, rgba(255, 26, 0, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(232, 99, 27, 1) 0%, rgba(255, 26, 0, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8631b', endColorstr = '#ff1a00', GradientType = 0); /* IE6-9 */
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.posting-action-inactive{
    float:right;
    margin: 20px 20px 0px 0px;
    background: rgb(255, 26, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 26, 0, 1) 0%, rgba(232, 99, 27, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 26, 0, 1)), color-stop(100%, rgba(232, 99, 27, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 26, 0, 1) 0%, rgba(232, 99, 27, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 26, 0, 1) 0%, rgba(232, 99, 27, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 26, 0, 1) 0%, rgba(232, 99, 27, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 26, 0, 1) 0%, rgba(232, 99, 27, 1) 100%); /* W3C */
    color: #7c2516;
    text-shadow: 0 1px rgba(255,255,255,.4);
}


.posting-action-right-button {
    display: inline-block;
    height: 20px;
    background-color: #f57138;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-left: -2px;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff1a00', endColorstr = '#e8631b', GradientType = 0); /* IE6-9 */
    box-shadow: inset 0px 2px 2px #ff864f;
    cursor:pointer;
    position:relative;
    border-top-right-radius: 8px;
}

#posting-map-canvas {
    border: 1px #333 solid;
    margin-top: 10px;
    height: 200px;
}

.posting-user-avatar {
    border-radius: 10px;
    width: 150px;
    border: 1px solid black;
    overflow:hidden;
}

.posting-user-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.new-posting-right-bar {
    margin-left: 4px;
    margin-right: -4px;
    height: 100%;
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(232, 232, 232, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e8e8e8', GradientType = 0); /* IE6-9 */
    left: 325px !important;
}

.fade-to-white {
    border-bottom: 1px solid #CCC;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    position: relative;
}

/*.fade-to-white:before {*/
    /*content: "";*/
    /*display: block;*/
    /*width: 0;*/
    /*border: solid 12px;*/
    /*border-color: white transparent transparent transparent;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 100%;*/
    /*margin-top: -1px;*/
    /*margin-left: -6px;*/
/*}*/

#titleTextField {
    display: inline;
    width: 100%;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #FFF;
    height: 30px;
    font-size: 1.5em;
    clear: both;
    border-width: 0px;
    margin-left: 1px;
}

#priceTextField {
    display: inline;
    width: 15%;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-width: 0;
    background-color: #eaeaea;
    height: 30px;
    font-size: 1.5em;
    clear: both;
}

#locationTextField {
    display: inline;
    width: 100%;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #eaeaea;
    height: 30px;
    font-size: 1.5em;
    clear: both;
}

#formUploadBox {
    padding: 20px;
    padding-top: 0px;
    min-height: 300px;
    background-color: #FFF;
    display: block;
    margin-left: 0px;
    border-radius: 5px;
    background: url('<%= image_path('camerabg.png') %>') center center no-repeat;
    background-color: #D1CFCF;
}

.primaryForm #searchTextField {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    height: 40px;
}

.primaryForm #pictures {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.primaryForm #pictures li {
    float: left;
    width: 40px;
    margin: 0 0px 0px 0px;
    padding: 5px;
    font-size: 1.2em;
    height: 40px;
    position: relative;
    cursor: move;
    line-height: 1.2em;
}

.primaryForm .ui-state-highlight {
    height: 100px;
    line-height: 1.2em;
}

.primaryForm .closeButtonStyled {
    background-image: url("<%=asset_path('fancybox_sprite.png')%>");
    cursor: pointer;
    height: 36px;
    position: absolute;
    left: 35px;
    top: -15px;
    width: 36px;
    z-index:10;
}

.primaryForm #category-selector {
    height: 200px;
}

.posting-instructions {
    width:250px;
}

.primaryForm select {
    margin-top:-9px;
}


.posting-action-icon{

}

.c-message{
    display:none;
}

img.thumbEvent:hover {
    border: 3px solid gray;
}
img.thumbEvent {
    border: 3px solid white;
    cursor:pointer;
}
img.highlightCarouselThumb {
    border: 3px solid #FF1A00;
}
img.highlightCarouselThumb:hover {
    border: 3px solid #FF1A00;
}

.posting-page-price{
    position:absolute;top:60px;left:10px;z-index: 2;
    width:110px;
    height:56px;
    background: url(<%= asset_path 'detailed_listing/pricetag_big.png' %>) center center no-repeat;
    background-size:cover;
}

#posting-page-price{
    font-size: 24px;
    position: absolute;
    color: white;
    left: 30px;
    top: 17px;
    width: 75px;
    text-align: center;
}

.small-price#posting-page-price{
    font-size:20px;
}

#big-map{
    position: relative;
    width: 960px;
    height: 360px;
}

#posting-map{
    position:relative;
}

#posting-map #show-current-location-small {
    top: 10px;
    right: 10px;
    position:absolute;
}

#expand-map-button{
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor:pointer;
}

.posting-image-bg #right-arrow{
    display:none;
    position:absolute; bottom:180px;
    right: 10px;
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    cursor:pointer;
}

.posting-image-bg #left-arrow{
    display:none;
    position:absolute;
    bottom:180px; left:10px;
    cursor:pointer;
}

.posting-image-bg:hover #left-arrow, .posting-image-bg:hover #right-arrow{
    display:block;
}


#posting-title-toggle-map{
position:relative; display:inline-block;width:100%; margin-top:10px;
}

#posting-title-toggle-map .show-options{ display:none;}


#posting-title-toggle-map .hide-options{float:right;display:inline-block;margin-right:5px; }


.facebook-preview{ background-color:white; padding:10px; height:80px; overflow: hidden;}
.facebook-image{
    color: rgb(51, 51, 51);
    direction: ltr;
    display: block;
    float: left;
    height: 78px;
    max-width: 100px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 0px;
    text-align: left;
    width: 100px;
    margin-right:10px;
}

.facebook-title{
    color: rgb(0, 0, 0);
    direction: ltr;
    display: inline;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    width: auto;
    word-break: break-word;
}

.facebook-subtitle{
    color: rgb(102, 102, 102);
    direction: ltr;
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
    text-align: left;
    width: 1105px;
}

.facebook-description{
    color: rgb(0, 0, 0);
    direction: ltr;
    display: inline;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: auto;
    line-height: 14px;
    text-align: left;
    text-decoration: none;
    width: auto;
    word-break: break-word;
}

#posting-form-description{padding:5px; width:80%; height:200px; margin-top:10px;}

.insert-facebook-image{
    max-width:100px;
    max-height:100px;
    height:auto;
    width:auto;
}

.posting-bookmark-container{
    font-weight:bold;float:right; cursor:pointer; padding-right:20px;
}

