Hi <%= @first_name %>!

Your posting <%= @posting_title %> will expire in 2 days. Please follow the below link to update your posting:

<%= @link %>

Upon updating, your posting will be active for another two weeks.

Love,
The Rep Team