Hi <%= @first_name %>!
<br><br>
Your posting "<%= @posting_title %>" will expire in 2 days. Please follow the below link to update your posting:
<br>
<%= @link %>
<br>
Upon updating, your posting will be active for another two weeks.
<br>
<br>
Love,
<br>The Rep Team
