<% if !pending.empty? %>

    <script type="text/javascript" src="/assets/jquery.rating.pack.js"></script>
    <div style="padding:20px; margin-right:40px; margin-bottom:20px;">
      <% pending.each do |posting|
        iWasSeller = (current_user.id == posting.user_id) #= false ==> # iWasBuyer is true
        otherParty = (iWasSeller ? User.find(posting.actual_buyer_user_id) : User.find(posting.user_id))
        postingTitle = posting.title
      %>
          <div style="background-color:#F6F6F6; padding:20px;" class="pending_review" id="review<%= otherParty.id %>">
            <div class="profilePicture pull-left"><%= link_to otherParty do %><%= profile_pic_if_exists("thumb", otherParty) %>
              <% end %></div>
            <div class="profileAvatarInfo" style="float:left;padding-top:0px">
              <h4 style="margin-top:0px;"><%= link_to otherParty.first_name, otherParty %></h4>
              <span class="label" style="padding-top:0px">Rep <%= otherParty.repscore %></span><br><br>
            </div>
              <%= form_for @review, :class => "reviewBody form-inline small-text", :style => "margin-bottom:0px;", :remote => true do |f| %>
                <div style="float:left; margin-left:20px; background-color:#ffc972; padding:3px 10px 3px 10px; border-radius:5px;">

                <span class="inline small-text"><b>Do you recommend <%= otherParty.first_name %>?</b></span>
                  <br>
                  <label class="radio inline small-text" for="review_recommended_yes">
                    <%= radio_button("review", "recommended", true, :class => "") %>
                    Yes
                  </label>

                  <label class="radio inline small-text" for="review_recommended_no">
                    <%= radio_button("review", "recommended", false, :class => "") %>
                    No
                  </label>
                  </div>

                <div style="clear:both; padding-top:10px;">

                  <% if !iWasSeller %>
                      <span class="inline small-text">Item as described</span><br> <%= edit_stars_for("item_as_described") %>
                      <br/>
                  <% end %>

                  <span class="inline small-text">Communication</span><br> <%= edit_stars_for("communication") %>
                  <br/>
                  <span class="inline small-text">Overall Experience</span><br> <%= edit_stars_for("overall_experience") %>
                </div>



                <div class="reviewEditDetail" style="clear: both; padding-top:1px">

                    Our records indicate you <%= (iWasSeller) ? "sold" : "bought" %>
                    <b><%= postingTitle %></b> <%= (iWasSeller) ? "to" : "from" %> <%= otherParty.first_name %>.<br><br>

                    <% placeholderText = "Please review your experience with #{otherParty.first_name}. If you were the buyer, was the item as described? Was #{otherParty.first_name} easy to communicate with? Letting us know helps keep our marketplace reputable." %>
                    <%= f.text_area :description, :placeholder => placeholderText, :class => "wide-text", :id => "review" + posting.id.to_s, :style => "margin-top:0px; height: 80px; width: 70%; padding-right:0px" %>
                    <%= hidden_field_tag "review_from_seller", iWasSeller %>
                    <%= f.hidden_field :posting_id, :value => posting.id %>
                    <%= f.hidden_field :user_id, :value => otherParty.id %>
                    <%= f.hidden_field :reviewer_user_id, :value => current_user.id %>

                    <p><%= f.submit "Submit", :class => "btn btn-primary" %></p>
              <% end %>
              </div>
              </div>
          <br>
      <% end %>
    </div>
<% end %>