<% if (reviews.empty?) %>
    <% if !current_user.nil? && current_user.user_name == user.user_name %>
        <p>
          You have no reviews yet!
          In the meanwhile, why don't you check out how to
          <%= link_to "improve your repscore?", rep_center_url, :class=>"blue-link" %>
        </p>
    <% else %>
        <p>
          No reviews yet for <%= user.first_name.capitalize %>!
        </p>
    <% end %>
<% end %>
<% reviews.each do |review|
  reviewer = User.find(review.reviewer_user_id)
%>
    <div class="review-back">

      <div class="profilePicture" style="float:left;"><%= profile_pic_if_exists("thumb", reviewer) %></div>
      <div style="float:left; margin-left:0px;">
        <span><b><%= reviewer.first_name %></b>
          <span class="label">Rep <%= reviewer.repscore %></span>
        <div style="margin-top:0px;" class="small-text"><%= review.created_at.strftime("%B %e, %Y") %></div>
         <div style="margin-top:0px;"> <%= display_stars(review.overall_experience) %></div>
        </span>

      </div>
      <div style="float:left">

      </div>

      <div style="clear:both;">

        <p style="padding-top:10px;">"<%= review.description %>"<br/>
        <% if not (review.response.nil? || review.response.blank?) %>
          <div class="small-text" style="padding:10px; background:#fff7bd;"><b>Response from <%= user.first_name %></b>: <%=  review.response %></div>
        <% end %>  </p>

        <% if !current_user.nil? && current_user.id==review.user_id && (review.response.nil? || review.response.blank?) %>
              <button class="btn btn-mini btn-review-response">Write a response</button>
              <div class="well review-response" style="display:none; padding-bottom:0px;box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; background:whitesmoke; border-color:orange;">
              <p>Agree or disagree with this review? Tell us why.</p>
              <%= form_for review, :url => respond_to_review_url(:id => review.id) do |f| %>
                  <%= f.text_area :response, :cols => "30", :rows => "2", :style=>"width:90%; height:150px;" %>
                  <%= f.submit "Respond", :class => "btn btn-default" %>
              <% end %>
            </div>
        <% end %>


        </p>
      </div>
    </div>

<% end %>

<% content_for :headContent do %>
    <script type="text/javascript">
        $(document).ready(function () {

            $("span.helpful a").click(function () {
                $(this).parent().html("Thanks for voting!");
            });

            $(".btn-review-response").click(function () {
                $(this).hide();
                $(this).parent().find(".review-response").slideDown();
            });
        });
    </script>
<% end %>