	<%
	
	if role == :subject
		otherParty = User.find(review.reviewer_user_id)
		otherPartyName = otherParty.user_name
		reviewSubjectName = current_user.user_name
	elsif role == :author
		otherParty = User.find(review.user_id)
		otherPartyName = otherParty.user_name
		reviewSubjectName = otherPartyName
	end
	recommendedIcon = (review.recommended ? "<span class=\"badge badge-success recommend\"><i class=\"icon-thumbs-up\" title='Recommended!'></i></span>" : "<span class=\"badge badge-warning recommend\"><i class=\"icon-thumbs-down\" title='Not recommended!'></i></span>" ).html_safe
	posting = Posting.find(review.posting_id)
	iWasSeller = (posting.user_id == current_user.id)
	sellerName = (iWasSeller ? current_user.user_name : otherParty.user_name)
	myRole = (iWasSeller ? "iWasSeller" : "iWasBuyer")
	postTitle = posting.title
	%>
	<tr id="review<%= review.id %>" class="<%= myRole %> iWas<%= role.to_s.titleize %>">
		<td class="reviewShowDetail">
			<span class="stars_descriptor"><%= recommendedIcon %></span>
			<div><%= display_stars(review.overall_experience) %></div>
			<p><%= review.description %><br /><span class="numericalRatings">{Communication: <%= review.communication %> / 5<% if (!review.item_as_described.nil?) %>, Item as described: <%= review.item_as_described %> / 5 <% end %>}</span></p>
			<% if !review.response.nil? %><p class="reviewResponse"><%= reviewSubjectName %>'s response: <%= review.response %></p> <% end %>
			<% if (role == :subject && (review.response.nil? || review.response == "")) %><a href="#respond-box" class="fancybox" data-review_id='<%= review.id %>'>Respond</a> | <% end %><% if signed_in? %><span class="flag"><% @url = "Review ID: ##{review.id}" %>
              <% if signed_in? %>
              <div class="flag">
                <%=render(:partial=>"flags/dropdown", :locals=>{:content_creator_user_id => review.reviewer_user_id}) %>
              </div><% end %>
			</span><% end%>
		</td>
		
		
		<td class="transactionDetail">
			<div class="profilePicture" style="clear: both;"><%= profile_pic_if_exists("thumb",otherParty) %></div>
			<strong><%= link_to(otherPartyName, user_url(:user_name => otherPartyName)) %></strong> [Rep <%= otherParty.repscore %>] <br />
			Re. <%= link_to(postTitle, user_posting_url(:user_name => sellerName, :id => review.posting_id)) %>
			</td>
		<td><%=review.created_at.strftime("%B %e, %Y") %></td>
			

</tr>