
  <% if reviews.empty? %>
    No reviews yet for <%= seller.first_name %>.
<% end %>

<% reviews.each do |review|
  reviewer = User.find(review.reviewer_user_id)
%>
<div>
  <span class="small-text"><b>&nbsp;&nbsp;<%=reviewer.first_name%></b>  (Rep <%= reviewer.repscore %>)<%= display_stars(review.overall_experience) %><%= review.created_at.strftime("%b. %e") %></span>
  <p>"<%= review.description %>"<br />
    <% if not review.response.nil? %>
        <span style="background:#fff7bd;">Response from <%= "#{@user.first_name}:  #{review.response}" %>    <br>
    <% end %></span>


  </p>
</div>

<% end %>

    <script type="text/javascript">
        $(document).ready(function() {

            $("span.helpful a").click(function() {
                $(this).parent().html("Thanks for voting!");
            });

        });
    </script>
