<% if @reviewDidntSave %>
var existing_style=$('#review<%=@review.user_id%>').attr("style");
$('#review<%=@review.user_id%>').attr("style", existing_style +"border-color:red;");
<% if @reviewWasBlank %>$('#review<%=@review.user_id%> textarea').after('<div class="small-text" style="color:red;">Review cannot be blank. Please write a sentence at minimum.</div>')<% end %>
<% else %>
$('.pending_review[id="review<%=@review.user_id%>"]').html("Thanks for the review.");
<% end %>
