<!DOCTYPE html>
<html>  <% redirect_non_us_traffic %>
<head>

  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/jei1lbe.js"></script>


  <!-- Other Header -->
  <title><%= content_for?(:title) ? content_for(:title) : 'Reppio: Reputable Local Marketplace' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:headContent) if content_for? :headContent %>
  <%= csrf_meta_tags %>
  <%= render(:partial => "static/jacktung")%>
</head>
<body>

<div class="blue-header-image" style="height:<%= if content_for? :blue_header_image_height
    yield(:blue_header_image_height)
    else
    "300"
    end%>px;"></div>

<!--Menu if you're signed in and confirmed-->
<% if !current_user.nil? && !current_user.user_name.nil? %>
    <div class="container" style="padding-top:10px; padding-bottom:13px;">
      <div class="row">
        <div class="span8" id="rep-navbar-left">
          <%= link_to root_url, :id=>'logo' do %><%= image_tag "reppio_logo_white.png" %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to search_url do %>
              <div style="width:90px" class="rep-btn-header <%= (content_for? :search_active) ? "rep-btn-active" : "rep-btn rep-btn-light-blue" %>">
                <i class="icon-search"></i>&nbsp;Browse
              </div>
          <% end %>
          <%= link_to manage_url do %>
              <div style="width:90px;" class="rep-btn-header <%= (content_for? :manage_active) ? "rep-btn-active" : "rep-btn rep-btn-light-blue" %>">
                <i class="icon-comment"></i>&nbsp;Manage
                <%= manage_badge %>
              </div>
          <% end %>
          <%= link_to new_user_posting_url(:user_name => current_user.user_name) do %>
              <div style="width:90px;" class="rep-btn-header <%= (content_for? :sell_active) ? "rep-btn-active" : "rep-btn rep-btn-yellow" %>">
                <i class="icon-tags"></i>&nbsp;Sell
              </div>
          <% end %>
        </div>

        <div class="span4" id="rep-navbar-right">
          <span id="nav-watchlist">
            <%= link_to watchlist_url do%>Watchlist<% end %> <%= watchlist_badge %>
          </span>
          &nbsp;
          <span id="nav-groups">
            <%= link_to groups_url do %>Groups<% end %> 
          </span>

          &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="dropdown" id="nav-profile">
          <a style="color:white;" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= profile_pic_if_exists("thumb", current_user) %>&nbsp;&nbsp;<%= current_user.first_name %>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li><%= link_to "View Profile", user_url(:user_name => current_user.user_name, :preview => true) %></li>
            <li><%= link_to "Edit Profile", edit_user_url(:user_name => current_user.user_name) %></li>
            <li><%= link_to "Settings", settings_url %></li>
            <li><%= link_to "Logout", logout_url %></li>
          </ul>
        </span>
        </div>
      </div>
    </div>
<% end %>

<!--Menu if you're not signed in-->
<% if (current_user.nil? || current_user.user_name.nil?) %>
    <%= render "sessions/header_not_signed_in" %>
<% end %>



<div class="container" style="margin-top:10px;">
  <%= yield %>

  <%= render "static/footer" %>
</div>


<br><br>


</body>

</html>
