<table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #f4f4f4;background: url('http://www.reppio.com/assets/backgrounds/blue-background.jpg') repeat;">
  <tbody>
  <tr>
    <td>
      <table width="1" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr align="center">
    <td>
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td align="left" style="padding-left: 20px;">
            <a href="http://www.reppio.com/" target="_blank"><img src="http://www.reppio.com/assets/reppio_logo_white.png" title="Reppio logo" alt="Reppio logo" border="0" style="width: 150px;height: auto;"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="1" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr align="center">
    <td>
      <table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="border:solid 1px #dddddd;">
        <tbody>
        <tr>
          <td colspan="3" style="padding:20px;">
            <%= yield %>
          </td>
        </tr>
        <tr align="center">
          <td>
            <table width="700" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr align="left">
                <td style="color:#666666;font-family:Arial;font-size:11px; padding-left:20px; padding-bottom:5px;">
                  <table width="1" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                      <td>
                        <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  Don't want to receive e-mail notifications? <a href="http://www.reppio.com/settings">Adjust your message settings</a>.
                  &nbsp;&nbsp;&nbsp;    &copy; 2012 Reppio
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
  </tr>

  </tbody>
</table>