<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <script type="text/javascript">
      //   Array.indexOf if ie8 or less
      if (!('indexOf' in Array.prototype)) {
          Array.prototype.indexOf = function (find, i /*opt*/) {
              if (i === undefined) i = 0;
              if (i < 0) i += this.length;
              if (i < 0) i = 0;
              for (var n = this.length; i < n; i++)
                  if (i in this && this[i] === find)
                      return i;
              return -1;
          };
      }
  </script>
  <![endif]-->

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35186325-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>

</head>

<body>



    <%= yield %>


</body>

</html>

