<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="template-download fade" style="padding:5px;" id="{%=file.id%}" data-picture-table-id="{%=file.picture_id%}">
        <div class="draggable-handle"></div>
        {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</span>
        {% } else { %}
            <span class="preview" style="width:80px;">{% if (file.thumbnail_url) { %}
                <!--<a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}">-->
                    <img src="{%=file.thumbnail_url%}">
                <!--</a>-->
            {% } %}
            </span>
            <span class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" data-tempid="{%=file.id%}">
                    <i class="icon-trash icon-white"></i>
                </button>
            </span>
            <span class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}"></a>
                <!--<span>{%=file.name%}</span>-->
                <span></span>
            </span>
        {% } %}
    </li>
{% } %}
</script>
