<script>
    $(function () {
        'use strict';

        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload();

        // Enable iframe cross-domain access via redirect option:
//        $('#fileupload').fileupload(
//                'option',
//                'redirect',
//                window.location.href.replace(
//                        /\/[^\/]*$/,
//                        '/cors/result.html?%s'
//                )
//        );

        $('#fileupload').fileupload('option', {
            autoUpload:true,
            maxFileSize:10000000,
            acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
            sequentialUploads:true,
            process:[
                {
                    action:'load',
                    fileTypes:/^image\/(gif|jpeg|png)$/,
                    maxFileSize:10000000 // 6MB
                },
                {
                    action:'resize',
                    maxWidth:1400,
                    maxHeight:1400
                },
                {
                    action:'save'
                }
            ]
        });

        $('#fileupload').bind('fileuploadstarted',function () {
            $(".cancel").show();
        }).bind('fileuploadsent',function () { // Triggered after a file is about to be sent
                    $(".submit-form").attr("disabled", "disabled");
                }).bind('fileuploaddone',function (e, data) {
                    $(".delete").show();
                }).bind('fileuploaddestroy',function (e, data) {
                    setPictureDisplayOrder();
                }).bind('fileuploadstopped', function (e, data) {
                    $(".submit-form").removeAttr("disabled");
                    $(".cancel").hide();
                });

        // Load existing files:
        $('#fileupload').each(function () {
            var that = this;
            $.getJSON(this.action, function (result) {
                if (result && result.length) {
                    $(that).fileupload('option', 'done')
                            .call(that, null, {result:result});
                }
            });
        });
    });

</script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="/assets/fileupload/cors/jquery.xdr-transport.js"></script><![endif]-->