<%= form_for @upload, :url => handle_upload_url, :html => { :style => 'width:100%', :multipart => true, :id => "fileupload" } do |f| %>

<div id="formUploadBox">
<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div class="row fileupload-buttonbar">
</div>

<!-- The loading indicator is shown during image processing -->
<div class="fileupload-loading"></div>
<br>
<!-- The table listing the files available for upload/download -->
    <ul class="files unstyled" data-toggle="modal-gallery" data-target="#modal-gallery"></ul>

</div>
<div class="row" style="margin:0px;">
        <br>
        <div class="fancyUsername" style="text-align:center; margin-bottom:10px;">or...</div>
        <div class="btn btn-inverse fileinput-button" style="width:100%; padding:10px 0px 10px 0px; border-width:0px; font-size:1.2em; margin-bottom:20px;">
        <span>Manually choose files to upload</span>
            <%= f.file_field :path, :multiple => "" %>
        </div>
        <div>
<!--             <![if !IE]>
                You can multi-select up to 8 photos at a time.
            <![endif]> -->
            <b>Tip:</b> Your first picture is the one everyone sees, so make sure it's the best one! Feel free to drag the photos to change their order.
        </div>
</div>
<% end %>
<% content_for :headContent do -%>
    <style>
        .preview img {
            max-width:72px; max-height:72px; border:1px solid #333;
        }
    </style>
    <%= javascript_include_tag 'fileupload/jquery.fileupload','fileupload/jquery.iframe-transport','fileupload/tmpl.min','fileupload/load-image.min.js','fileupload/canvas-to-blob.min.js','fileupload/jquery.fileupload-fp','fileupload/jquery.fileupload-ui','fileupload/locale' %>
    <%= stylesheet_link_tag('jquery.fileupload-ui') %>
    <script>
        $(document).bind('drop dragover', function (e) {
            $(".dropTip").hide();
        });

            $(".cancel button").click(function (event) {
                $(".submit-form").removeAttr("disabled");

            });

            $(".fileinput-button").click(function () {
                $(".dropTip").hide();
            });

        var fileUploadErrors = {
            maxFileSize:'File is too big',
            minFileSize:'File is too small',
            acceptFileTypes:'Filetype not allowed',
            maxNumberOfFiles:'Max number of files exceeded',
            uploadedBytes:'Uploaded bytes exceed file size',
            emptyResult:'Empty file upload result'
        };
</script>


        <%= render "fileupload/queue" %>


        <%= render "fileupload/index" %>


        <%= render "fileupload/js_include_local" %>

<% end %>