
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="template-upload fade" style="padding:5px;">
        <div class="draggable-handle"></div>
        <span class="preview" style="width:80px;"><span class="fade"></span></span>
        <!--<span class="name"><span>{%=file.name%}</span></span>-->
        <!--<span class="size"><span>{%=o.formatFileSize(file.size)%}</span></span>-->
         {% if (file.error) { %}
            <span class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</span>
        {% } else if (o.files.valid && !i) { %}
            <span class="cancel">
                <div class="progress progress-success progress-striped active" style="width:50%; height:29px; margin:0px; padding:0px; display:inline-block;vertical-align:middle;">
                    <div class="bar" style="width:0%; height:29px;padding:0px;margin:0px;"></div></div>
            </span>
            <span class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span></span>
                </button>
            {% } %}</span>
        {% } %}
        <span class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white" style="margin:0px;padding:0px;"></i>
                <!--<span>{%=locale.fileupload.cancel%}</span>-->
                <span></span>
            </button>
        {% } %}</span>
    </li>
{% } %}
</script>